﻿@inherits UmbracoViewPage<Slider>
@{
    var sliders = Model.Slide.ToList();
    string indicator = "class=active";
    string active = "active";
}

<div class="container">
    <div id="myCarousel" class="carousel slide" data-ride="carousel">
        <!-- Indicators -->
        <ol class="carousel-indicators">
            @for (int i = 0; i < sliders.Count(); i++)
            {
                <li data-target="#myCarousel" data-slide-to="@i" @indicator></li>
                indicator = "";
            }
        </ol>
        <!-- Wrapper for slides -->
        <div class="carousel-inner">
            @foreach (CarouselOverlaySection slider in sliders)
            {
                SliderImage afbeelding = (SliderImage)slider.Afbeelding;
                var linkToPage = slider.LinkToPage;
                string left = slider.LeftOffsetPx + "%";
                string top = slider.TopOffsetPx + "%";
               
                <div class="item @active">
                    <img class="img-responsive" src="@afbeelding.GetCropUrl("LG")" alt="@afbeelding.Name">
                    <div class="carousel-caption" style="left: @left; top: @top;">
                        @slider.HtmlValue
                        @if (linkToPage != null) { 
                            <a href="@linkToPage.First().Link" target="_top" title="@Umbraco.GetDictionaryValue("Home.Discover")">@Umbraco.GetDictionaryValue("Home.Discover")</a>
                        }
                        
                    </div>
                </div>
                active = "";
            }
        </div>
        <!-- Left and right controls -->
        <a class="left carousel-control" href="#myCarousel" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#myCarousel" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
</div>