﻿@inherits UmbracoViewPage

@{
    var home = Model.AncestorOrSelf<Homepage>();

    var productFamilies = home.Children<ProductFamily>().Where(x => x.Operational).ToList();
    var row1 = productFamilies.Take(5);
    var row2 = productFamilies.Skip(5).Take(5);
    ProductFamily currentProductFamily = null;
    if (Model.DocumentTypeAlias.Equals("ProductFamily"))
    {
        currentProductFamily = (ProductFamily)Umbraco.TypedContent(Model.Id);
    }
}

<ul class="nav mainnav navbar-nav eerste">
    @foreach (var item in row1 ?? new List<ProductFamily>())
    {
        var subProductFamilies = item.Children<ProductFamily>().Where(x => x.IncludeInRowNavigation).ToList();
        if (subProductFamilies.Any())
        {
            var subMenuName = item.Name;
            if (currentProductFamily != null)
            {
                subMenuName = subProductFamilies.Contains(currentProductFamily) ? currentProductFamily.NavigationTitle : item.Name;
            }
            <li class="dropdown mega-dropdown @(subProductFamilies.Contains(currentProductFamily) ? "activenav" : string.Empty)">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">@Html.Raw(subMenuName) <span class="caret"></span></a>
                <ul class="dropdown-menu mega-dropdown-menu">
                    @foreach (var subitem in subProductFamilies)
                    {
                        <li class="col-md-3 @(Model.Id == subitem.Id ? "activenav" : string.Empty) col-sm-12 col-xs-12">
                            <a href="@subitem.Url">
                                <figure>
                                    <div class="text-slide-wrapper">
                                        <img src="@subitem.NavigationImage.Url" alt="@subitem.NavigationImage.Name" class="img-responsive hidden-sm hidden-xs">
                                        <div class="text-slide">
                                            <h4>@subitem.NavigationTitle</h4>
                                        </div>
                                    </div>
                                </figure>
                            </a>
                        </li>
                    }
                </ul>
            </li>
        }
        else
        {
            <li class="@(Model.Id == item.Id ? "activenav" : string.Empty)"><a href="@item.Url">@Html.Raw(item.Name)</a></li>
        }
    }
</ul>
<ul class="nav mainnav navbar-nav tweede">
    @foreach (var item in row2 ?? new List<ProductFamily>())
    {
        var subProductFamilies = item.Children<ProductFamily>().Where(x => x.IncludeInRowNavigation).ToList();
        if (subProductFamilies.Any())
        {
            var subMenuName = item.Name;
            if (currentProductFamily != null)
            {
                subMenuName = subProductFamilies.Contains(currentProductFamily) ? currentProductFamily.NavigationTitle : item.Name;
            }
            <li class="dropdown mega-dropdown @(subProductFamilies.Contains(currentProductFamily) ? "activenav" : string.Empty)">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">@Html.Raw(subMenuName) <span class="caret"></span></a>
                <ul class="dropdown-menu mega-dropdown-menu">
                    @foreach (var subitem in subProductFamilies)
                    {
                        <li class="col-md-3 @(Model.Id == subitem.Id ? "activenav" : string.Empty) hidden-sm hidden-xs">
                            <a href="@subitem.Url">
                                <figure>
                                    <div class="text-slide-wrapper">
                                        <img src="@subitem.NavigationImage.Url" alt="@subitem.NavigationImage.Name" class="img-responsive ">
                                        <div class="text-slide">
                                            <h4>@subitem.NavigationTitle</h4>
                                        </div>
                                    </div>
                                </figure>
                            </a>
                        </li>
                        <li class="col-sm-12 col-xs-12 hidden-md hidden-lg"><a href="@subitem.Url">@Html.Raw(subitem.Name)</a></li>
                    }
                </ul>
            </li>
        }
        else
        {
            <li class="@(Model.Id == item.Id ? "activenav" : string.Empty)"><a href="@item.Url">@Html.Raw(item.Name)</a></li>
        }
    }
</ul>