﻿@inherits Umbraco.Web.Mvc.UmbracoViewPage<IPublishedContent>

@{
    var homepage = Model.AncestorOrSelf<Homepage>();
    var footerItems = homepage.Children<FAqlist>().ToList();
}

<h2>Help</h2>
    <ul>
        <li><a href="">FAQ</a></li>
        @foreach (var footerItem in footerItems)
        {
            <li><a href="@(footerItem.Url)">@(Html.Raw(footerItem.GetPropertyValue<string>("navigationName")))</a></li>
        }
        <li><a href="">Hoe je bestanden bereiden</a></li>
        <li><a href="">ICC Kleurprofielen</a></li>
    </ul>
