﻿@inherits UmbracoViewPage
@{
    var site = Model.AncestorOrSelf<Site>();
    var taal = Culture.Substring(0, 2);
}

<header id="header">
    <div class="container-fluid top-wide">
        <div class="container">
            <div id="top-bar" class="row row-eq-height">
                <div class="col-sm-12 col-md-12 col-lg-12">
                    <div id="navbartopmenu">
                        <ul class="nav navbar-nav">
                            <li >
                                @Html.Partial("LanguageSelection")
                            </li>
                            <li class="hidden-xs"><a href="@site.UrlAbsolute()/@taal/#newsletter"><i class="fa fa-envelope-o"></i>&nbsp;@Umbraco.GetDictionaryValue("Home.Newsletter")</a></li>
                            <li class="hidden-xs"><a href="@site.UrlAbsolute()/@taal/faq"><i class="fa fa-question-circle"></i>&nbsp;@Umbraco.GetDictionaryValue("Home.FAQ")</a></li>
                            <li class="hidden-xs"><a href=""><i class="fa fa-gift"></i>&nbsp;@Umbraco.GetDictionaryValue("Home.GiftVoucher")</a></li>
                        </ul>
                        <ul class="nav navbar-nav navbar-right">
                            <li class="top-phone hidden-xs"><a href="tel:@site.Telefoonnnummer.Replace(" ", "")"><i class="fa fa-phone"></i> @site.Telefoonnnummer</a></li>
                            <li class="hidden-xs" id="liBasket">
                                <a href="#" id="lblBasketCount" ><i class="fa fa-shopping-cart" aria-hidden="true"></i>
                                </a>
                            </li>
                            <li class="hidden-xs" style="margin-right: 0px;">
                                <a href="#" data-toggle="modal" data-target="#myModal">@Umbraco.GetDictionaryValue("Home.Login")</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        @Html.Partial("LogoButtonBar")
        <div class="row redBox" id="authSection">
            <img src="/media/ajax-loader.gif" alt="loading" id="imgAuthSectionLoading"/>
            <span style="float: right;" class="glyphicon glyphicon-triangle-top btnEditUserCollapse"></span>
            <h3>@Umbraco.GetDictionaryValue("Home.MyDetails")</h3>
            @using (Ajax.BeginForm("EditUser", "AAcount",
                new {},
                new AjaxOptions {UpdateTargetId = "phEditUserForm"},
                new {@id = "frmEditUser", role = "form"}))
            {
                <div id="phEditUserForm">
                </div>
                <div id="btnSaveUserData" class="square-button square-button-smaller square-button-blue">
                    @Umbraco.GetDictionaryValue("Home.SaveDetails")
                    <img id="imgEditUserLoading" src="/media/ajax-loader.gif" style="display: none">
                </div>
            }
        </div>
        <div class="msgBox"></div>
        @Html.Partial("Navigation")
    </div>
</header>
