﻿@inherits UmbracoViewPage<AuthenticPhoto.Models.LoginPartialViewModel> 
@using AuthenticPhoto.Models
@using Microsoft.AspNet.Identity

@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "AAccount", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
        @Html.AntiForgeryToken()
        <ul class="horizontal-ul" style="padding: 0">
            @*<li>
                @Html.ActionLink("LOGGED IN" /*+ User.Identity.GetUserName() + "!"*/, "Manage", "Account", routeValues: null, htmlAttributes: new { title = "Manage" })
            </li>*@
            <li>

                @{ 
                    AuthenticPhoto.Business.Authentication.AuthenticUser
                    AuthenticUser = (AuthenticPhoto.Business.Authentication.AuthenticUser)Session["AuthenticUser"];
                    string greeting = "";
                    if(AuthenticUser != null)
                    {
                        greeting = string.IsNullOrWhiteSpace(AuthenticUser.FirstName) ? AuthenticUser.Email.Split('@')[0] : AuthenticUser.FirstName;
                    }
                }

                <button class="btn btn-default dropdown-toggle" type="button" id="loggedInLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                    @Umbraco.GetDictionaryValue("Home.Welcome")
                    <span class="darkblue-lbl">
                        @greeting
                    </span>                    
                    <span class="caret"></span>
                </button>

                <ul id="userDropDownMenu" class="dropdown-menu" aria-labelledby="loggedInLink">
                    <li><a href="javascript:showEditUserForm('@User.Identity.GetUserId()')" id="userDDEditUser">@Umbraco.GetDictionaryValue("Home.MyDetails")</a></li>                    
                    <li><a href="javascript:document.getElementById('logoutForm').submit()">@Umbraco.GetDictionaryValue("Home.Logout")</a></li>
                </ul>

            </li>
        </ul>
    }
}
else
{   
    <a class="loginLink" href="#" onclick="showAuthPopup(false)"></a>
}

<div id="authPopup" class="redBox">
    <span id="authPopupMsg" class="redlabel" style="margin: 16px; font-size: 11pt; display:none"></span>
    <div id="authPopupContent">
       @Html.Action("Login", "AAccount")
    </div>
    <div class="overlay" id="overlay_login">
        <img src="/media/ajax-loader.gif" alt="loading" />
    </div>
</div>