﻿@inherits UmbracoViewPage
<!-- Modal -->
<div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">
    
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">@Umbraco.GetDictionaryValue("Home.Login")</h4>
            </div>
            <div class="modal-body">
                <div id="login">
                    @Html.Action("Login", "AAccount")
                </div>
            </div>
        </div>
      
    </div>
</div>
