﻿@inherits UmbracoViewPage
    
@{
    var producten = Model.Children<ProductFamily>().Where(x => x.IncludeInRowNavigation).ToList();
}

<section class="threecolumns baseline-article">
    <div class="container">
        <div class="row">
            <h2>@Umbraco.GetDictionaryValue("SelecteerProductLinks") @Model.Name @Umbraco.GetDictionaryValue("SelecteerProductRechts")</h2>
            @foreach (var item in producten)
            {
                var afbeelding = item.NavigationImage;

                <div class="col col-lg-4 col-md-4 col-sm-6 col-xs-12 item">
                    <a href="@item.Url">
                        <figure>
                            <div class="text-slide-wrapper">
                                <img src="@afbeelding.Url" alt="@afbeelding.Name" class="img-responsive">
                                <div class="text-slide">
                                    <h4>@item.NavigationTitle</h4>
                                    <p>
                                        <span class="text-slide-icon">&gt;</span>
                                    </p>
                                    <div>
                                        @Html.Raw(item.NavigationHeadline)
                                    </div>

                                </div>
                            </div>
                        </figure>
                    </a>
                </div>
            }
        </div>
    </div>
</section>
