﻿@inherits UmbracoViewPage
    
@{
    List<ProductFamily> producten = new List<ProductFamily>();
    var productFamilies = Model.Children<ProductFamily>();
    foreach(var product in productFamilies)
    {
        if (product.IncludeInRowNavigation)
        {
            producten.Add(product);
        } else
        {
            if (product.Children<ProductFamily>().Any())
            {
                producten.AddRange(product.Children<ProductFamily>().Where(x => x.IncludeInRowNavigation));
            }
        }
    }
}

<section class="fourcolums baseline-article">
    <div class="container">
        <div class="row">
            @foreach (var item in producten)
            {
                var afbeelding = item.NavigationImage;

                <div class="col col-lg-3 col-md-3 col-sm-6 col-xs-12 item">
                    <a href="@item.Url">
                        <figure>
                            <div class="text-slide-wrapper">
                                <img src="@afbeelding.Url" alt="@afbeelding.Name" class="img-responsive">
                                <div class="text-slide">
                                    <h4>@item.NavigationTitle</h4>
                                    <p>
                                        <span class="text-slide-icon">&gt;</span>
                                    </p>
                                    <div>
                                        @Html.Raw(item.NavigationHeadline)
                                    </div>

                                </div>
                            </div>
                        </figure>
                    </a>
                </div>
            }
        </div>
    </div>
</section>
