﻿@inherits UmbracoViewPage<ProductFamily>
@{
    var sliders = Model.Slide.ToList();
    string indicator = "class=active";
    string active = "active";
}

<div class="container">
    <div id="myCarousel" class="carousel slide" @(sliders.Count > 1 ? "data-ride='carousel'" : string.Empty)>
        @if (sliders.Count() > 1)
        {
            <!-- Indicators -->
            <ol class="carousel-indicators">
                @for (int i = 0; i < sliders.Count(); i++)
                {
                    <li data-target="#myCarousel" data-slide-to="@i" @indicator></li>
                    indicator = "";
                }
            </ol>
        }
        
        <!-- Wrapper for slides -->
        <div class="carousel-inner">
            @foreach (CarouselOverlaySection slider in sliders)
            {
            <div class="item @active">
                @switch (slider.Afbeelding.DocumentTypeAlias)
                {
                    case "sliderImage":
                        SliderImage afbeelding = (SliderImage)slider.Afbeelding;
                        var linkToPage = slider.LinkToPage;
                        string left = slider.LeftOffsetPx + "%";
                        string top = slider.TopOffsetPx + "%";

                        <img class="img-responsive" src="@afbeelding.GetCropUrl("LG")" alt="@afbeelding.Name">
                        <div class="carousel-caption" style="left: @left; top: @top;">
                            @slider.HtmlValue
                            @if (linkToPage != null)
                            {
                                <a href="@linkToPage.First().Link" target="_top" title="@Umbraco.GetDictionaryValue("Home.Discover")">@Umbraco.GetDictionaryValue("Home.Discover")</a>
                            }

                        </div>

                        break;
                    case "File":
                        var video = (Umbraco.Web.PublishedContentModels.File)slider.Afbeelding;
                        <video id="video" autoplay>
                            <source src="@video.Url" type="video/mp4">
                        </video>
                        @*<video controls autoplay src="@video.Url" type="video/mp4"/>*@
                        <div id="video-controls">
                            <button type="button" id="play-pause" class="fas fa-pause-circle  fa-2x"/>
                            <button type="button" id="mute" class="fas fa-volume-off fa-2x"/>
                        </div>
                        break;

                }

            </div>
                active = "";
            }
        </div>
        @if (sliders.Count() > 1)
        {
            <!-- Left and right controls -->
            <a class="left carousel-control" href="#myCarousel" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="right carousel-control" href="#myCarousel" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right"></span>
                <span class="sr-only">Next</span>
            </a>
        }

    </div>
</div>