﻿@inherits UmbracoViewPage<IPublishedContent>

@{
    var currentCulture = Model.GetCulture().ToString();
    var site = (Site)Umbraco.TypedContentAtRoot().FirstOrDefault();
    var languagePages = site.Children<Homepage>().ToList();
    var currentLanguageHomePage = Model.AncestorOrSelf<Homepage>();
}
<select id="languageSelector">
@foreach (var languagePage in languagePages)
{
   <option data-homepage="@languagePage.Url" @(languagePage.Name==currentLanguageHomePage.Name? "selected" : "") >@languagePage.Name</option>
}
</select>