﻿@inherits UmbracoViewPage
    @{
        var home = Model.AncestorOrSelf<Homepage>();
        var site = Model.AncestorOrSelf<Site>();
        var pageName = (Model.Name.Equals(home.Name)) ? "Home" : Model.Name;
    }
   
<div class="container" style="position: relative;">
    <div class="row row-eq-height " >    
        <div class="hidden-xs" id="bs-example-navbar-collapse-2">
            <div class="topstickynavigation">
                <div class="col-lg-12">
                    <ul>
                        <li class="li-logo">
                            <a href="@home.Url"><img class="img img-responsive" src="@site.Logo.Url" alt="logo" title="" /></a>
                        </li>
                        <li>
                            <div class="buttons-right">
                                <button id="btnBereken" class="stickypaddingbutton hovereffectbutton productActionButton btnCalculator" data-hovercolor="#e38d13" data-color="#9e620d">@Umbraco.GetDictionaryValue("Home.CalculatePrices")</button>
                                <div id="btnBestel" class="stickypaddingbutton hovereffectbutton productActionButton btnStartOrder" data-val-connecttoexisting="@Umbraco.GetDictionaryValue("Home.ConnectToOrder")">@Umbraco.GetDictionaryValue("Home.StartOrder")</div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div></div>
    </div>
</div>

<nav class="navbar navbar-default stickyheader affix hidden-xs" data-spy="affix" data-offset-bottom="200" data-offset-top="200" id="myAffix">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-2" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>  
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-2">
            <div class="topstickynavigation2">
                <div class="col-lg-12">
                    <ul>
                        <li>
                            <a class="small-logo" href="/nl/">
                                <img src="@site.SmallLogo.Url" alt="Small-Logo">
                                <div id="home-caption">Home</div>
                            </a>
                        </li>
                        <li class="hidden-sm hidden-xs">
                            <h2 class="productfamily-title">@pageName</h2>
                        </li>
                        <li>
                            <div class="buttons-right">
                                <button id="btnBereken" class="stickypaddingbutton hovereffectbutton productActionButton btnCalculator" data-hovercolor="#e38d13" data-color="#9e620d">@Umbraco.GetDictionaryValue("Home.CalculatePrices")</button>
                                <button id="btnBestel" class="stickypaddingbutton hovereffectbutton productActionButton btnStartOrder" data-val-connecttoexisting="@Umbraco.GetDictionaryValue("Home.ConnectToOrder")">@Umbraco.GetDictionaryValue("Home.StartOrder")</button>
                                <span class="user">
                                    <a href="#" data-toggle="modal" data-target="#myModal"><i class="fa fa-user fa-3x"></i></a>
                                    <a href="#" id="lblBasketCount">
                                        <i class="fa fa-shopping-cart fa-3x" aria-hidden="true"></i>
                                    </a>
                                </span>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            @Html.Partial("_doubleRowNav")
        </div>
    </div>
</nav>