﻿@inherits UmbracoViewPage<Papiersoorten>
    
<div class="row clearfix">

    @foreach (Papiersoort item in Model.SoortenPapier)
    {
        <div class="col-md-6 column">
            <div>
                <h3 class="align-center">@item.Titel</h3>
                @item.Tekst
                <img class="img-responsive" src="@item.Afbeelding.Url" alt="@item.Afbeelding.Name" />
            </div>

        </div>
    }
    <div class="col-md-4 col-md-offset-4 thinline">&nbsp;</div>
</div>