﻿@model AuthenticPhoto.Models.ProductsOverviewViewModel

@{
    List<IPublishedContent> visibleProductsWithoutCategory = Model.ProductFamily.Children.Where(x => x.DocumentTypeAlias.InvariantEquals("Product") && !x.GetPropertyValue<string>("showInProductsNavigationMenu").ToLower().Equals("false")).ToList();
    List<IPublishedContent> categories = Model.ProductFamily.Children.Where(x => x.DocumentTypeAlias.InvariantEquals("ProductFamilyCategory")).ToList();
}

@if (visibleProductsWithoutCategory.Any())
{
    <div class="alacarteproducts col-lg-12">
        <div class="producstrow">
            <div class="row">
                <div class="col-md-6">
                    <h3>@(Html.Raw(Model.ProductFamily.GetPropertyValue<string>("navigationName")))</h3>
                </div>
            </div>
            @foreach (var product in visibleProductsWithoutCategory)
            {
                string productHref;
                if (product.GetPropertyValue<string>("redirectsToAnotherProductPage").ToLower().Equals("true"))
                {
                    UmbracoHelper helper = new UmbracoHelper(UmbracoContext.Current);

                    string productPageId = product.GetPropertyValue<string>("productIDToRedirectTo");
                    var productPage = helper.TypedContent(productPageId);

                    var sectionID = product.GetPropertyValue<string>("sectionIDToRedirectTo");

                    productHref = productPage.Url + (string.IsNullOrWhiteSpace(sectionID) ? "" : "#" + sectionID);
                }
                else
                {
                    productHref = product.Url;
                }

                <div class="col-sm-2 productitem">
                    <a href="@(productHref)">
                        <div class="productitemitem">
                            @if (product.GetPropertyValue<IPublishedContent>("navigationImage") != null)
                            {
                                <img src="@(product.GetPropertyValue<IPublishedContent>("navigationImage").Url)" class="@(product.Id == Model.ActiveProductId ? "activeRedBox":"redBox")" alt="@(product.GetPropertyValue<string>("navigationName"))">
                            }
                            <p>@Html.Raw(product.GetPropertyValue<string>("navigationName"))</p>
                        </div>
                    </a>
                </div>
            }
        </div>
    </div>
}
@if (categories.Any())
{

    <div class="alacarteproducts col-lg-12">
        <div class="producstrow">

            <div class="row">
                @for (int i = 0; i < categories.Count; i++)
                {
                    var products = categories[i].Children.Where(x => x.DocumentTypeAlias.InvariantEquals("Product") && !x.GetPropertyValue<string>("showInProductsNavigationMenu").ToLower().Equals("false")).ToList();
                    <div class="col-md-2 productitem @(i>=1 ? "productitem-margin":"")">
                        <h3>@(categories[i].Name)</h3>
                    </div>
                    for (int j = 1; j < products.Count; j++)
                    {
                        <div class="col-md-2 productitem"></div>
                    }
                }
            </div>
            @for (int i = 0; i < categories.Count; i++)
            {
                var products = categories[i].Children.Where(x => x.DocumentTypeAlias.InvariantEquals("Product") && !x.GetPropertyValue<string>("showInProductsNavigationMenu").ToLower().Equals("false")).ToList();
                for (int j = 0; j < products.Count; j++)
                {
                    <div class="col-sm-2 productitem @(i>=1&&j==0 ? "productitem-margin":"")">
                        <a href="@(products[j].Url)">
                            <div class="productitemitem">
                                @if (products[j].GetPropertyValue<IPublishedContent>("navigationImage") != null)
                                {
                                    <img class="@(products[j].Id == Model.ActiveProductId ? "activeRedBox":"redBox")" src="@(products[j].GetPropertyValue<IPublishedContent>("navigationImage").Url)" alt="@(products[j].GetPropertyValue<string>("navigationName"))">
                                }
                                <p>@Html.Raw(products[j].GetPropertyValue<string>("navigationName"))</p>
                            </div>
                        </a>
                    </div>
                }

            }
        </div>

    </div>
}