﻿@using Our.Umbraco.Vorto.Extensions
@inherits UmbracoViewPage<Schaduwvoeglijst>
@{
    var aantalKleuren = Model.Kleuren.Count();
    var aantalTechnische = Model.TechnischeTekeningen.Count();
}
<div class="row clearfix">
    <h2>@Model.Titel</h2>
    <div class="col-md-8 column">
        <div>
            <img class="img-responsive" src="@Model.VolledigBeeld.Url?anchor=center&amp;mode=crop" alt="@Model.VolledigBeeld.Name" />
        </div>
    </div>
    <div class="col-md-4 column">
        <div>@Model.Tekst</div>
    </div>
</div>
<div class="row clearfix">
    @foreach (ImagePlusRte kleur in Model.Kleuren)
    {
        Image afbeelding = (Image) kleur.Afbeelding;
        var tekst = kleur.GetVortoValue("Tekst");
        <div class="@(aantalKleuren == 5 ? "col-lg-5ths col-md-5ths" : "col-md-3 col-lg-3") col-sm-12 col-xs-12 column">
            <img class="img-responsive" alt='@afbeelding.Name' src="@afbeelding.Url">
            <div class="subtext align-center">@Html.Raw(tekst)</div>
        </div>
    }
</div>
<div class="row clearfix">
    @foreach (ImagePlusRte item in Model.TechnischeTekeningen)
    {
        Image afbeelding = (Image)item.Afbeelding;
        var tekst = item.GetVortoValue("Tekst");
        <div class="@(aantalTechnische == 3 ? "col-lg-4 col-md-4" : "col-md-6 ") column">
            <div>
                <img class="img-responsive" alt='@afbeelding.Name' src="@afbeelding.Url?anchor=center&amp;mode=crop">
                <div class="subtext align-center">
                    @Html.Raw(tekst)
                </div>
            </div>
        </div>
    }
</div>
<div class="col-md-4 col-md-offset-4 thinline">&nbsp;</div>
