﻿@using Microsoft.AspNet.Identity;
@model AuthenticPhoto.Business.Authentication.AuthenticUser
@{
    ViewBag.Title = "Register";
}

<script type="text/javascript">
    $(document).ready(function () {
        initRegisterPane();
    });
</script>


@using (Ajax.BeginForm("Register", "AAccount",
                                        null,
                                        new AjaxOptions { UpdateTargetId = "authSection" },
                                        new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    
    
    <table style="width:100%" class="wideFormTable">
        <tr>
            <td width="50%" style="vertical-align: top">
                <table cellspacing="10">

                    <tr>
                        <td width="25%">
                            @Html.LabelFor(m => m.LanguageCode, new { @class = "control-label" })
                            <span class="required">&#8226;</span>
                        </td>
                        <td width="75%">
                            @Html.RadioButtonFor(m => m.LanguageCode, "nl", new { @Id = "rbNl" })
                            <label for="rbNl">NL</label>
                            @Html.RadioButtonFor(m => m.LanguageCode, "fr", new { @Id = "rbFr" })
                            <label for="rbFr">FR</label>
                            @Html.RadioButtonFor(m => m.LanguageCode, "en", new { @Id = "rbEn" })
                            <label for="rbEn">EN</label>
                        </td>
                    </tr>
                    <tr>
                        <td width="25%">
                            @Html.LabelFor(m => m.Title, new { @class = "control-label" })
                            <span class="required">&#8226;</span>
                        </td>
                        <td width="75%">
                            @Html.RadioButtonFor(m => m.Title, "v", new { @Id = "rbV" })
                            <label for="rbV">Mevrouw</label>
                            @Html.RadioButtonFor(m => m.Title, "m", new { @Id = "rbM" })
                            <label for="rbM">Mijnheer</label>
                        </td>
                    </tr>
                    <tr>
                        <td width="25%">
                            @Html.LabelFor(m => m.FirstName, new { @class = "control-label" })
                            <span class="required">&#8226;</span>
                        </td>
                        <td width="75%">
                            @Html.TextBoxFor(m => m.FirstName, new { @class = "form-control" })
                        </td>
                    </tr>
                    <tr>
                        <td width="25%">
                            @Html.LabelFor(m => m.FamilyName, new { @class = "control-label" })
                            <span class="required">&#8226;</span>
                        </td>
                        <td width="75%">
                            @Html.TextBoxFor(m => m.FamilyName, new { @class = "form-control" })
                        </td>
                    </tr>
                    <tr>
                        <td width="25%">
                            @Html.LabelFor(m => m.Address, new { @class = "control-label" })
                            <span class="required">&#8226;</span>
                        </td>
                        <td width="75%">
                            @Html.TextBoxFor(m => m.Address, new { @class = "form-control" })
                        </td>
                    </tr>
                    <tr>
                        <td width="25%">
                            @Html.LabelFor(m => m.PostalCode, new { @class = "control-label" })
                            <span class="required">&#8226;</span>
                        </td>
                        <td width="75%">
                            @Html.TextBoxFor(m => m.PostalCode, new { @class = "form-control" })
                        </td>
                    </tr>
                    <tr>
                        <td width="25%">
                            @Html.LabelFor(m => m.Place, new { @class = "control-label" })
                            <span class="required">&#8226;</span>
                        </td>
                        <td width="75%">
                            @Html.TextBoxFor(m => m.Place, new { @class = "form-control" })
                        </td>
                    </tr>
                    <tr>
                        <td width="25%">
                            @Html.LabelFor(m => m.Country, new { @class = "control-label" })
                            <span class="required">&#8226;</span>
                        </td>
                        <td width="75%">
                            @Html.TextBoxFor(m => m.Country, new { @class = "form-control" })
                        </td>
                    </tr>
                </table>


                <span class="required" style="display:block; margin-top: 10px; font-size: 8pt;">&#8226; Verplichte velden</span>

            </td>
            <td width="50%" style="vertical-align: top">
                <table>
                    <tr>
                        <td width="25%">
                            @Html.LabelFor(m => m.Birthday, new { @class = "control-label" })*
                        </td>
                        <td width="75%">
                            @Html.TextBoxFor(m => m.Birthday, new { @Id = "tbRegBirthday", @class = "form-control" })
                            <div class="smallprintDiv">*Klanten bekomen een geschenk op hun verjaardag</div>
                        </td>
                    </tr>
                    <tr>
                        <td width="25%">
                            @Html.LabelFor(m => m.PhoneNumber, new { @class = "control-label" })
                            <span class="required">&#8226;</span>
                        </td>
                        <td width="75%">
                            @Html.TextBoxFor(m => m.PhoneNumberCountryCode, new { @Id = "tbRegPhoneNumberCountryCode", @class = "form-control", @Value = "+32" })
                            @Html.TextBoxFor(m => m.PhoneNumber, new { @Id = "tbRegPhoneNumber", @class = "form-control" })
                        </td>
                    </tr>
                    <tr>
                        <td width="25%">
                            @Html.LabelFor(m => m.Company, new { @class = "control-label" })
                        </td>
                        <td width="75%">
                            @Html.TextBoxFor(m => m.Company, new { @class = "form-control" })
                        </td>
                    </tr>

                    <tr>
                        <td width="25%">
                            @Html.LabelFor(m => m.Vat, new { @class = "control-label" })
                        </td>
                        <td width="75%">
                            @Html.DropDownListFor(m => m.VatCountryCode, Model.CountryVatCodesEU, new { @Id = "ddlCountryCodes", @class = "form-control", @onblur = "$('#vatCC').val($(this).val())", @onchange = "$('#vatCC').val($(this).val())" })
                            <input readonly="readonly" type="text" id="vatCC" class="form-control" />
                            @Html.TextBoxFor(m => m.Vat, new { @Id = "vatNr", @class = "form-control" })
                        </td>
                    </tr>

                    <tr>
                        <td width="25%">
                            @Html.LabelFor(m => m.Email, new { @class = "control-label" })
                            <span class="required">&#8226;</span>
                        </td>
                        <td width="75%">
                            @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                        </td>
                    </tr>
                    <tr>
                        <td>
                            @Html.LabelFor(m => m.Password, new { @class = "control-label" })
                            <span class="required">&#8226;</span>
                        </td>
                        <td>
                            @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                        </td>
                    </tr>
                    <tr>
                        <td>
                            @Html.LabelFor(m => m.ConfirmPassword, new { @class = "control-label" })
                            <span class="required">&#8226;</span>
                        </td>
                        <td>
                            @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
                        </td>
                    </tr>
                </table>


            </td>
        </tr>
    </table>


    @Html.ValidationSummary("", new { @class = "text-danger" })

}

@*@section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }*@