﻿@model AuthenticPhoto.Models.LoginViewModel

@{
    ViewBag.Title = "Log in";
}

<section id="loginForm">
    @using (Ajax.BeginForm("Login", "AAccount",
                                        new { ReturnUrl = ViewBag.ReturnUrl },
                                        new AjaxOptions { UpdateTargetId = "authPopup", OnSuccess = "loginFeedback(data)" },
                                        new { @class = "form-horizontal", role = "form" }))
    {
        @*@Html.AntiForgeryToken()*@
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="form-group">
            @Html.LabelFor(m => m.Email, new { @class = "login-lbl" })
            <br />
            <div>
                @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
            </div>
            @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.Password, new { @class = "login-lbl" })
            <br />
            <div>
                @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                <input type="submit" value="OK" class="btn btn-success btn-inline" />
            </div>
            @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
        </div>
        <hr />
        <div class="form-group">
            @Ajax.ActionLink("Nieuwe gebruiker? Nu registreren", "QuickRegister", "AAccount",
            null,
            new AjaxOptions
            {
                HttpMethod = "GET",
                InsertionMode = InsertionMode.Replace,
                UpdateTargetId = "authPopup"
                //OnSuccess = "showAuthSection"   
            },
            new { @class = "btn btn-danger btn-registernow" }
           )
        </div>
        @* Enable this once you have account confirmation enabled for password reset functionality
            <p>
                @Html.ActionLink("Forgot your password?", "ForgotPassword")
            </p>*@
    }
</section>

@*@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}*@
