﻿@inherits UmbracoViewPage<AuthenticPhoto.Business.Authentication.AuthenticUser>
@{
    ViewBag.Title = "Register";
}

<script type="text/javascript">
    initQuickRegisterPane();
</script>

@using (Ajax.BeginForm("QuickRegister", "AAccount",
                                        null,
                                        new AjaxOptions { UpdateTargetId = "authPopupContent" },
                                        new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()

    <span class="title">Registreer nu als nieuwe Gebruiker</span>

    <div class="form-group">
        @Html.LabelFor(m => m.Email, new { @class = "login-lbl" })
        <br />
        <div>
            @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
        </div>
    </div>
    
    <div class="form-group">
        @Html.LabelFor(m => m.Password, new { @class = "control-label" })
        <br />
        <div>
            @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.ConfirmPassword, new { @class = "control-label" })
        <br />
        <div>
           @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
            <input type="submit" value="OK" class="btn btn-success btn-inline" />
        </div>
    </div>
    
    @Html.ValidationSummary("", new { @class = "text-danger" })

}

