﻿@using Our.Umbraco.Vorto.Extensions
@using Our.Umbraco.Vorto.Models
@using Umbraco.Web.Extensions
@using Umbraco.Web.Models
@inherits Umbraco.Web.Macros.PartialViewMacroPage

@{
    var parameter = Model.MacroParameters["content"].ToString();
    var garantieUdi = Umbraco.GetIdForUdi(Udi.Parse(parameter));
    var content = (ColumnTexts)Umbraco.TypedContent(garantieUdi);

    var titel = content.GetVortoValue("Title");
     
    var column1Content = content.GetVortoValue("column1Content");
    
    var column2Content = content.GetVortoValue("column2Content");
    
}

<article class="two-columns-sections" id="authentic">
    <section class="container">
        <div class="row">
            @Html.Raw(titel)
            <div class="col-lg-6 col-md-6 col-sm-12">
                <div class="inner-left">
                    @Html.Raw(column1Content)
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12">
                <div class="inner-right">
                    @Html.Raw(column2Content)
                </div>
            </div>
        </div>
    </section>
</article>