﻿@inherits Umbraco.Web.Macros.PartialViewMacroPage

@functions {
    private string GetTranslation(string key)
    {

        if (Context.Session == null)
        {
            return "";
        }

        var content = Model.Content;
        IPublishedContent homepage = content.AncestorOrSelf("Homepage");
        string cultinfo = GetUmbracoCulture();

        object transObj = Context.Session[cultinfo + "." + key];
        if (transObj == null)
        {
            string result = GetDictionaryValue(key, cultinfo);
            Context.Session[cultinfo + "." + key] = result;
            return result;
        }
        else return (string)transObj;
    }
    public string GetDictionaryValue(string key, string iso)
    {
        var dictionaryItem = UmbracoContext.Current.Application.Services.LocalizationService.GetDictionaryItemByKey(key);
        if (dictionaryItem != null)
        {
            var translation = dictionaryItem.Translations.SingleOrDefault(x => x.Language.IsoCode.Equals(iso));
            if (translation != null)
                return translation.Value.Replace("\\n", "<br/>");
        }
        return key;
    }

    public string GetUmbracoCulture()
    {
        var content = Model.Content;
        IPublishedContent homepage = content.AncestorOrSelf("Homepage");
        string cultinfo = (string)homepage.Properties.FirstOrDefault(p => p.PropertyTypeAlias == "cultureinfo").DataValue;
        return cultinfo;
    }

}

@{

    string baselineTitle = GetTranslation("Home.Baseline.BijkomendeDiensten.Title");

    UmbracoHelper umbracoHelper = new UmbracoHelper(UmbracoContext.Current);
    IPublishedContent htmlTemplates = umbracoHelper.TypedContent(1490);

    IPublishedContent dienst1Template = htmlTemplates.Children.FirstOrDefault(c => c.Name.ToLower().Trim().Equals("baseline - bijkomende diensten - dienst 1"));
    IPublishedContent dienst2Template = htmlTemplates.Children.FirstOrDefault(c => c.Name.ToLower().Trim().Equals("baseline - bijkomende diensten - dienst 2"));
    IPublishedContent dienst3Template = htmlTemplates.Children.FirstOrDefault(c => c.Name.ToLower().Trim().Equals("baseline - bijkomende diensten - dienst 3"));
    IPublishedContent dienst4Template = htmlTemplates.Children.FirstOrDefault(c => c.Name.ToLower().Trim().Equals("baseline - bijkomende diensten - dienst 4"));
    IPublishedContent dienst5Template = htmlTemplates.Children.FirstOrDefault(c => c.Name.ToLower().Trim().Equals("baseline - bijkomende diensten - dienst 5"));
    IPublishedContent dienst6Template = htmlTemplates.Children.FirstOrDefault(c => c.Name.ToLower().Trim().Equals("baseline - bijkomende diensten - dienst 6"));

    string dienst1Description = dienst1Template.GetPropertyValue<string>("description");
    string dienst2Description = dienst2Template.GetPropertyValue<string>("description");
    string dienst3Description = dienst3Template.GetPropertyValue<string>("description");
    string dienst4Description = dienst4Template.GetPropertyValue<string>("description");
    string dienst5Description = dienst5Template.GetPropertyValue<string>("description");
    string dienst6Description = dienst6Template.GetPropertyValue<string>("description");

    string dienst1Name = dienst1Template.GetPropertyValue<string>("name");
    string dienst2Name = dienst2Template.GetPropertyValue<string>("name");
    string dienst3Name = dienst3Template.GetPropertyValue<string>("name");
    string dienst4Name = dienst4Template.GetPropertyValue<string>("name");
    string dienst5Name = dienst5Template.GetPropertyValue<string>("name");
    string dienst6Name = dienst6Template.GetPropertyValue<string>("name");

    var dienst1ImageUrl = ((IPublishedContent)dienst1Template.GetPropertyValue("image")).Url;
    var dienst2ImageUrl = ((IPublishedContent)dienst2Template.GetPropertyValue("image")).Url;
    var dienst3ImageUrl = ((IPublishedContent)dienst3Template.GetPropertyValue("image")).Url;
    var dienst4ImageUrl = ((IPublishedContent)dienst4Template.GetPropertyValue("image")).Url;
    var dienst5ImageUrl = ((IPublishedContent)dienst5Template.GetPropertyValue("image")).Url;
    var dienst6ImageUrl = ((IPublishedContent)dienst6Template.GetPropertyValue("image")).Url;

}

<article class="baseline-article">
    <section class="container">
        <h2>
            @Html.Raw(baselineTitle)
        </h2>
    </section>
</article>

<article class="threecolumns">
    <section class="container">
        <section class="col col-lg-4 col-md-4">
            <figure>
                <div class="text-slide-wrapper">
                    <img src="@dienst1ImageUrl" alt="@dienst1Name" class="img-responsive">
                    <div class="text-slide">
                        <h4>@dienst1Name</h4>
                        <span class="text-slide-icon">&#62;</span>
                        <div>
                            @Html.Raw(dienst1Description)
                        </div>
                    </div>
                </div>
            </figure>
        </section>
        <section class="col col-lg-4 col-md-4">
            <figure>
                <div class="text-slide-wrapper">
                    <img src="@dienst2ImageUrl" alt="@dienst2Name" class="img-responsive">
                    <div class="text-slide">
                        <h4>@dienst2Name</h4>
                        <span class="text-slide-icon">&#62;</span>
                        <div>
                            @Html.Raw(dienst2Description)
                        </div>
                    </div>
                </div>
            </figure>
        </section>
        <section class="col col-lg-4 col-md-4">
            <figure>
                <div class="text-slide-wrapper">
                    <img src="@dienst3ImageUrl" alt="@dienst3Name" class="img-responsive">
                    <div class="text-slide">
                        <h4>@dienst3Name</h4>
                        <span class="text-slide-icon">&#62;</span>
                        <div>
                            @Html.Raw(dienst3Description)
                        </div>
                    </div>
                </div>
            </figure>
        </section>
    </section>
</article>
<article class="threecolumns">
    <section class="container">
        <section class="col col-lg-4 col-md-4">
            <figure>
                <div class="text-slide-wrapper">
                    <img src="@dienst4ImageUrl" alt="@dienst4Name" class="img-responsive">
                    <div class="text-slide">
                        <h4>@dienst4Name</h4>
                        <span class="text-slide-icon">&#62;</span>
                        <div>
                            @Html.Raw(dienst4Description)
                        </div>
                    </div>
                </div>
            </figure>
        </section>
        <section class="col col-lg-4 col-md-4">
            <figure>
                <div class="text-slide-wrapper">
                    <img src="@dienst5ImageUrl" alt="@dienst5Name" class="img-responsive">
                    <div class="text-slide">
                        <h4>@dienst5Name</h4>
                        <span class="text-slide-icon">&#62;</span>
                        <div>
                            @Html.Raw(dienst5Description)
                        </div>
                    </div>
                </div>
            </figure>
        </section>
        <section class="col col-lg-4 col-md-4">
            <figure>
                <div class="text-slide-wrapper">
                    <img src="@dienst6ImageUrl" alt="@dienst6Name" class="img-responsive">
                    <div class="text-slide">
                        <h4>@dienst6Name</h4>
                        <span class="text-slide-icon">&#62;</span>
                        <div>
                            @Html.Raw(dienst6Description)
                        </div>
                    </div>
                </div>
            </figure>
        </section>
    </section>
</article>
