﻿@using Our.Umbraco.Vorto.Models;
@inherits Umbraco.Web.Macros.PartialViewMacroPage

@functions {
    private string GetTranslation(string key)
    {

        if(Context.Session == null)
        {
            return "";
        }

        var content = Model.Content;
        IPublishedContent homepage = content.AncestorOrSelf("Homepage");
        string cultinfo = (string)homepage.Properties.FirstOrDefault(p => p.PropertyTypeAlias == "cultureinfo").DataValue;

        object transObj = Context.Session[cultinfo + "." + key];
        if (transObj == null)
        {
            string result = GetDictionaryValue(key, cultinfo);
            Context.Session[cultinfo + "." + key] = result;
            return result;
        }
        else return (string)transObj;
    }
    public string GetDictionaryValue(string key, string iso)
    {
        var dictionaryItem = UmbracoContext.Current.Application.Services.LocalizationService.GetDictionaryItemByKey(key);
        if (dictionaryItem != null)
        {
            var translation = dictionaryItem.Translations.SingleOrDefault(x => x.Language.IsoCode.Equals(iso));
            if (translation != null)
                return translation.Value.Replace("\\n", "<br/>");
        }
        return key;
    }

    public string GetUmbracoCulture()
    {
        if(Context.Session == null)
        {
            return "nl";
        }
        object cult = Context.Session["umbracoculture"];
        return cult == null ? "nl" : (string)cult;
    }

}

@{

    string newsLetterCta = GetTranslation("Home.Newsletter.Cta");
    string firstName = GetTranslation("UserData.Firstname");
    string lastName = GetTranslation("UserData.Lastname");
    string send = GetTranslation("General.Send");
    string voucher = GetTranslation("Home.Newsletter.Voucher");

    string baselineTitle = GetTranslation("Home.Baseline.Title");

    UmbracoHelper umbracoHelper = new UmbracoHelper(UmbracoContext.Current);
    IPublishedContent htmlTemplates = umbracoHelper.TypedContent(1490);

    IPublishedContent column1Template = htmlTemplates.Children.FirstOrDefault(c => c.Name.ToLower().Trim().Equals("baseline kolom 1"));
    IPublishedContent column2Template = htmlTemplates.Children.FirstOrDefault(c => c.Name.ToLower().Trim().Equals("baseline kolom 2"));
    IPublishedContent column3Template = htmlTemplates.Children.FirstOrDefault(c => c.Name.ToLower().Trim().Equals("baseline kolom 3"));

    VortoValue vvCol1Html = (VortoValue)column1Template.GetPropertyValue("html");
    VortoValue vvCol2Html = (VortoValue)column2Template.GetPropertyValue("html");
    VortoValue vvCol3Html = (VortoValue)column3Template.GetPropertyValue("html");

    string col1Html = vvCol1Html.Values[GetUmbracoCulture()].ToString();
    string col2Html = vvCol2Html.Values[GetUmbracoCulture()].ToString();
    string col3Html = vvCol3Html.Values[GetUmbracoCulture()].ToString();

}

<article id="nieuwsbrief">

    <section class="container">
        <div class="col-lg-8 col-md-8 nieuwsbriefcol">
            <div class="nieuwsbrieftekst">@Html.Raw(newsLetterCta)</div>
            <form id="newsletter-form" lpformnum="1" onsubmit="return false">
                <fieldset class="form-group">
                    <input type="text" class="form-control" id="newsletter-form-firstname" placeholder="@firstName" style="width:39%">
                    <input type="text" class="form-control" id="newsletter-form-lastname" placeholder="@lastName" style="width:37%;margin-left:2%;">
                </fieldset>
                <fieldset class="form-group" style="margin-top:2%;">
                    <input type="text" class="form-control" id="newsletter-form-email" placeholder="e-mail">
                    <button id="newsletter-form-submit" type="submit" class="btn btn-primary">@send</button>
                </fieldset>
                <span id="newsletter-form-feedback" style="display:none"></span>
            </form>
        </div>
        <div class="borderline">&nbsp;</div> 
        <div class="col-lg-4 col-md-4 nieuwsbriefcol bedrag"><span class="tieneuro">10 €</span><span class="waardebon">@Html.Raw(voucher)</span></div>
    </section>
</article>

<article>
    <section class="container">
        <h1 class="headline">
            @Html.Raw(baselineTitle)
        </h1>
    </section>
</article>

<article id="wie">
    <section class="container">
        <section class="col-lg-4 col-md-4 col-sm-12">
            <p style="float: left">
                @Html.Raw(col1Html)
            </p>
        </section>
        <section class="col-lg-4 col-md-4 col-sm-12">
            <p style="margin: auto">
               @Html.Raw(col2Html)
            </p>
        </section>
        <section class="col-lg-4 col-md-4 col-sm-12">
            <p style="float: right">
                @Html.Raw(col3Html)
            </p>
        </section>
    </section>
</article>

