﻿@using Our.Umbraco.Vorto.Models;
@inherits Umbraco.Web.Macros.PartialViewMacroPage

@functions {
    private string GetTranslation(string key)
    {

        if (Context.Session == null)
        {
            return "";
        }

        var content = Model.Content;
        IPublishedContent homepage = content.AncestorOrSelf("Homepage");
        string cultinfo = GetUmbracoCulture();

        object transObj = Context.Session[cultinfo + "." + key];
        if (transObj == null)
        {
            string result = GetDictionaryValue(key, cultinfo);
            Context.Session[cultinfo + "." + key] = result;
            return result;
        }
        else return (string)transObj;
    }
    public string GetDictionaryValue(string key, string iso)
    {
        var dictionaryItem = UmbracoContext.Current.Application.Services.LocalizationService.GetDictionaryItemByKey(key);
        if (dictionaryItem != null)
        {
            var translation = dictionaryItem.Translations.SingleOrDefault(x => x.Language.IsoCode.Equals(iso));
            if (translation != null)
                return translation.Value.Replace("\\n", "<br/>");
        }
        return key;
    }

    public string GetUmbracoCulture()
    {
        var content = Model.Content;
        IPublishedContent homepage = content.AncestorOrSelf("Homepage");
        string cultinfo = (string)homepage.Properties.FirstOrDefault(p => p.PropertyTypeAlias == "cultureinfo").DataValue;
        return cultinfo;
    }

}

@{
    string mapCaption1 = GetTranslation("Home.Baseline.KaartEnVideo.KaartOverlay1");
    string mapCaption2 = GetTranslation("Home.Baseline.KaartEnVideo.KaartOverlay2");
}


<article id="home-intro">
    <section class="container">
        <div class="col-lg-12">
            <div class="row row-eq-height">
                <div class="col-lg-6 col-md-6 col-sm-6 video-container">
                    <div class="vid" style="background-image:url(/media/1259/world_map.jpg); background-repeat:no-repeat; background-size: 101%; border: 1px solid #c91d28">
                        <div class="caption">
                            @mapCaption1
                            <br><br>
                            <b>@mapCaption2</b>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6 video-container">
                    <div class="vid">
                        <iframe width="640" height="360" src="https://www.youtube.com/embed/f1yR-9qGcKU?rel=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>
                    </div>
                </div>
            </div>
        </div>
    </section>
</article>