﻿@using Our.Umbraco.Vorto.Models;
@inherits Umbraco.Web.Macros.PartialViewMacroPage

@functions {
    private string GetTranslation(string key)
    {

        if(Context.Session == null)
        {
            return "";
        }

        var content = Model.Content;
        IPublishedContent homepage = content.AncestorOrSelf("Homepage");
        string cultinfo = GetUmbracoCulture();

        object transObj = Context.Session[cultinfo + "." + key];
        if (transObj == null)
        {
            string result = GetDictionaryValue(key, cultinfo);
            Context.Session[cultinfo + "." + key] = result;
            return result;
        }
        else return (string)transObj;
    }
    public string GetDictionaryValue(string key, string iso)
    {
        var dictionaryItem = UmbracoContext.Current.Application.Services.LocalizationService.GetDictionaryItemByKey(key);
        if (dictionaryItem != null)
        {
            var translation = dictionaryItem.Translations.SingleOrDefault(x => x.Language.IsoCode.Equals(iso));
            if (translation != null)
                return translation.Value.Replace("\\n", "<br/>");
        }
        return key;
    }

    public string GetUmbracoCulture()
    {
        var content = Model.Content;
        IPublishedContent homepage = content.AncestorOrSelf("Homepage");
        string cultinfo = (string)homepage.Properties.FirstOrDefault(p => p.PropertyTypeAlias == "cultureinfo").DataValue;
        return cultinfo;
    }

}

@{

    string baselineTitle = GetTranslation("Home.Baseline.AuthenticLevertOveral.Title");

    UmbracoHelper umbracoHelper = new UmbracoHelper(UmbracoContext.Current);
    IPublishedContent htmlTemplates = umbracoHelper.TypedContent(1490);

    IPublishedContent column1Template = htmlTemplates.Children.FirstOrDefault(c => c.Name.ToLower().Trim().Equals("baseline - authentic levert overal - kolom 1"));
    IPublishedContent column2Template = htmlTemplates.Children.FirstOrDefault(c => c.Name.ToLower().Trim().Equals("baseline - authentic levert overal - kolom 2"));
    IPublishedContent column3Template = htmlTemplates.Children.FirstOrDefault(c => c.Name.ToLower().Trim().Equals("baseline - authentic levert overal - kolom 3"));

    VortoValue vvCol1Html = (VortoValue)column1Template.GetPropertyValue("html");
    VortoValue vvCol2Html = (VortoValue)column2Template.GetPropertyValue("html");
    VortoValue vvCol3Html = (VortoValue)column3Template.GetPropertyValue("html");

    string cult = GetUmbracoCulture();

    string col1Html = vvCol1Html.Values[cult].ToString();
    string col2Html = vvCol2Html.Values[cult].ToString();
    string col3Html = vvCol3Html.Values[cult].ToString();

}

<article class="baseline-article">
    <section class="container">
        <h2>
            @Html.Raw(baselineTitle)
        </h2>
    </section>
</article>

<article id="wie">
    <section class="container">
        <section class="col-lg-4 col-md-4 col-sm-12">
            <p style="float: left">
                @Html.Raw(col1Html)
            </p>
        </section>
        <section class="col-lg-4 col-md-4 col-sm-12">
            <p style="margin: auto">
                @Html.Raw(col2Html)
            </p>
        </section>
        <section class="col-lg-4 col-md-4 col-sm-12">
            <p style="float: right">
                @Html.Raw(col3Html)
            </p>
        </section>
    </section>
</article>

