﻿@using Our.Umbraco.Vorto.Models;
@inherits Umbraco.Web.Macros.PartialViewMacroPage

@functions {
    private string GetTranslation(string key)
    {
        if (Context.Session == null)
        {
            return "";
        }
        var content = Model.Content;
        IPublishedContent homepage = content.AncestorOrSelf("Homepage");
        string cultinfo = (string)homepage.Properties.FirstOrDefault(p => p.PropertyTypeAlias == "cultureinfo").DataValue;

        object transObj = Context.Session[cultinfo + "." + key];
        if (transObj == null)
        {
            string result = GetDictionaryValue(key, cultinfo);
            Context.Session[cultinfo + "." + key] = result;
            return result;
        }
        else return (string)transObj;
    }
    public string GetDictionaryValue(string key, string iso)
    {
        var dictionaryItem = UmbracoContext.Current.Application.Services.LocalizationService.GetDictionaryItemByKey(key);
        if (dictionaryItem != null)
        {
            var translation = dictionaryItem.Translations.SingleOrDefault(x => x.Language.IsoCode.Equals(iso));
            if (translation != null)
                return translation.Value.Replace("\\n", "<br/>");
        }
        return key;
    }
}

@{

    string newsLetterCta = GetTranslation("Home.Newsletter.Cta");
    string firstName = GetTranslation("UserData.Firstname");
    string lastName = GetTranslation("UserData.Lastname");
    string send = GetTranslation("General.Send");
    string voucher = GetTranslation("Home.Newsletter.Voucher");


}

<article id="nieuwsbrief">

    <section class="container">
        <div class="col-lg-8 col-md-8 nieuwsbriefcol">
            <div class="nieuwsbrieftekst">@Html.Raw(newsLetterCta)</div>
            <form id="newsletter-form" lpformnum="1" onsubmit="return false">
                <fieldset class="form-group">
                    <input type="text" class="form-control" id="newsletter-form-firstname" placeholder="@firstName" style="width:39%">
                    <input type="text" class="form-control" id="newsletter-form-lastname" placeholder="@lastName" style="width:37%;margin-left:2%;">
                </fieldset>
                <fieldset class="form-group" style="margin-top:2%;">
                    <input type="text" class="form-control" id="newsletter-form-email" placeholder="e-mail">
                    <button id="newsletter-form-submit" type="submit" class="btn btn-primary">@send</button>
                </fieldset>
                <span id="newsletter-form-feedback" style="display:none"></span>
            </form>
        </div>
        <div class="borderline">&nbsp;</div>
        <div class="col-lg-4 col-md-4 nieuwsbriefcol bedrag"><span class="tieneuro">10 €</span><span class="waardebon">@Html.Raw(voucher)</span></div>
    </section>
</article>