﻿@using Our.Umbraco.Vorto.Extensions
@using Our.Umbraco.Vorto.Models
@using Umbraco.Web.Extensions
@using Umbraco.Web.Models
@using RelatedLinks = Umbraco.Web.Models.RelatedLinks

@inherits Umbraco.Web.Macros.PartialViewMacroPage

@{
    var parameter = Model.MacroParameters["content"].ToString();
    var udi = Umbraco.GetIdForUdi(Udi.Parse(parameter));
    var content = (Footer)Umbraco.TypedContent(udi);

    var authenticLinks = content.GetVortoValue<RelatedLinks>("authenticLinks");
    var helpLinks = content.GetVortoValue<RelatedLinks>("helpLinks");

    var site = content.AncestorOrSelf<Site>();
    var adres = site.GetVortoValue("Adres");
}

<footer class="container" id="footer-on-screen">
    <div class="col-lg-12">
        <div class="row" id="footer">
            <section id="footer-about" class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                <h2>Authentic</h2>
                <ul>
                    @foreach (var item in authenticLinks)
                    {
                        <li><a href="@item.Link">@item.Caption</a></li>
                    }
                </ul>
            </section>
            <section id="footer-help" class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                <h2>Help</h2>
                <ul>
                    @foreach (var item in helpLinks)
                    {
                        <li><a href="@item.Link">@item.Caption</a></li>
                    }
                </ul>
            </section>
            <section id="footer-payment" class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                <h2>@Umbraco.GetDictionaryValue("Footer.PaymentMethods")</h2>
                <div class="col-lg-4 col-md-4 col-sm-3 col-xs-4 pay-logo"><img src="/images/visa.jpg" class="img-responsive"></div>
                <div class="col-lg-4 col-md-4 col-sm-3 col-xs-4 pay-logo"><img src="/images/mastercard.jpg" class="img-responsive"></div>
                <div class="col-lg-4 col-md-4 col-sm-3 col-xs-4 pay-logo"><img src="/images/maestro.jpg" class="img-responsive"></div>
                <div class="col-lg-4 col-md-4 col-sm-3 col-xs-4 pay-logo"><img src="/images/bancontact.jpg" class="img-responsive"></div>
                <div class="col-lg-4 col-md-4 col-sm-3 col-xs-4 pay-logo"><img src="/images/cash.jpg" class="img-responsive"></div>
            </section>
            <section id="footer-address" class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                <figure>
                    <img src="/images/logo-footer.png" />
                </figure>
                <div class="alignright">
                    @Html.Raw(adres)
                    <a href="tel:@site.Telefoonnnummer.Replace(" ", "")"><i class="fa fa-phone"></i> @site.Telefoonnnummer</a>
                    <a href="mailto:@site.Email">@site.Email</a>
                </div>
            </section>
        </div>
    </div>
    <div class="row copyright">
        &copy; Copyright Authentic 2018, Alle rechten voorbehouden
    </div>
</footer>