﻿@using Our.Umbraco.Vorto.Extensions
@using Our.Umbraco.Vorto.Models
@using Umbraco.Web.Extensions
@using Umbraco.Web.Models
@inherits Umbraco.Web.Macros.PartialViewMacroPage

@{
    var parameter = Model.MacroParameters["content"].ToString();
    var garantieUdi = Umbraco.GetIdForUdi(Udi.Parse(parameter));
    var content = (Subscribe)Umbraco.TypedContent(garantieUdi);
    
    string cta = content.GetVortoValue("NewsletterCTA").ToString();
    string firstName = Umbraco.GetDictionaryValue("UserData.Firstname");
    string lastName = Umbraco.GetDictionaryValue("UserData.Lastname");
    string send = Umbraco.GetDictionaryValue("General.Send");
    string voucher = Umbraco.GetDictionaryValue("Home.Newsletter.Voucher");
}

<article id="nieuwsbrief">
    <section class="container">
        <div class="col-lg-7 col-md-7 col-sm-7 col-xs-12 nieuwsbriefcol">
            <div class="nieuwsbrieftekst">@Html.Raw(cta)</div>
            <form id="newsletter-form" lpformnum="1" onsubmit="return false">
                <div class="form-group">
                    <input type="text" class="form-control col-lg-6 col-md-6 col-sm-12" id="newsletter-form-firstname" placeholder="@firstName">
                    <input type="text" class="form-control col-lg-6 col-md-6 col-sm-12" id="newsletter-form-lastname" placeholder="@lastName">
                </div>
                <div class="form-group" style="margin-top:2%;">
                    <input type="text" class="form-control col-md-8 col-sm-12" id="newsletter-form-email" placeholder="e-mail">
                    <button id="newsletter-form-submit" type="submit" class="btn btn-primary col-md-4 col-sm-12">@send</button>
                </div>
                <span id="newsletter-form-feedback" style="display:none"></span>
            </form>
        </div>
        <div class="col-lg-offset-7 col-lg-1 col-md-offset-7 col-md-1 col-sm-offset-7 col-sm-1">&nbsp;</div>
        @*<div class="borderline">&nbsp;</div>*@
        <div class="col-lg-4 col-md-4 col-sm-4  hidden-xs nieuwsbriefcol bedrag"><span class="tieneuro">@content.Discount €</span><span class="waardebon">@voucher</span></div>
    </section>
</article>