﻿@inherits Umbraco.Web.Macros.PartialViewMacroPage

@using Our.Umbraco.Vorto.Extensions
@using Our.Umbraco.Vorto.Models
@using Umbraco.Web.Extensions
@using Umbraco.Web.Models
@inherits Umbraco.Web.Macros.PartialViewMacroPage

@{
    var parameter = Model.MacroParameters["content"].ToString();
    var garantieUdi = Umbraco.GetIdForUdi(Udi.Parse(parameter));
    var content = (VideoBox)Umbraco.TypedContent(garantieUdi);
        
    string tekst = content.GetVortoValue("HtmlValue").ToString();
    
}

<section class="video-box">
    <div class="container">
        <div class="col-lg-12">
            <div class="row row-eq-height">
                <div class="col-lg-6 col-md-6 col-sm-6 video-container">
                    <div class="vid" style="background-image:url(@content.BackgroundImage.Url); background-repeat:no-repeat; background-size: cover; ">
                        <div class="caption">
                            @Html.Raw(tekst)
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6 video-container">
                    <div class="vid">
                        <iframe width="640" height="360" src="@content.Youtube" frameborder="0" allowfullscreen=""></iframe>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>