﻿@inherits Umbraco.Web.Macros.PartialViewMacroPage

@{
    var text1 = Model.MacroParameters["text1"].ToString();
    var text2 = Model.MacroParameters["text2"].ToString();
    var image = Umbraco.TypedMedia(Model.MacroParameters["image"]);
}
@*intro-tekst*@
<div class="col-lg-6 col-md-6 col-sm-6 video-container" @*id="garantie" style="width:640px;height:360px; background-image:url(@image.Url);"*@>
    <div class="vid" style="background-image:url(@image.Url); background-repeat:no-repeat; background-size: 101%; border: 1px solid #c91d28">
        <div class="caption">
            @Html.Raw(text1)
            <br /><br />
            <b>@Html.Raw(text2)</b>
        </div>
    </div>
</div>

