﻿@using Our.Umbraco.Vorto.Models;
@inherits Umbraco.Web.Macros.PartialViewMacroPage
@{
    var parameter = Model.MacroParameters["content"].ToString();
    var sliderUdi = Umbraco.GetIdForUdi(Udi.Parse(parameter));
    Slider content = (Slider)Umbraco.TypedContent(sliderUdi);
    var sliders = content.Slide.ToList();
    string indicator = "class=active";
    string active = "active";
}

<div class="container">
   <div id="myCarousel" class="carousel slide" data-ride="carousel">
        <!-- Indicators -->
       <ol class="carousel-indicators">
           @for (int i = 0; i < sliders.Count; i++)
           {
               <li data-target="#myCarousel" data-slide-to="@i" @indicator></li>
               indicator = "";
           }
           <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
           <li data-target="#myCarousel" data-slide-to="1"></li>
           <li data-target="#myCarousel" data-slide-to="2"></li>
       </ol>

        <!-- Wrapper for slides -->
        <div class="carousel-inner">
            @foreach (CarouselOverlaySection slider in sliders)
            {
                SliderImage afbeelding = (SliderImage) slider.Afbeelding;
                VortoValue vorto = (VortoValue) slider.GetPropertyValue("Html");
                string left = slider.LeftOffsetPx + "%";
                string top = slider.TopOffsetPx + "%";
                string htmlValue = vorto.Values[Culture].ToString();
                <div class="item @active">
                    <img class="img-responsive" src="@afbeelding.GetCropUrl("LG")" alt="@afbeelding.Name" >
                    <div class="carousel-caption" style="left: @left; top: @top;">
                        @Html.Raw(htmlValue)
                    </div>
                </div>
                active = "";
            }
            
        </div>

        <!-- Left and right controls -->
        <a class="left carousel-control" href="#myCarousel" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#myCarousel" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
</div>