﻿@inherits Umbraco.Web.Macros.PartialViewMacroPage

@{
    var uHelper = new UmbracoHelper(UmbracoContext.Current);
    //var quotes = Model.MacroParameters["quotes"].ToString().Split(new[] { "," }, StringSplitOptions.RemoveEmptyEntries).Select(Umbraco.TypedContent).Where(x => x != null);
    IEnumerable<IPublishedContent> quotes = uHelper.TypedContent(Model.MacroParameters["quotes"]).Children().ToList();
    var index = 0;
}

<article id="klanten-slider">
    <section class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="carousel slide media-carousel" id="media">
                    <div class="carousel-inner">
                        @foreach (var quoteGroupOf4 in quotes.InGroupsOf(4))
                        {
                            <div class="item @Umbraco.If(index == 0, "active")">
                                <div class="row">
                                    @foreach (var quote in quoteGroupOf4)
                                    {
                                        <div class="col-sm-3">
                                            <div class="inner">
                                                <a class="thumbnail" href="#"><img src="@(quote.GetPropertyValue<IPublishedContent>("image").Url)" alt="@(quote.GetPropertyValue<string>("quoteBy"))"></a>
                                                <blockquote>@Html.Raw(Umbraco.Field(quote, "quote", removeParagraphTags: true))</blockquote>
                                                <div class="quoteauthor">
                                                    - <span class="authorname">@(quote.GetPropertyValue<string>("quotedBy"))</span>@(Umbraco.If(!string.IsNullOrWhiteSpace(quote.GetPropertyValue<string>("location")), ",")) @(quote.GetPropertyValue<string>("location"))
                                                </div>
                                            </div>
                                        </div>
                                    }
                                </div>
                            </div>
                            index = index + 1;
                        }
                    </div>
                    <a data-slide="prev" href="#media" class="left carousel-control">‹</a>
                    <a data-slide="next" href="#media" class="right carousel-control">›</a>
                </div>
            </div>
        </div>
    </section>
</article>