﻿@using Our.Umbraco.Vorto.Models
@using Umbraco.Web.Extensions
@using Umbraco.Web.Models
@inherits Umbraco.Web.Macros.PartialViewMacroPage

@{
    var parameter = Model.MacroParameters["content"].ToString();
    var garantieUdi = Umbraco.GetIdForUdi(Udi.Parse(parameter));
    var content = (ImageRtecontainer)Umbraco.TypedContent(garantieUdi);
    var nestedContents = content.NestedContent.ToList();
    
    VortoValue vorto = (VortoValue)content.GetPropertyValue("TranslatedTitle");
    var titel = vorto.Values[Culture].ToString();
}

<section class="howToOrder">
    <div class="container">
        <div class="row">
            <h1 class="headline headlineBestelOnline">
                @titel
            </h1>
        </div>
        <div class="row">
            <div class="hover-section jumptarget" id="bestelOnline">
                <section class="bestelOnlineIcons">
                    @foreach (ImagePlusRte item in nestedContents)
                    {
                        Image afbeelding = (Image) item.Afbeelding;
                        VortoValue vorto2 = (VortoValue) item.GetPropertyValue("Tekst");
                        var tekst = vorto2.Values[Culture].ToString();
                        <div class="col-lg-2 col-md-2 iconContainer">
                            <img class="img-responsive icon" alt='@tekst' src="@afbeelding.Url">

                            <div class="subtext">
                                @Html.Raw(tekst)
                            </div>
                        </div>
                    }
                    
                </section>
            </div>
        </div>
    </div>
</section>