﻿@inherits Umbraco.Web.Macros.PartialViewMacroPage

@{
    var title = Model.MacroParameters["title"].ToString();
    var leftImage = Umbraco.TypedMedia(Model.MacroParameters["leftImage"]);
    var rightImage = Umbraco.TypedMedia(Model.MacroParameters["rightImage"]);
    var leftImageDescription = Model.MacroParameters["leftImageDescription"].ToString();
    var rightImageDescription = Model.MacroParameters["rightImageDescription"].ToString();
}

<h2>@Html.Raw(title)</h2>
<div class="row col-lg-12 col-md-12 col-sm-12">
    <div class="col-lg-4 col-md-4 col-sm-12 showroom"><img src="@leftImage.Url" class="img-responsive" alt=""></div>
    <div class="col-lg-4 col-md-4 col-sm-12 showroom"><img src="@leftImage.Url" class="img-responsive" alt=""></div>
    <a href="https://goo.gl/maps/Lmwjdd1uwG92" target="_blank">
        <div class="col-lg-4 col-md-4 col-sm-12 location"><img src="@rightImage.Url" class="img-responsive" alt=""></div>
    </a>
</div>
<div class="row col-lg-12 col-md-12 col-sm-12">
    <div class="col-lg-6 col-md-6 col-sm-12 loc-adres">
        @Html.Raw(HttpUtility.HtmlDecode(Umbraco.ReplaceLineBreaksForHtml(leftImageDescription)))
    </div>
    <div class="col-lg-6 col-md-6 col-sm-12 loc-uren">
        @Html.Raw(Umbraco.ReplaceLineBreaksForHtml(rightImageDescription))
        
    </div>
</div>