﻿@inherits Umbraco.Web.Macros.PartialViewMacroPage

@{
    var image = Umbraco.TypedMedia(Model.MacroParameters["image"]);
    var description = Model.MacroParameters["description"].ToString();
}

<div class="col-lg-8 col-md-8"><figure><img src="@image.Url" class="img-responsive" alt="@description"></figure></div>
<div class="col-lg-4 col-md-4 titlebox">
    <h2>@Html.Raw(description)</h2>
</div>