﻿@inherits Umbraco.Web.Macros.PartialViewMacroPage
@{
    var article1 = Model.MacroParameters["description1"].ToString();
    var article1Image = Umbraco.TypedMedia(Model.MacroParameters["image1"]);
    var article2 = Model.MacroParameters["description2"].ToString();
    var article2Image = Umbraco.TypedMedia(Model.MacroParameters["image2"]);
    var article3 = Model.MacroParameters["description3"].ToString();
    var article3Image = Umbraco.TypedMedia(Model.MacroParameters["image3"]);
}

<div class="row" style="margin-bottom:20px;margin-top:10px;">
    <div class="col-md-12">
        <div class="col-md-4 blueText" style="text-align:center;"><div class="col-md-12" style="border: 1px solid #c91d28;padding:0px !important;"><img src="@article1Image.Url" class="img-responsive" />@article1</div></div>
        <div class="col-md-4 blueText" style="text-align:center;"><div class="col-md-12" style="border: 1px solid #c91d28;padding:0px !important;"><img src="@article2Image.Url" class="img-responsive" />@article2</div></div>
        <div class="col-md-4 blueText" style="text-align:center;"><div class="col-md-12" style="border: 1px solid #c91d28;padding:0px !important;"><img src="@article3Image.Url" class="img-responsive" />@article3</div></div>
     </div>
</div>


