﻿@inherits Umbraco.Web.Macros.PartialViewMacroPage

@{
    var description = Model.MacroParameters["description"].ToString();
    var title = Model.MacroParameters["title"].ToString();
    var image = Umbraco.TypedMedia(Model.MacroParameters["image"]);
    var link = Model.MacroParameters["link"];
    
}
<div class="row-eq-height" id="@Umbraco.TypedContent(link).Id">
    <section class="col-lg-6 col-md-6">
        <img src="@image.Url" class="img-responsive" alt="@image.Name" style="border: 1px solid #c91d28;height:380px;object-fit: cover; -o-object-fit: cover;" />
    </section>
    <section class="col-lg-6 col-md-6">
        <h1 class="redTitle">@Html.Raw(Umbraco.ReplaceLineBreaksForHtml(title))</h1>
        <span class="blueText">@Html.Raw(Umbraco.ReplaceLineBreaksForHtml(description))</span><br /><br /><span class="blueText">
    <a href="@Umbraco.TypedContent(link).Url" style="color:#2e3a88 !important;">Read more</a>
        </span>
    <div class="row" style="padding-top:20px;">
        <button class="btn btnCalculator col-lg-3">Bereken Prijs</button>
        <button class="btn btnStartOrder col-lg-3">Bestel online</button>
    </div>
</section>
</div>
