﻿#col_img {
    position: relative;
}

.fa-info-circle {
    float: left;
}

.extras-info {
    position: absolute;
    bottom: 0;
    border: 1px solid #c5000f;
    margin: 0 0 10px 14px;
    padding-left: 14px;
    width: 98%;
    text-align: left;
    font-size: 9pt;
}
.extras-info p {
    margin: 0;
    padding: 0;
}