﻿@import url(http://fonts.googleapis.com/css?family=Quicksand:300,400);

body {
}

h3 {
    /*color: #B80000;*/
    color: #2e3a88;
}

h4 {
    color: #2e3a88;
    font-size: 12pt;
    margin-left: 5px;
}

b {
    font-family: "Open Sans bold";
}

#loadingDiv {
    border: 1px solid black;
    width: 200px;
    height: 30px;
}

.lightblanket {
    background-color: #111;
    opacity: 0.50;
    filter: alpha(opacity=50);
    -khtml-opacity: 0.50;
    -moz-opacity: 0.50;
    position: absolute;
    z-index: 9001;
    top: -500px;
    left: -500px;
    width: 200%;
    height: 200%;
    z-index: 3;
}

#basket-link {
    cursor: pointer;
}

    #basket-link img {
        width: 28px;
    }

    #basket-link span {
        border: 1px solid black;
        border-radius: 27px;
        font-size: 9pt;
        padding: 0px 4px 0px 4px;
        background-color: #2e3a88;
        color: #fff;
        font-weight: bold;
        position: relative;
        left: -13px;
        top: 7px;
    }

#span_loading {
    color: white;
    display: block;
    font-size: 15pt;
}

/* preferences */
.thumb {
    cursor: pointer;
    /*max-width: 100px;
    max-height: 75px;*/
    border: 1px solid gray;
    margin: auto;
    position: relative;
}

.thumbSelected {
    border: 4px solid #c5000f;
}

.minithumb {
    max-width: 100px;
    max-height: 100px;
    border: 1px solid #cccccc;
    margin-top: 7px;
    display: inline-block;
}

.microthumb {
    max-width: 50px;
    max-height: 50px;
    border: 1px solid #cccccc;
    margin-top: 7px;
}

.prevParent {
    margin-bottom: 30px;
}

.prevWrapper {
    background-color: #fff;
    display: inline-flex; 
    align-items: center;
    justify-content: center;
    margin: 5px;
    border: 1px solid gray;
    box-shadow: 0 0 10px gray;
}

.prev {
    
}



#product-tool-wrapper {
    width: 1280px;
    font-size: 10pt;
    margin: auto;
    position: relative;
}

#product-tool {
    position: relative;
    overflow: hidden;
}
#product-tool-blanket {
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.7);    
    position: absolute;
    z-index: 1;
    text-align: center;
    color: #c5000f;
    font-size: 14pt;    
}
#product-tool-blanket-loader {
    width: 60px;
    opacity: 0.3;
    margin-top: 40px;
}
#product-tool-blanket-caption {
    display: block;    
}

#info {
    clear: both;
}

#footer {
    clear: both;
    padding: 5px;
}

#thumbs {
    list-style: none;
    padding: 10px;
}

    #thumbs li {
        display: block;
        text-align: right;
        margin-bottom: 15px;
        position: relative;
    }

.thumbStatusIcon {
    float: left;
    width: 17px;
    position: absolute;
    cursor: pointer;
    z-index: 1;
}

.thumbStatusWarning {
    top: 2px;
    left: -6px;
}

.thumbStatusComplete {
    top: 2px;
    left: -6px;
}

.overlay {
    display: none;
    position: absolute;
    background-color: rgba(255, 255, 255, 0.8);
    background: url(data:;base64,iVBORw0KGgoAAAANSUhEUgAAAAIAAAACCAYAAABytg0kAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAgY0hSTQAAeiYAAICEAAD6AAAAgOgAAHUwAADqYAAAOpgAABdwnLpRPAAAABl0RVh0U29mdHdhcmUAUGFpbnQuTkVUIHYzLjUuNUmK/OAAAAATSURBVBhXY2RgYNgHxGAAYuwDAA78AjwwRoQYAAAAAElFTkSuQmCC) repeat scroll transparent\9; /* ie fallback png background image */
    z-index: 9999;
    color: white;
}

    .overlay .helper {
        display: inline-block;
        height: 45%;
        vertical-align: middle;
    }

    .overlay #expl {
        display: block;
        margin: auto;
        vertical-align: middle;
        text-align: center;
        color: maroon;
        font-weight: bold;
        font-size: 13pt;
    }

#prefs-table {
    border: 3px solid #eeeeee;
    clear: both;
}

#col_img {
    line-height: 30px;
    float: right;
    width: 45%;
    text-align: center;
    border-left: 3px solid #eeeeee;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

#col_prefs {
    width: 55%;
    float: left;
}

#calculatorWrapper #col_prefs {
    width: 45%;
}

#calculatorWrapper .sliderPicker {
    width: 708px;
}

#calculatorWrapper #col_img {
    width: 55%;
}

#col_prefs_thumbs {
    float: left;
    width: 18%;
    padding-top: 10px;
    overflow-y: auto;
    overflow-x: hidden;
}

#col_prefs_finishing {
    float: right;
    width: 82%;
}

.paddingdiv {
    padding: 6px 0 6px 14px;
}

.preferencesDiv {
    margin: 0 8px 0 8px;
    position: relative;
    overflow: auto;
}

.calcFinishingPrefsDiv .graybordered {
    font-size: 0.8em;
    line-height: inherit;
}

.calcFinishingPrefsDiv .info-icon {
    display: none;
}

.calcFinishingPrefsDiv .stepInfoLi {
    display: none;
}

.calcFinishingPrefsDiv .paddingdiv {
    padding: 12px 8px 0px 14px;
}

.preferencesDiv .controlArrows {
    width: 100%;
    position: absolute;
    bottom: 0;
}

    .preferencesDiv .controlArrows .btnNext {
        float: right;
        margin: 5px;
        cursor: pointer;
    }

    .preferencesDiv .controlArrows .btnPrevious {
        float: left;
        margin: 5px;
        cursor: pointer;
    }

#finishingPrefsDiv {
    display: none;
    position: relative;
    background-color: #FFF;
    z-index: 2;
    margin-bottom: 10px;
}

.calcFinishingPrefsDiv {
    display: block !important;
    min-height: 440px;
    font-size: 15px;
}

#priceDiv {
    width: 100%;
}

#signaturePrefsDiv {
    display: none;
}

#priceDetailsPrefsDiv {
    display: none;
}

    #priceDetailsPrefsDiv .paddingdiv {
        padding: 6px 5px 6px 14px;
        margin: 0;
        border: 0;
    }

    #priceDetailsPrefsDiv .a-print {
        float: right;
        color: rgb(197, 0, 15);
        cursor: pointer;
        margin-right: 5px;
    }

#prefsTabs {
    padding: 0px;
    margin: 5px 6px 0px 8px;
    font-size: 0;
}

    #prefsTabs li {
        display: inline-block;
        padding: 7px 15px 7px 15px;
        background-color: #ddd;
        margin: 0 5px 0 0;
        font-size: 11pt;
        cursor: pointer;
    }

        #prefsTabs li.activeTab {
            background-color: #c5000f;
            color: white;
        }

#liPrefsCalculator {
    background-color: #E38D13 !important;
}

.imgDdn {
    width: 6px;
    float: right;
    margin: 34px 10px 0 0;
}

.pref {
    display: inline-block;
    width: 100%;
}

.dropdownbox {
    margin: 0 auto;
    height: 29px;
    overflow: hidden;
}

.dropdownbox-active {
    background: #c5000f !important;
    color: #fff !important;
}

.graybordered {
    border-top: 1px solid #eeeeee;
    border-bottom: 1px solid #eeeeee;
    background: #FDFDFD;
}

    .graybordered > p {
        padding: 5px 0px 0px 15px;
        font-size: 1em;
        line-height: 1.4em;
        user-select: none;
        -moz-user-select: none;
        margin-bottom: 5px;
        /* Safari */
        -khtml-user-select: none;
    }

.extraslist {
    padding-left: 15px;
}

    .extraslist li {
        padding: 1px 0px 2px !important;
    }

        .extraslist li label {
            font-weight: inherit;
        }

        .extraslist li input {
            position: relative;
            top: 3px;
            margin: 2px 20px 2px 5px;
        }

.optiontype-label {
    border-bottom: 6px solid #ddd;
    margin: 0px 0px 0px 15px;
    cursor: pointer;
}

.optionTypeItem {
    margin-top: 5px;
}

#signature-thumb {
    margin-left: 14px;
}


ul.menu {
    list-style: none;
    display: inline-block;
    position: absolute;
    margin: 0 auto;
    overflow: hidden;
    z-index: 1;
    min-width: 500px;
    background: rgba(245, 245, 245, 0.96);
    color: rgb(218, 68, 68);
    user-select: none;
    -moz-user-select: none;
    max-height: 0;
    /* Safari */
    -khtml-user-select: none;
}

    ul.menu .option {
        cursor: pointer;
        -webkit-transition: all 0.1s ease-in;
        -moz-transition: all 0.1s ease-in;
        -o-transition: all 0.1s ease-in;
        transition: all 0.1s ease-in;
        border-bottom: 1px dotted rgb(218, 68, 68);
        display: block;
    }

    ul.menu .disabledoption {
        border-bottom: 1px dotted rgb(218, 68, 68);
        color: rgb(189, 189, 189);
        cursor: not-allowed;
    }

    ul.menu .title {
        cursor: default;
        border-bottom: 1px dotted black;
        font-weight: bold;
        color: #000;
        margin-left: -15px;
    }

    ul.menu li {
        padding: 1px 2px;
        line-height: 1.4em;
        white-space: nowrap;
    }

    ul.menu .option:hover {
        padding-left: 10px;
        color: rgb(254,238,223);
        background: rgb(218, 68, 68);
    }

.menu.showMenu {
    /*-moz-transform:scale(1);*/
    max-height: 500px;
    -webkit-transition: all 0.1s ease-in;
    -moz-transition: all 0.1s ease-in;
    -o-transition: all 0.1s ease-in;
    transition: all 0.1s ease-in;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.66);
}

#triggerUploadLoading {
    margin: 12px 69px 0 69px;
}

.extraInput {
    width: 50px;
    height: 25px;
    border: 1px solid red;
    text-align: center;
}

    .extraInput[readonly] {
        background-color: #ddd;
        border: 0;
    }

.dimInput {
    background-color: #ffffe8;
}

.loweredTd {
    padding-top: 20px;
}

#tblDimensions {
    text-align: left;
    margin: 6px 0 0 25px;
}

    #tblDimensions tr {
        margin: 5px 0 5px 0;
    }

    #tblDimensions td {
        padding-right: 5px;
        padding-top: 5px;
        vertical-align: top;
    }

    #tblDimensions label {
        height: 10px;
    }

    #tblDimensions input[type='checkbox'], input[type='radio'] {
        position: relative;
        top: 2px;
        margin: 0 3px 0 3px;
    }

    #tblDimensions .info-icon {
        margin: 0px 6px 2px 0px;
    }

.subtleLbl {
    font-weight: normal;
}

.subtleLbl2 {
    font-size: 10pt;
    color: #848484;
    font-weight: 100;
}

.subtleBtn {
    cursor: pointer;
    color: #c5000f;
    border: 1px solid #c5000f;
    border-radius: 7px;
    padding: 2px 4px 2px 4px;
    background-color: #fff;
}

.deleteImg {
    position: relative;
    top: -14px;
    left: 8px;
    cursor: pointer;
    float: right;
}

    .deleteImg img {
        width: 16px;
    }

.noListStyle {
    list-style: none;
}

#status {
    text-align: left;
    height: 22px;
}

#progress {
    margin: 0;
    display: inline-block;
    width: 100%;
}

#progressbarsignature {
    height: 7px;
}

.redlabel {
    color: #c5000f;
    margin: 0px;
}

.brightredlabel {
    color: #ff0000;
    margin: 0px;
}

.imgprogress {
    height: 4px;
}

.selectedFamily {
    color: #e62417 !important;
}

.sliderPicker {
    width: 578px;
    min-height: 475px;
    position: absolute;
    left: 500px;
    border: 1px solid #A7A7A7;
    background-color: #fff;
    display: none;
    /*margin-left: 11px;*/
    margin-top: 52px;
    opacity: 0;
    z-index: 1;
    /*background-image: url("/media/productpicker_shadow.png");*/
    background-repeat: repeat-y;
    /*max-height: 500px;
    overflow-y: scroll;*/
}

    .sliderPicker .option {
        cursor: pointer;
        font-size: 8pt;
        text-align: center;
        box-sizing: border-box;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        border: 2px solid #fff;
    }

    .sliderPicker .nooption {
        background-color: white;
        border-top: 1px solid rgb(221, 221, 221);
        border-bottom: 1px solid rgb(221, 221, 221);
        width: 160px;
        height: 100px;
        margin-left: 5px;
    }

    .sliderPicker .disabledoption {
        cursor: not-allowed !important;
    }

        .sliderPicker .disabledoption:hover {
            border: 2px solid #fff !important;
        }

    .sliderPicker .option .optionimage {
        background-size: 160px 100px;
        width: 160px;
        height: 100px;
        border-top: 1px solid rgb(221, 221, 221);
        border-bottom: 1px solid rgb(221, 221, 221);
    }

        .sliderPicker .option .optionimage .optionimageblanket {
            width: 160px;
            height: 100px;
            background-color: #FFF;
            opacity: 0.85;
        }

        .sliderPicker .option .optionimage .loader {
            display: inline;
            margin: auto;
            margin-top: 50px;
        }

        .sliderPicker .option .optionimage .notallowedfeedback {
            color: #c5000f;
            font-size: 8pt;
            position: relative;
            top: 45px;
        }
        .sliderPicker .product .optionimage .notallowedfeedback {
            top: 20px;
        }

    .sliderPicker p {
        max-width: 160px;
        height: 30px;
        overflow: hidden;
    }

    .sliderPicker .option:hover {
        border: 2px solid #c5000f;
    }

    .sliderPicker .selectedOption {
        border: 2px solid #c5000f;
    }

    .sliderPicker .title {
        display: block;
        font-size: 11pt;
        color: #2e3a88;
        margin: 0 0 11px 5px;
    }

    .sliderPicker p {
        margin: 5px 0 0 0;
    }

    .sliderPicker .glyphicon-ban-circle {
        font-size: 30pt;
        color: #D2D2D2;
        margin: 5px 0 0 0;
    }

#divPickBorders {
    margin: 15px;
}
#ulPickBorders {
    width: 100%;
}
#ulPickBorders li {
    cursor: pointer;
    width: 31%;
    height: 115px;
    display: inline-block;
    padding: 7px;
    perspective: 650px;
}
.bordersimulate-outer {
    width: 100%;
    height: 90%;
    border: 1px solid black;
    transform: rotateY(30deg);
    
}
.bordersimulate-inner {
    width: 100%;
    height: 100%;
    background-color: darkgray;
}
#ulPickBorders li.selected {
    border: 1px solid #c5000f;
}

.horizontal-ul li {
    display: inline;
}

.orderStep {
    display: table;
    width: 100%;
    padding: 0;
    margin: 0;
    cursor: pointer;
}

    .orderStep li {
        display: table-cell;
        padding: 0;
        margin: 0;
    }

.stepNumber {
    font-size: 18pt;
    font-family: Open Sans Light;
    color: #2E3A88;
    line-height: 25px; /* ie fix */
}

.stepInfo {
    position: relative;
    top: 6pt;
}

#productPicker ul {
    padding: 0 10px 0 10px;
}

.optionPicker ul {
    padding: 0 5px 0 5px;
    list-style: none;
}

.sliderFamilyPickerMenu {
    font-size: 10pt;
    font-weight: bold;
}

    .sliderFamilyPickerMenu li {
        margin-top: 8px;
    }

    .sliderFamilyPickerMenu li {
        display: inline-block;
        margin-right: 20px;
        color: #0e5698;
        cursor: pointer;
    }

        .sliderFamilyPickerMenu li:hover {
            color: #e62417;
        }

.sliderPickerMenu li {
    display: inline-block;
    padding: 2px;
    margin-bottom: 3px;
}

.sliderPickerMenu a {
    text-decoration: none;
}

.menuhr {
    margin: 10px 0 10px 0;
    border: 1px solid red;
}

.info-icon {
    width: 13px;
    margin: 0px 0px 2px 6px;
}

#btnMoreImages {
    float: right;
    margin-bottom: 4px;
    padding: 10px 21px 10px 17px;
}

#btnMoreImages .fa {
    margin-right: 10px;
    margin: 0 15px 0 15px;
}

#btnCheckout {
    position: absolute;
    bottom: 10px;
    right: 10px;
}

.checkoutButton {
    height: 35px;
    width: 220px;
}

.squareButton {
    padding: 6px 21px 6px 17px;
    font-size: 11pt;
    border-radius: unset;
    color: #fff;
    cursor: pointer;
    width: 230px;
}

.squareButtonYellow {
    background-color: #E38D13;
}

.squareButtonRed {
    background-color: #c5000f;
}

.squareButtonGreen {
    background-color: #4c923f;
}

#frmCheckout h3 {
    margin-top: 0px;
}

.tblOrder {
    border-collapse: collapse;
    text-align: left;
    width: 100%;
    border: 1px solid #F7CDCD;
}

.tblOrder tr td {
    height: 20px;
}

.tblOrder tr {
    height: 20px;
}

    .tblOrder td, .tblOrder th {
        padding: 0px 2px;
    }

    .tblOrder thead th {
        background: -webkit-gradient( linear, left top, left bottom, color-stop(0.05, #8C0101), color-stop(1, #B80000) );
        background: -moz-linear-gradient( center top, #8C0101 5%, #B80000 100% );
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#8C0101', endColorstr='#B80000');
        background-color: #8C0101;
        color: #FFFFFF;
        font-size: 11pt;
        border-left: 1px solid #B01C26;
        font-weight: normal;
        padding-left: 4px;
    }


        .tblOrder thead th:first-child {
            border: none;
        }

    .tblOrder tbody td {
        color: #80141C;
        border-left: 1px solid #F7CDCD;
        font-size: 9pt;
        font-weight: normal;
        line-height: 20px;
        vertical-align: top;
        padding-left: 4px;
    }

        .tblOrder tbody td .stressed {
            font-size: 12pt;
        }

        .tblOrder tbody td:first-child {
            border-left: none;
        }

    .tblOrder tbody tr:last-child td {
        border-bottom: none;
    }

    .tblOrder .bottomBorderedCell {
        border-bottom: 1px solid #F7CDCD;
    }

    .tblOrder .bottomDoubleBorderedCell {
        border-bottom: 4px double #F7CDCD;
    }

    .tblOrder .bottomBorderedRow td {
        border-bottom: 1px solid #F7CDCD;
    }

    .tblOrder .bottomDoubleBorderedRow td {
        border-bottom: 4px double #F7CDCD;
    }

    .tblOrder .topBottomBorderedRow td {
        border-bottom: 1px solid #F7CDCD;
        border-top: 1px solid #F7CDCD;
    }

    .tblOrder .price-label {
        float: right;
    }

    .tblOrder .title-label {
        max-width: 160px;
        overflow: hidden;
        margin-bottom: -6px;
    }

#calcPriceDetailsPrefsDiv .a-print {
    float: right;
    color: rgb(197, 0, 15);
    cursor: pointer;
}

#tblOrderWrapper .a-print {
    float: right;
    color: rgb(197, 0, 15);
    cursor: pointer;
}

.vat-info {
    text-align: left;
    color: darkgray;
    font-size: 10pt;
    line-height: 12pt;
    margin: 14px 0 14px 14px;
    display: block;
    clear: both;
    border: 1px solid lightgray;
    padding: 5px 5px 5px 14px;
}

#col_recap h3 {
    margin-top: 7px;
}




.btnEdit {
    display: inline-block;
}

.loader {
    width: 17px;
    margin-bottom: 2px;
    display: none;
}


.userData {
    margin-bottom: 2px;
}

    .userData .medium {
        width: 130px;
    }

    .userData .tiny {
        width: 55px;
    }

    .userData .large {
        width: 174px;
    }

    .userData input, select {
        margin-right: 3px;
    }

.ddb-icon {
    float: right;
    margin: 2px 8px 0 0;
    color: #c5000f;
}

.smallprint {
    font-size: 8pt;
}

.grayBlock {
    background-color: #F3F3F3;
    margin: 5px 7px 5px 8px;
    padding: 5px;
}

#divImagePrice {
    margin-top: 3px;
}

.priceBlockValue {
    float: right;
    margin-top: 3px;
}

#divCustomDeliveryAddress {
    display: none;
    height: 0px;
    padding: 10px;
}

#divCheckoutDelivery {
    display: none;
    height: 0px;
}

.redBox {
    border: 1px solid #B80000;
}

#divOrderPlaced {
    padding: 15px;
}

#imgLoadingTotalPrice {
    float: right;
    margin: 7px 5px 0 0;
}

.priceBlockDiv .glyphicon-hourglass {
    float: right;
    margin: 4px 5px 0 0;
    font-size: 12pt;
    color: #c5000f;
}

#divOrderRecapsIncompleteInfo {
    text-align: center;
    margin-top: 110px;
    color: #c5000f;
}

.btnTblOrderCollapse {
    color: #fff;
    border: 1px solid #fff;
    border-radius: 4px;
    margin: 4px 2px 5px 2px;
    padding: 1px 2px 1px 2px;
    cursor: pointer;
}

#totalPriceRecap {
    height: 0;
    overflow: hidden;
}

.btnStartOrder {
    cursor: pointer;
}

.productActionButton {
    cursor: pointer;
}

#calcPriceDetailsPrefsDiv .paddingdiv {
    text-align: left;
    padding-top: 0;
}



.a-login {
    text-transform: none !important;
    color: #337ab7 !important;
    font-size: 11pt;
}

#overlay_login {
    width: 100%;
    height: 600px;
    position: absolute;
    top: 0;
    text-align: center;
}

    #overlay_login img {
        margin-top: 136px;
    }

#divOptionTypesLoading {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -80px;
    text-align: center;
}

#oTypesloadingText {
    color: #c5000f;
    font-weight: bold;
}

#divCustomDeliveryAddress .customaddress-lbl {
    height: 23px;
}

#selDeliveryAddresses {
    width: 50%;
}

#divCustomDeliveryAddress .form-control {
    padding: 4px;
}

.preflabel {
    width: 490px;
    overflow: hidden;
    display: inline-block;
    white-space: nowrap;
}

#taLabMessage {
    width: 430px;
    height: 100px;
    border: 1px solid gray;
}

.tt-thumb {
    width: 470px;
}

.ulDimensions {
    padding: 0;
}

    .ulDimensions .dimLabel {
        width: 80px;
        display: inline-block;
    }

    .ulDimensions .dimInput {
        margin: 2px;
    }

.coProductsDiv {
    width: 100%;
}

    .coProductsDiv ul {
        padding: 0px;
        margin-left: 8px;
    }

.coProductsLi {
    display: inline-block;
    padding: 5px;
    border: 1px solid #c5000f;
    width: 49%;
    position: relative;
    height: 103px;
    margin: 2px;
    box-shadow: 3px 3px 4px -2px rgba(0, 0, 0, 0.19);
}

.coProductsDiv ul li .lblsProduct {
    margin: 9px 0 0 10px;
}

.coProductsDiv ul li lblsProduct .lblProductName {
    overflow: hidden;
    display: block;
    margin-left: 13px;
}

.coProductsDiv ul li .lblsProduct .lblProductPrice {
    font-weight: 100;
}

.coProductsDiv ul img {
    max-width: 150px;
    max-height: 90px;
    position: absolute;
    right: 75px;
    top: 7px;
}

.coProductsDiv ul li .nrDiv {
    position: absolute;
    right: 8px;
    top: 28px;
}


.yellow-highlight {
    background: #FFFF00;
}

.coProductsNrInput {
    width: 20px;
    margin-top: 7px;
    margin-right: 5px;
}

.tblPlusMinus tr td {
    padding: 0;
    margin: 0;
}

.btnPlusMinus {
    width: 25px;
    height: 12px;
    padding: 0px;
    line-height: 0px;
}

    .btnPlusMinus .glyphicon {
        font-size: 8px;
    }

.btnPlus {
    position: relative;
    top: 6px;
}

.authSection {
    position: relative;
    width: 1280px;
    padding: 0;
}

#imgAuthSectionLoading {
    position: absolute;
    left: 50%;
    top: 420px;
}

.info-box-centered {
    text-align: center;
    position: absolute;
    left: 50%;
    margin-left: -130px;
    top: 180px;
}

.info-box-bottom {
    text-align: center;
    margin: 20px auto;
}

#info-box-ajax-ph {
    font-size: 11pt;
}


/* FORMS */
.contour h4 {
    font-size: 28px;
    color: #2e3a88;
}

.contour .contourPage {
    width: 440px;
    margin: auto;
}

.contour .field-validation-error {
    color: #c5000f;
}

.contour .contourField {
    font-size: 9pt;
}

.contour .text {
    width: 100%;
    padding: 4px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

.contour select {
    width: 100%;
    padding: 4px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

.contour textarea {
    width: 100%;
    height: 120px;
    padding: 4px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

.contour .primary {
    float: right;
    margin-top: 10px;
    padding: 6px 21px 6px 17px;
    font-size: 11pt;
    background-color: #c5000f;
    color: #fff;
    border-radius: unset;
}

.contour #recaptcha_area {
    margin-left: 50px;
}

.contour .hiermeegeefjeauthenticdetoelatingjeperemailtecontacterenaangaandevragenenvoorstellenomtrentonzeproductenendienstenauthenticcommuniceertjegegevensnietaanderdenjekantenalletijdenoponzecommerciëleemailsuitschrijven input[type='checkbox'] {
    position: relative;
    top: -56px;
}

.tooltipdiv {
    margin: 5px;
}

    .tooltipdiv .btnOk {
        width: 51px;
        float: right;
        border: 1px solid white;
        margin: 5px;
        font-size: 8pt;
    }

#spanImageWeight {
    margin-left: 14px;
    float: left;
    font-weight: bold;
}
