﻿@font-face {
    font-family: Open Sans Condensed Bold;
    src: url(../fonts/OpenSans-CondBold.ttf);
}

@font-face {
    font-family: Open Sans Condensed Light;
    src: url(../fonts/OpenSans-CondLight.ttf);
}

@font-face {
    font-family: Open Sans Condensed Light Italic;
    src: url(../fonts/OpenSans-CondLightItalic.ttf);
}

@font-face {
    font-family: Open Sans Semibold;
    src: url(../fonts/OpenSans-Semibold.ttf);
}

@font-face {
    font-family: Open Sans Regular;
    src: url(../fonts/OpenSans-Regular.ttf);
}
@font-face {
    font-family: Open Sans Bold;
    src: url(../fonts/OpenSans-Bold.ttf);
}

body {
    font-family: 'Open Sans Semibold', sans-serif;
}

a:hover {
    text-decoration: none;
    color: #0e5698 !important;
}

.right {
    float: right;
}

header {
    border-top: 10px solid #e62417;
}

.headertop {
    overflow: hidden;
}

.logo {
    padding-top: 15px;
    float: left;
}

.right {
    float: right;
}

.telefoon {
    color: #0e5698;
    font-size: 21px;
    font-family: 'Open Sans Bold', sans serif;
    float: left;
    display: block;
    padding: 14px 0;
}

.Whatis{
    background-color: #ebebeb;

}

.redTitle{
   font-family: 'Open Sans';
    color: #c5000f;
    font-size: 18px;

}

.blueText{
    font-family: 'Open Sans';
    color: #2e3a88;
    text-align:left;
    font-size:16px;
}

.login {
    float: right;
}

    .login ul li {
        float: left;
        list-style-type: none;
        height: 100%;
        background-color: #e62417;
    }

        .login ul li:first-of-type {
            border-right: 1px solid #ffffff;
        }

        .login ul li a {
            font-size: 21px;
            font-weight: bold;
            color: #ffffff;
            font-size: 14px;
            padding: 20px;
            display: block;
        }

        .login ul li.lang ul {
            display: none;
            padding: 0;
            position: absolute;
            z-index: 9;
        }

            .login ul li.lang ul li {
                display: block !important;
                border-right: initial;
            }

        .login ul li:hover ul li {
            background-color: #e62417 !important;
            display: block;
        }

        .login ul li.lang:hover ul {
            display: block;
            overflow: hidden;
        }

            

            .login ul li.lang:hover ul li a {
                display: block !important;
                padding: 20px 27px;
            }

.navbar {
    margin-bottom: 0;
}

#navbarCollapse {
    padding: 0;
}

.navbar-default {
    background-color: #ffffff;
    border: none;
    box-shadow: none;
    background-image: -webkit-linear-gradient(top, #ffffff 0%, #ffffff 100%);
}

.nav > li > a {
    padding: 40px 0 28px;
}

.navbar .navbar-inner {
    padding: 0;
}

.navbar .nav {
    margin: 0;
    display: table;
    width: 100%;
}

    .navbar .nav li {
        display: table-cell;
        float: none;
    }

        .navbar .nav li a {
            font-weight: bold;
            text-align: center;
            color: #e62417;
            font-size: 16px;
        }

.carousel {
    border-bottom: 10px solid #e62417;
}

.carousel-control:hover, .carousel-control:focus {
    color: #0e5698;
}

.carousel-indicators {
    display: none;
}

.carousel-control.left, .carousel-control.right {
    background-image: initial;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#80000000', endColorstr='#00000000', GradientType=1);
}

.carousel-control {
    opacity: initial;
    color: #0e5698;
}

    .carousel-control .glyphicon-chevron-left {
        left: 15px;
    }

    .carousel-control .glyphicon-chevron-right {
        right: 29px;
    }

.glyphicon-chevron-left:before {
    padding: 20px 10px 20px 4px;
    background-color: #ffffff;
}

.glyphicon-chevron-right:before {
    padding: 20px 4px 20px 10px;
    background-color: #ffffff;
}

.intro {
    text-align: center;
    margin-top: 80px;
    margin-bottom: 75px;
}

.introtekst {
    margin: 0 auto;
    text-align: center;
    font-size: 46px;
    width: 780px;
    min-height: 150px;
    max-width: 100%;
}

a.meer {
    font-size: 14px;
    font-family: 'Open Sans Bold', sans serif;
    color: #000000;
    display: block;
    margin-top: 35px;
}

main h2 {
    color: #0e5698;
    font-size: 25px;
    font-family: 'Open Sans Bold', open sans;
}

.bordernews img {
    padding: 10px;
    border: 2px solid #e62417;
    width: 100%;
}

.bestelproces {
    margin-top: 75px;
    background-color: #f2f2f2;
    margin-bottom: 60px;
}

.one-fifth {
    width: 20%;
}

.proces {
    margin-bottom: 25px;
    overflow: hidden;
}

.bestelproces h2 {
    font-family: 'Open Sans Regular', sans serif;
    color: #383838;
    text-align: center;
    font-size: 38px;
    margin-top: 55px;
    margin-bottom: 70px;
}

.bestelproces img {
    margin: 0 auto;
    display: block;
}

.bestelproces h3 {
    font-family: 'Open Sans Bold', sans serif;
    text-align: center;
    font-size: 17px;
}

.bestelproces p {
    text-align: center;
    font-size: 20px;
    font-family: 'Open Sans Regular', sans serif;
    margin-bottom: 50px;
}

.arrow {
    position: absolute;
    margin-top: 40px !important;
}

    .arrow.one {
        margin-left: 227px;
    }

    .arrow.two {
        margin-left: 463px;
    }

    .arrow.three {
        margin-left: 693px;
    }

    .arrow.four {
        margin-left: 928px;
    }

footer {
    border-top: solid 2px #e62417;
    border-bottom: solid 16px #e62417;
    overflow: hidden;
    margin-bottom: 110px;
}

    footer img {
        width: 100%;
        max-width: 270px;
    }

    footer .row {
        border-bottom: solid 2px #e62417;
        min-height: 232px;
    }

    footer ul {
        padding: 0;
        list-style-type: none;
    }

    footer a {
        color: #404040;
    }

    footer h2 {
        font-size: 22px;
        font-family: 'Open Sans Bold', sans-serif;
        margin-bottom: 20px;
    }

    footer .contactgegevens {
        font-size: 13px;
        font-family: "Myriad Pro", "Gill Sans", "Gill Sans MT", Calibri, sans-serif !important;
        color: #454545;
        text-align: center;
        margin: 36px 0 26px;
    }

    footer ul li {
        font-family: 'Open Sans Bold', sans-serif;
        font-size: 14px;
    }

.product img {
    max-width: 100%;
    border-bottom: 10px solid #e62417;
    margin-bottom: 80px;
}

.productbeschrijving {
    border: 2px solid #e62417;
    min-height: 567px;
    padding: 32px;
    margin-bottom: 40px;
}

    .productbeschrijving h1 {
        font-family: 'Open Sans Bold', sans-serif;
        color: #000000;
        font-size: 32px;
    }

    .productbeschrijving .subheader {
        font-family: 'Open Sans Regular', sans-serif;
        color: #000000;
        font-size: 20px;
    }

.beschrijving {
    margin-top: 65px;
    font-size: 16px;
    color: #000000;
    font-family: 'Open Sans Regular', sans-serif;
}

.productbeschrijving .down {
    position: absolute;
    bottom: 32px;
}

.productbeschrijving .button {
    background-color: #e62417;
    height: 65px;
    width: 100%;
    text-align: center;
    bottom: 0;
    width: 322px;
}

    .productbeschrijving .button p {
        color: #ffffff;
        font-size: 21px;
        font-family: 'Open Sans Bold', sans-serif;
        line-height: 3;
        margin: 0;
    }

.productoverzicht {
    margin-bottom: 135px;
}

    .productoverzicht img {
        max-width: 360px;
        height: auto;
    }

    .productoverzicht .bordernews {
        margin: 0 auto;
    }

@media screen and (max-width:1257px) {
    .arrow.one {
        margin-left: 185px;
    }

    .arrow.two {
        margin-left: 385px;
    }

    .arrow.three {
        margin-left: 570px;
    }

    .arrow.four {
        margin-left: 771px;
    }

    .navbar .nav li a {
        font-size: 14px;
    }

    .productbeschrijving {
        min-height: 468px;
    }

        .productbeschrijving .button {
            width: 255px;
        }
}

@media screen and (max-width: 991px) {
    .one-fifth {
        width: 100%;
    }

    .arrow {
        display: none !important;
    }

    .navbar .nav li {
        display: initial;
    }

        .navbar .nav li a {
            text-align: left;
            font-size: 16px;
        }

    .navbar-header {
        float: none;
    }

    .navbar-toggle {
        display: block;
        float: none;
        background-color: #e62417;
        border-color: #ffffff;
    }

    .navbar-default .navbar-toggle .icon-bar {
        background-color: #ffffff;
    }

    .navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
        background-color: #0e5698;
    }

    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }

        .navbar-collapse.collapse {
            display: none !important;
        }

    .navbar-nav {
        float: none !important;
        margin: 7.5px -15px;
    }

        .navbar-nav > li {
            float: none;
        }

            .navbar-nav > li > a {
                padding-top: 10px;
                padding-bottom: 10px;
                color: black;
            }

    .navbar-text {
        float: none;
        margin: 15px 0;
    }
    /* since 3.1.0 */

    .navbar-collapse.collapse.in {
        display: block !important;
    }

    .collapsing {
        overflow: hidden !important;
    }
}

@media screen and (max-width: 767px) {
    footer .right {
        float: none;
    }

    footer .row p {
        text-align: left;
    }

    footer .right {
        margin-bottom: 40px;
    }

    header .right {
        float: none;
        overflow: hidden;
    }

    header .logo {
        float: none;
    }

    header .right .login, header .right .telefoon {
        float: none;
    }

    header .logo, header .right .login, header .right .telefoon {
        margin: 0 auto;
        display: block;
        overflow: hidden;
        text-align: center;
    }

    .login ul {
        overflow: hidden;
        display: inline-block;
        padding-left: 0;
    }

    .carousel-control .glyphicon-chevron-right {
        right: 10px;
    }

    .carousel-control .glyphicon-chevron-left {
        left: 10px;
    }

    .productoverzicht h2 {
        text-align: center;
    }

    .productoverzicht img {
        margin: 0 auto;
        display: block;
    }
}

.fa {
    color: #c5000f !important;
}



