﻿@model MediaGridControl
@{
    var cropUrl = Model.GetCropUrl();
    

    //var cropUrl = crop.Url;
}
@*@if (!String.IsNullOrEmpty(cropUrl))
{*@
	<img class="img-responsive" src="@Model.GetCropUrl()"  alt="@Model.Value.Caption" />

	@*@if (!String.IsNullOrEmpty(Model.Value.Caption))
	{
		<p class="caption">@Model.Value.Caption</p>
	}*@
@*}*@