﻿@model dynamic
@using Umbraco.Web.Templates

<article id="garanties">
    <section class="container">
        @Html.Raw(TemplateUtilities.ParseInternalLinks(Model.value.ToString()))
    </section>
</article>