﻿@inherits Umbraco.Web.Mvc.UmbracoViewPage<Grid>
@if (Model != null && Model.Sections != null)
{
	var oneColumn = Model.Sections.Count == 1;

	<div class="umb-grid">
		@if (oneColumn)
		{
			foreach (var section in Model.Sections)
			{
				<div class="grid-section">
					@foreach (var row in section.Rows)
					{
						@RenderRow(row, true);
					}
				</div>
			}
		}
		else
		{
			<div class="container">
				<div class="row clearfix">
					@foreach (var section in Model.Sections)
					{
						<div class="grid-section">
							<div class="col-md-@(section.Grid) column">
								@foreach (var row in section.Rows)
								{
									@RenderRow(row, false);
								}
							</div>
						</div>
					}
				</div>
			</div>
		}
	</div>
}

@helper RenderRow(Grid.Row row, bool singleColumn)
{
	using (Html.BeginGridTag(row))
	{
		using (Html.BeginTag("div", singleColumn, new { @class = "container" }))
		{
			<div class="row clearfix">
				@foreach (var area in row.Areas)
                {
                    var klasse = string.Empty;
                    if (area.Grid == 2)
                    {
                        klasse = "col-lg-5ths col-md-5ths col-sm-12 col-xs-12";
                    } else
                    {
                        klasse = "col-md-" + area.Grid;
                    }
					<div class="@klasse column">
						@using (Html.BeginGridTag(area))
						{
							foreach (var control in area.Controls)
							{
                                Html.RenderGridControl(control);
							}
						}
					</div>
				}
			</div>
		}
	}
}