﻿@inherits UmbracoViewPage<dynamic>
@using Newtonsoft.Json.Linq

@{ 
    var uHelper = new UmbracoHelper(UmbracoContext.Current);
    var sectionIndex = 0;
}

@if (Model != null && Model.sections != null)
{
    var oneColumn = ((System.Collections.ICollection)Model.sections).Count == 1;

    if (oneColumn)
    {
        foreach (var section in Model.sections)
        {
            foreach (var row in section.rows)
            {
                if (row.name == "video box")
                {
                    <article id="home-intro">
                        <section class="container">
                            <div class="col-lg-12">
                                <div class="row row-eq-height">
                                    @*<div class="col-lg-6 col-md-6 col-sm-6 intro-tekst">*@
                                        @Html.Raw(RenderArea(row.areas[0]))
                                    @*</div>*@
                                    <div class="col-lg-6 col-md-6 col-sm-6 video-container">
                                        <div class="vid">
                                            @Html.Raw(RenderArea(row.areas[1]))
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </section>
                    </article>
                }
                else if (row.name == "4 text columns")
                {
                    <article>
                        <section class="container">
                            <div class="row">
                                <div class="col-lg-3 col-md-3 col-sm-6 col-sm-12">
                                    <span>1</span>
                                    @Html.Raw(RenderArea(row.areas[0]))
                                </div>
                                <div class="col-lg-3 col-md-3 col-sm-6 col-sm-12">
                                    <span>2</span>
                                    @Html.Raw(RenderArea(row.areas[1]))
                                </div>
                                <div class="col-lg-3 col-md-3 col-sm-6 col-sm-12">
                                    <span>3</span>
                                    @Html.Raw(RenderArea(row.areas[2]))
                                </div>
                                <div class="col-lg-3 col-md-3 col-sm-6 col-sm-12">
                                    <span>4</span>
                                    @Html.Raw(RenderArea(row.areas[3]))
                                </div>
                            </div>
                        </section>
                    </article>
                }
                else if (row.name == "product overview (3 per row)")
                {
                    @*@RenderWholeProductDetail(row, uHelper, sectionIndex)*@
                    sectionIndex = sectionIndex + 1;
                }
                else if (row.name == "3 text columns")
                {
                    <article id="wie">
                        <section class="container">
                            <div class="row">
                                <section class="col-lg-4 col-md-4 col-sm-12">
                                    @Html.Raw(RenderArea(row.areas[0]))
                                    @*<div class="imageViewer">Bekijk > </div>*@
                                </section>
                                <section class="col-lg-4 col-md-4 col-sm-12">
                                    @Html.Raw(RenderArea(row.areas[1]))
                                    @*<div class="imageViewer">Bekijk > </div>*@
                                </section>
                                <section class="col-lg-4 col-md-4 col-sm-12">
                                    @Html.Raw(RenderArea(row.areas[2]))
                                    @*<div class="imageViewer">Bekijk > </div>*@
                                </section>
                            </div>
                        </section>
                    </article>
                }
                else if (row.name == "headline")
                {
                    <article id="headline">
                        <section class="container">
                            @Html.Raw(RenderArea(row.areas[0]))
                        </section>
                    </article>
                }
                else if (row.name == "list")
                {
                    <article id="garanties">
                        <section class="container">
                            @Html.Raw(RenderArea(row.areas[0]))
                        </section>
                    </article>
                }
                else if (row.name == "country list")
                {
                    <article id="landen">
                        <section class="container">
                            @Html.Raw(RenderArea(row.areas[0]))
                        </section>
                    </article>
                }
                else if (row.name == "product line")
                {
                    <article id="productLine">
                        <section class="container">
                            @Html.Raw(RenderArea(row.areas[0]))
                        </section>
                    </article>
                }
                else if (row.name == "2 column image box")
                {
                    <article id="test-certificaat">
                        <section class="container">
                            <section id="testprint" class="col-lg-6 col-md-6">
                                <section class="padding-test">
                                    @Html.Raw(RenderArea(row.areas[0]))
                                </section>
                            </section>
                            <section id="handtekening" class="col-lg-6 col-md-6">
                                <section class="padding-cert">
                                    @Html.Raw(RenderArea(row.areas[1]))
                                </section>
                            </section>
                        </section>
                    </article>
                }
                else if (row.name == "3 column image box")
                {
                    <article class="threecolumns">
                        <section class="container">
                            <section class="col col-lg-4 col-md-4">
                                @Html.Raw(RenderArea(row.areas[0]))
                            </section>
                            <section class="col col-lg-4 col-md-4">
                                @Html.Raw(RenderArea(row.areas[1]))
                            </section>
                            <section class="col col-lg-4 col-md-4">
                                @Html.Raw(RenderArea(row.areas[2]))
                            </section>
                        </section>
                    </article>
                }
                else if (row.name == "full width image")
                {
                    <article>
                        <section class="container">
                            @Html.Raw(RenderArea(row.areas[0]))
                        </section>
                    </article>
                }
                else if (row.name == "image row")
                {
                    <article>
                        <section class="container">
                            <section class="col-lg-12 col-md-12">
                                <div class="row" style="border: 2px solid #c91d28;">
                                    @Html.Raw(RenderArea(row.areas[0]))
                                </div>
                            </section>
                        </section>
                    </article>
                }
                else if (row.name == "1 column text")
                {
                    <article>
                        <section class="container">
                            @Html.Raw(RenderArea(row.areas[0]))
                        </section>
                    </article>
                }
                else if (row.name == "product detail (whole row)")
                {
                    @Html.Raw(RenderArea(row.areas[0]))
                }
                else if (row.name == "location box")
                {
                    <article id="location">
                        <section class="container">
                            <div class="col-lg-12">
                                <div class="row" style="background: #ebebeb;">
                                    @Html.Raw(RenderArea(row.areas[0]))
                               </div>
                            </div>
                                
                        </section>
                    </article>
                }
                else if (row.name == "sample box")
                {
                    <article id="samplebox">
                        <section class="container">
                            <div class="row">
                                <div class="col-md-12">
                                    @Html.Raw(RenderArea(row.areas[0]))
                                </div>
                             </div>
                        </section>
                    </article>
                }
                else if (row.name == "customer quotes")
                {
                    @Html.Raw(RenderArea(row.areas[0]))
                }

                else if (row.name == "garantie box")
                {
                    @Html.Raw(RenderArea(row.areas[0]))
                }
                else if (row.name == "form")
                {
                    @Html.Raw(RenderArea(row.areas[0]))
                }
                else if (row.name == "6 icon columns")
                {
                    @RenderIconDetail(row, uHelper, 2)
                    sectionIndex = sectionIndex + 1;
                }
                @*else if (row.name == "5 icons columns")
                {
                    <article id="garanties-fotolab">
                        <section class="container" >
                            <div class="row" style="border:3px solid #c91d28; font-size:20pt;">
                                <div class="col-md-12">
                                    <div class="row"></div>
                                    <div class="col-md-2 col-md-offset-1 garanties-text" style="text-align:center"><i class="fa fa-check" style="color:#c5000f;"></i><p class="garanties-text">@Html.Raw(RenderArea(row.areas[0]))</p></div>
                                    <div class="col-md-2 garanties-text" style="text-align:center"><i class="fa fa-check" style="color:#c5000f;"></i><p class="garanties-text">@Html.Raw(RenderArea(row.areas[1]))</p></div>
                                    <div class="col-md-2 garanties-text" style="text-align:center"><i class="fa fa-check" style="color:#c5000f;"></i><p class="garanties-text">@Html.Raw(RenderArea(row.areas[2]))</p></div>
                                    <div class="col-md-2 garanties-text" style="text-align:center"><i class="fa fa-check" style="color:#c5000f;"></i><p class="garanties-text">@Html.Raw(RenderArea(row.areas[3]))</p></div>
                                    <div class="col-md-2 garanties-text" style="text-align:center"><i class="fa fa-check" style="color:#c5000f;"></i><p class="garanties-text">@Html.Raw(RenderArea(row.areas[4]))</p></div>
                                </div>
                                </div>
                        </section>
                    </article>
                }*@
                else if (row.name == "Newsletter" || row.name == "newsletter")
                {
                    <article id="nieuwsbrief">
                        <section class="container">
                            <div class="col-lg-8 col-md-8 nieuwsbriefcol">
                                <div class="nieuwsbrieftekst">Schrijf je in voor de Nieuwsbrief <strong>Authentic Foto Galerie Tips</strong> en ontvang een waardebon van 10 euros</div>
                                <form lpformnum="1">
                                    <fieldset class="form-group">
                                        <input type="text" class="form-control" id="exampleInputEmail1" placeholder="Voornaam" style="width:39%">
                                        <input type="text" class="form-control" id="exampleInputEmail1" placeholder="Naam" style="width:37%;margin-left:2%;">
                                    </fieldset>
                                    <fieldset class="form-group" style="margin-top:2%;">
                                        <input type="email" class="form-control" id="exampleInputEmail1" placeholder="e-mail">
                                        <button type="submit" class="btn btn-primary">Verzend</button>
                                    </fieldset>
                                </form>
                            </div>
                            <div class="borderline">&nbsp;</div>
                            <div class="col-lg-4 col-md-4 nieuwsbriefcol bedrag"><span class="tieneuro">10 €</span><span class="waardebon"> waardebon</span></div>
                        </section>
                    </article>
                }
            }
        }
    }
    else {
        foreach (var s in Model.sections)
        {
            foreach (var row in s.rows)
            {
                @RenderRow(row, false);
            }
        }
    }
}

@helper RenderIconDetail(dynamic row, UmbracoHelper uHelper, int bootstrapMd)
{
    <section id="bestelOnline" class="container hover-section jumptarget">
        <section class="bestelOnlineIcons">
                @foreach (var area in row.areas)
                {
                    foreach (var control in area.controls)
                    {
                        if (control.editor.name != null && control.editor.name.Value != null && control.editor.name.Value == "Icon detail")
                        {
                                var item = control.value.value;
                            <div class="col-lg-@(bootstrapMd) col-md-@(bootstrapMd) iconContainer">
                                <img src="@(uHelper.TypedMedia(item.icon.Value).Url)" class="img-responsive icon" alt="@(item.description.Value)"/>
                               
                                <span class="subtext">@Html.Raw(item.description.Value)</span>
                            </div>
                            
                        }
                    }
                }
        </section>
    </section>
}

@helper RenderRow(dynamic row, bool singleColumn)
{
    foreach (var area in row.areas)
    {
        foreach (var control in area.controls)
        {
            if (control != null && control.editor != null && control.editor.view != null)
            {
                    <text>@Html.Partial("grid/editors/base", (object)control)</text>
            }
        }
    }
}

@helper RenderArea(dynamic area)
{
    foreach (var control in area.controls)
    {
        if (control != null && control.editor != null && control.editor.view != null)
        {
                <text>@Html.Partial("grid/editors/base", (object)control)</text>
        }
    }
}

@functions {
    public static MvcHtmlString RenderElementAttributes(dynamic contentItem)
    {
        var attrs = new List<string>();
        JObject cfg = contentItem.config;

        if (cfg != null)
        {
            foreach (JProperty property in cfg.Properties())
            {
                attrs.Add(property.Name + "=\"" + property.Value.ToString() + "\"");
            }
        }

        JObject style = contentItem.styles;

        if (style != null)
        {
            var cssVals = new List<string>();

            foreach (JProperty property in style.Properties())
            {
                cssVals.Add(property.Name + ":" + property.Value.ToString() + ";");
            }

            if (cssVals.Any())
            {
                attrs.Add("style=\"" + string.Join(" ", cssVals) + "\"");
            }
        }

        return new MvcHtmlString(string.Join(" ", attrs));
    }
}