﻿@inherits UmbracoViewPage<dynamic>
@using Newtonsoft.Json.Linq
@using System.Linq

@using SEOChecker.Core.Extensions
@{
    var uHelper = new UmbracoHelper(UmbracoContext.Current);
    var sectionIndex = 0;
}

@if (Model != null && Model.sections != null)
{
    var oneColumn = ((System.Collections.ICollection)Model.sections).Count == 1;

    if (oneColumn)
    {
        foreach (var section in Model.sections)
        {
            foreach (var row in section.rows)
            {
                if (row.name == "video box")
                {
                    <article id="home-intro">
                        <section class="container">
                            <div class="col-lg-6 col-md-6 col-sm-6 intro-tekst">
                                @Html.Raw(RenderArea(row.areas[0]))
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-6 video-container">
                                <div class="vid">
                                    @Html.Raw(RenderArea(row.areas[1]))
                                </div>
                            </div>
                        </section>
                    </article>
                }
                else if (row.name == "4 text columns")
                {
                    <article>
                        <section class="container">
                            <div class="row">
                                <div class="col-lg-3 col-md-3 col-sm-6 col-sm-12">
                                    <span>1</span>
                                    @Html.Raw(RenderArea(row.areas[0]))
                                </div>
                                <div class="col-lg-3 col-md-3 col-sm-6 col-sm-12">
                                    <span>2</span>
                                    @Html.Raw(RenderArea(row.areas[1]))
                                </div>
                                <div class="col-lg-3 col-md-3 col-sm-6 col-sm-12">
                                    <span>3</span>
                                    @Html.Raw(RenderArea(row.areas[2]))
                                </div>
                                <div class="col-lg-3 col-md-3 col-sm-6 col-sm-12">
                                    <span>4</span>
                                    @Html.Raw(RenderArea(row.areas[3]))
                                </div>
                            </div>
                        </section>
                    </article>
                }
                else if (row.name == "3 text columns")
                {
                    <article id="wie">
                        <section class="container">
                            <section class="col-lg-4 col-md-4 col-sm-12">
                                @Html.Raw(RenderArea(row.areas[0]))
                            </section>
                            <section class="col-lg-4 col-md-4 col-sm-12">
                                @Html.Raw(RenderArea(row.areas[1]))
                            </section>
                            <section class="col-lg-4 col-md-4 col-sm-12">
                                @Html.Raw(RenderArea(row.areas[2]))
                            </section>
                        </section>
                    </article>
                }
                else if (row.name == "3 column image box")
                {
                    <article class="threecolumns">
                        <section class="container">
                            <section class="col col-lg-4 col-md-4">
                                @Html.Raw(RenderArea(row.areas[0]))
                            </section>
                            <section class="col col-lg-4 col-md-4">
                                @Html.Raw(RenderArea(row.areas[1]))
                            </section>
                            <section class="col col-lg-4 col-md-4">
                                @Html.Raw(RenderArea(row.areas[2]))
                            </section>
                        </section>
                    </article>
                }
                else if (row.name == "headline")
                {
                    <article id="headline">
                        <section class="container">
                            @Html.Raw(RenderArea(row.areas[0]))
                        </section>
                    </article>
                }
                else if (row.name == "list")
                {
                    <article id="garanties">
                        <section class="container">
                            @Html.Raw(RenderArea(row.areas[0]))
                        </section>
                    </article>
                }
                else if (row.name == "2 column image box")
                {
                    <article id="test-certificaat">
                        <section class="container">
                            <section id="testprint" class="col-lg-6 col-md-6">
                                <section class="padding-test">
                                    @Html.Raw(RenderArea(row.areas[0]))
                                </section>
                            </section>
                            <section id="handtekening" class="col-lg-6 col-md-6">
                                <section class="padding-cert">
                                    @Html.Raw(RenderArea(row.areas[1]))
                                </section>
                            </section>
                        </section>
                    </article>
                }
                else if (row.name == "full width image")
                {
                    <article>
                        <section class="container">
                            @Html.Raw(RenderArea(row.areas[0]))
                        </section>
                    </article>
                }
                else if (row.name == "location box")
                {
                    <article id="location">
                        <section class="container">
                            @Html.Raw(RenderArea(row.areas[0]))
                        </section>
                    </article>
                }
                else if (row.name == "sample box")
                {
                    <article id="samplebox">
                        <section class="container">
                            @Html.Raw(RenderArea(row.areas[0]))
                        </section>
                    </article>
                }
                else if (row.name == "customer quotes")
                {
                    @Html.Raw(RenderArea(row.areas[0]))
                }
                else if (row.name == "product detail (whole row)")
                {
                    @RenderWholeProductDetail(row, uHelper, sectionIndex)
                    sectionIndex = sectionIndex + 1;
                }
                else if (row.name == "product details (2 per row)")
                {
                    @RenderProductDetail(row, uHelper, 6, sectionIndex)
                    sectionIndex = sectionIndex + 1;
                }
                else if (row.name == "product details (3 per row)")
                {
                    @RenderProductDetail(row, uHelper, 4, sectionIndex)
                    sectionIndex = sectionIndex + 1;
                }
                else if (row.name == "product details (4 per row)")
                {
                    @RenderProductDetail(row, uHelper, 3, sectionIndex)
                    sectionIndex = sectionIndex + 1;
                }
                else if (row.name == "product detail (5 per row)")
                {
                    @RenderProductDetailFiveRow(row, uHelper, 15, sectionIndex)
                    sectionIndex = sectionIndex + 1;
                }
                else if (row.name == "newsletter")
                {
                    <article id="nieuwsbrief">
                        <section class="container">
                            <div class="col-lg-8 col-md-8 nieuwsbriefcol">
                                <div class="nieuwsbrieftekst">
                                    Schrijf je in voor de Nieuwsbrief <strong>Authentic Foto Galerie Tips</strong> en ontvang een waardebon van 10 euros
                                </div>
                                <form lpformnum="1">
                                    <fieldset class="form-group">
                                        <input type="email" class="form-control" id="exampleInputEmail1" placeholder="e-mail">
                                        <button type="submit" class="btn btn-primary">Verzend</button>
                                    </fieldset>
                                </form>
                            </div>
                            <div class="borderline">&nbsp;</div>
                            <div class="col-lg-4 col-md-4 nieuwsbriefcol bedrag"><span class="tieneuro">10 €</span><span class="waardebon"> waardebon</span></div>
                        </section>
                    </article>
                }
                else
                {
                    @RenderRow(row, false)
                }
            }
        }
    }
    else
    {
        foreach (var s in Model.sections)
        {
            foreach (var row in s.rows)
            {
                @RenderRow(row, false);
            }
        }
    }
}

@helper RenderWholeProductDetail(dynamic row, UmbracoHelper uHelper, int sectionIndex)
{
var controls = row.areas[0].controls;
var anchorControl = controls[0];
string anchor = Convert.ToString(anchorControl.value.Value);
    <section id="@(anchor.ToUrlSegment())" class="container anchor">
        <section class="soorten_product">
            <div class="row">
                @foreach (var control in controls)
                {
                    if (control.editor.name != null && control.editor.name.Value != null && control.editor.name.Value == "Product detail headline")
                    {
                        @RenderControl(control)
                    }
                    else if (control.editor.name != null && control.editor.name.Value != null && control.editor.name.Value == "Whole Row Product detail")
                    {
                        var item = control.value.value;
                        var title = item.title;
                        var titleStyling = (item.title != null && item.titleLeftOffsetPx != null && item.titleBottomOffsetPx != null) ? $"position:absolute; left:{item.titleLeftOffsetPx}px; bottom:{item.titleBottomOffsetPx}px" : "";
                        var leftCaptionStyling = (item.leftCaptionLeftOffset != null && item.leftCaptionBottomOffset != null) ? $"position:absolute; left:{item.leftCaptionLeftOffset}px; bottom:{item.leftCaptionBottomOffset}px" : "";
                        var rightCaptionStyling = (item.rightCaptionRightOffset != null && item.rightCaptionBottomOffset != null) ? $"position:absolute; right:{item.rightCaptionRightOffset}px; bottom:{item.rightCaptionBottomOffset}px" : "";

                        <section id="@((item.sectionID != null ) ? Html.Raw(item.sectionID.Value):"")">
                            <div class="col-lg-12 col-md-12 productblock" style="position: relative;">
                                <figure>
                                    <img src="@(uHelper.TypedMedia(item.image.Value).Url)" class="img-responsive" alt="@(item.name.Value)" />
                                </figure>
                                @if(title != null)
                                {
                                    <h3 style="@titleStyling">@title</h3>
                                }
                                <div class="col-lg-6 cold-md-6" style="padding-right: 15px; @leftCaptionStyling">
                                    @Html.Raw(item.descriptionLeftColumn.Value)
                                </div>
                                <div class="col-lg-6 cold-md-6" style="padding-left: 15px; @rightCaptionStyling">
                                    @Html.Raw(item.descriptionRightColumn.Value)
                                </div>
                            </div>
                        </section>
                    }
                    else if (control.editor.name != null && control.editor.name.Value != null && control.editor.name.Value == "Whole Row Product detail Text Right")
                    {
                        var item = control.value.value;

                        <div class="col-lg-12 col-md-12 productblock">
                            <div class="col-lg-9 col-md-6">
                                <figure>
                                    <img src="@(uHelper.TypedMedia(item.image.Value).Url)" class="img-responsive" alt="@(item.name.Value)" />
                                </figure>
                            </div>
                            <div class="product_text col-lg-3 col-md-3">
                                @Html.Raw(item.description.Value)
                            </div>
                        </div>
                    }
                }

            </div>
        </section>
    </section>
}

@helper RenderProductDetail(dynamic row, UmbracoHelper uHelper, int bootstrapMd, int sectionIndex)
{
var controls = row.areas[0].controls;
var anchorControl = controls[0];
string anchor = Convert.ToString(anchorControl.value.Value);
var index = 0;
    <section id="@(anchor.ToUrlSegment())" class="container hover-section jumptarget anchor" data-section-id="@sectionIndex">
        <section class="productdetails-previews">
            <div class="row">
                @foreach (var control in controls)
                {
                    if (control.editor.name != null && control.editor.name.Value != null && control.editor.name.Value == "Product detail headline")
                    {
                        @RenderControl(control)
                    }
                    else if (control.editor.name != null && control.editor.name.Value != null && control.editor.name.Value == "Product detail")
                    {
                        try
                        {
                            var item = control.value.value;
                            <figure>
                                <div class="col-lg-@(bootstrapMd) col-md-@(bootstrapMd) productitem">
                                    <a href="#">
                                        <div class="productitemitem">
                                            <img src="@(uHelper.TypedMedia(item.previewImage.Value).Url)" class="redBox img-responsive hover-image" alt="@(item.name.Value)" data-section-id="@sectionIndex" data-img-id="@index" />
                                            <p>
                                                @Html.Raw(item.previewTitle.Value)
                                            </p>
                                        </div>
                                    </a>
                                </div>
                            </figure>
                            index = index + 1;
                        }
                        catch
                        {
                            //TODO
                        }
                    }
                }
            </div>
        </section>
        @{ index = 0; }
        <section class="productdetails-detail">
            <div class="row">
                <div class="col-lg-9 col-md-9">
                    <div class="img-productdetails-img-background">
                        <img src="" class="img-responsive hover-full-image-placeholder" alt="" data-section-id="@sectionIndex" />
                    </div>
                </div>
                @foreach (var control in controls)
                {
                    if (control.editor.name != null && control.editor.name.Value != null && control.editor.name.Value == "Product detail")
                    {
                        try
                        {
                            var item = control.value.value;
                            <div class="col-lg-9 col-md-9" style="display: none;">
                                <img src="@(uHelper.TypedMedia(item.fullSizeImage.Value).Url)" class="img-responsive hover-full-image" alt="@(item.name.Value)" data-section-id="@sectionIndex" data-img-id="@index" />
                            </div>
                            index = index + 1;
                        }
                        catch
                        {
                            //TODO
                        }
                    }
                }
                @{ index = 0; }
                <div>
                    <div class="hover-full-image-description-placeholder" data-section-id="@sectionIndex"></div>
                </div>
                @foreach (var control in controls)
                {
                    if (control.editor.name != null && control.editor.name.Value != null && control.editor.name.Value == "Product detail")
                    {
                        try
                        {
                            <div class="col-lg-3 col-md-3" style="display: none;">
                                <div class="hover-full-image-description" data-section-id="@sectionIndex" data-img-id="@index">
                                    @Html.Raw(control.value.value.description)
                                </div>
                            </div>
                            index = index + 1;
                        }
                        catch
                        {
                        }
                    }
                }
            </div>
        </section>
    </section>
}

@helper RenderProductDetailFiveRow(dynamic row, UmbracoHelper uHelper, int bootstrapMd, int sectionIndex)
{
var controls = row.areas[0].controls;
var anchorControl = controls[0];
string anchor = Convert.ToString(anchorControl.value.Value);
var index = 0;
    <section id="@(anchor.ToUrlSegment())" class="container hover-section jumptarget anchor" data-section-id="@sectionIndex">
        @if (((JArray)controls).Where(i => ((dynamic)i).editor.name.Value == "Product detail").ToList().Count > 1)
        {
            <section class="productdetails-previews">
                <div class="row">
                    @foreach (var control in controls)
                    {
                        if (control.editor.name != null && control.editor.name.Value != null && control.editor.name.Value == "Product detail headline")
                        {
                            @RenderControl(control)
                        }
                        else if (control.editor.name != null && control.editor.name.Value != null && control.editor.name.Value == "Product detail")
                        {
                            try
                            {
                                var item = control.value.value;
                                <figure>
                                    <div class="col-lg-@(bootstrapMd) col-md-@(bootstrapMd) productitem">
                                        <a href="#">
                                            <div class="productitemitem">
                                                <img src="@(uHelper.TypedMedia(item.previewImage.Value).Url)" class="redBox img-responsive hover-image" alt="@(item.name.Value)" data-section-id="@sectionIndex" data-img-id="@index" />
                                                <p>
                                                    @Html.Raw(item.previewTitle.Value)
                                                </p>
                                            </div>
                                        </a>
                                    </div>
                                </figure>
                                index = index + 1;
                            }
                            catch
                            {
                                //TODO
                            }
                        }
                    }
                </div>
            </section>
        }
        @{ index = 0; }
        <section class="productdetails-detail" style="margin-left:-9px;">
            <div class="row">
                <div class="col-lg-9 col-md-9">
                    <div class="img-productdetails-img-background">
                        <img src="" class="img-responsive hover-full-image-placeholder" alt="" data-section-id="@sectionIndex" />
                    </div>
                </div>
                @foreach (var control in controls)
                {
                    if (control.editor.name != null && control.editor.name.Value != null && control.editor.name.Value == "Product detail")
                    {
                        try
                        {
                            var item = control.value.value;
                            <div class="col-lg-9 col-md-9" style="display: none;">
                                <img src="@(uHelper.TypedMedia(item.fullSizeImage.Value).Url)" class="img-responsive hover-full-image" alt="@(item.name.Value)" data-section-id="@sectionIndex" data-img-id="@index" />
                            </div>
                            index = index + 1;
                        }
                        catch
                        {
                        }
                    }
                }
                @{ index = 0; }
                <div>
                    <div class="hover-full-image-description-placeholder" data-section-id="@sectionIndex"></div>
                </div>
                @foreach (var control in controls)
                {
                    if (control.editor.name != null && control.editor.name.Value != null && control.editor.name.Value == "Product detail")
                    {
                        try
                        {
                            <div class="col-lg-3 col-md-3" style="display: none;">
                                <div class="hover-full-image-description" data-section-id="@sectionIndex" data-img-id="@index">
                                    @Html.Raw(control.value.value.description)
                                </div>
                            </div>
                            index = index + 1;
                        }
                        catch
                        {
                        }
                    }
                }
            </div>
        </section>
    </section>
}

@helper RenderRow(dynamic row, bool singleColumn)
{
foreach (var area in row.areas)
{
    foreach (var control in area.controls)
    {
            @RenderControl(control)
    }
}
}

@helper RenderArea(dynamic area)
{
foreach (var control in area.controls)
{
        @RenderControl(control)
}
}

@helper RenderControl(dynamic control)
{
if (control == null || control.editor == null || control.editor.view == null)
{
    return;
}
    @Html.Partial("grid/editors/base", (object)control)
}

@functions {
    public static MvcHtmlString RenderElementAttributes(dynamic contentItem)
    {
        var attrs = new List<string>();
        JObject cfg = contentItem.config;

        if (cfg != null)
        {
            foreach (JProperty property in cfg.Properties())
            {
                attrs.Add(property.Name + "=\"" + property.Value.ToString() + "\"");
            }
        }

        JObject style = contentItem.styles;

        if (style != null)
        {
            var cssVals = new List<string>();

            foreach (JProperty property in style.Properties())
            {
                cssVals.Add(property.Name + ":" + property.Value.ToString() + ";");
            }

            if (cssVals.Any())
            {
                attrs.Add("style=\"" + string.Join(" ", cssVals) + "\"");
            }
        }

        return new MvcHtmlString(string.Join(" ", attrs));
    }
}