﻿@*@model AuthenticPhoto.Models.LoginViewModel*@
@inherits UmbracoViewPage<AuthenticPhoto.Models.LoginViewModel>

<section id="loginForm">
    @using (Ajax.BeginForm("Login", "AAccount",
                                        new { ReturnUrl = ViewBag.ReturnUrl },
                                        new AjaxOptions { UpdateTargetId = "authPopupContent", OnSuccess = "loginFeedback(data)" },
                                        new { @class = "form-horizontal", role = "form", onsubmit = "if ($(this).valid()) {showLoginOverlay(); }" }))
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

         if (ViewBag.ConstructResendActivationLink == true)
        {
            <a style="margin-left: 40px; color: red;" href="javascript:resendActivationLink('@ViewBag.UserId')">@Model.GetTranslation("Account.ResendCode")</a>
        }
        @Html.Hidden("incheckoutflow")
        <div class="form-group">
            @Html.Label(Model.GetTranslation("UserData.Email"), new { @class = "login-lbl" })
            <br />
            <div>
                @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
            </div>
            @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
        </div>
        <div class="form-group">
            @Html.Label(Model.GetTranslation("UserData.Password"), new { @class = "login-lbl" })
            <br />
            <div>
                @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                <input type="submit" value="OK" class="btn btn-success btn-inline" />
            </div>
            @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
        </div>
        <hr />
        <div class="form-group">
            @Ajax.ActionLink(Model.GetTranslation("Account.RegisterNow2"), "QuickRegister", "AAccount",
            null,
            new AjaxOptions
            {
                HttpMethod = "GET",
                InsertionMode = InsertionMode.Replace,
                UpdateTargetId = "authPopupContent",
                OnSuccess = "hideLoginOverlay();growAuthPopup();"
            },
            new { @class = "a-login", onclick = "$('#authPopupMsg').hide();showLoginOverlay()" }
           )
        </div>
        <div class="form-group">
            @Ajax.ActionLink(Model.GetTranslation("Account.ForgotPassword"), "ForgotPassword", "AAccount",
            null,
            new AjaxOptions
            {
                HttpMethod = "GET",
                InsertionMode = InsertionMode.Replace,
                UpdateTargetId = "authPopupContent",
                OnSuccess = "hideLoginOverlay"
            },
            new { @class = "a-login", onclick = "$('#authPopupMsg').hide();showLoginOverlay()" }
           )
        </div>
        @*Enable this once you have account confirmation enabled for password reset functionality
            <p>
                @Html.ActionLink("Forgot your password?", "ForgotPassword")
            </p>*@
    }
</section>

@*@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}*@
