﻿@inherits UmbracoViewPage<AuthenticPhoto.Models.ForgotPasswordViewModel>

<span class="title">@Umbraco.GetDictionaryValue("Account.ForgotPassword.EnterEmail")</span>
<br/>

@using (Ajax.BeginForm("ForgotPassword", "AAccount",
                null,
                new AjaxOptions { UpdateTargetId = "authPopupContent", OnSuccess = "forgotPasswordFeedback(data)" },
                new { @class = "form-horizontal", role = "form", onsubmit = "if ($(this).valid()) showLoginOverlay()" }))
{
                @Html.AntiForgeryToken()


    <div class="form-group">
        @Html.LabelFor(m => m.Email, new { @class = "login-lbl" })
        <br />
        <div>
            @Html.TextBoxFor(m => m.Email, new { @class = "form-control", style = "width: 385px;" })
        </div>
        @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
    </div>

    <div class="form-group">
        <div style="float: right; margin-right: 30px;">
            <input type="submit" class="btn btn-success btn-inline" value="@Umbraco.GetDictionaryValue("Account.ForgotPassword.SendLink")" />
        </div>
    </div>

    <hr/>
    <div class="form-group">
        @Ajax.ActionLink("test", "Login", "AAccount",
            null,
            new AjaxOptions
            {
                HttpMethod = "GET",
                InsertionMode = InsertionMode.Replace,
                UpdateTargetId = "authPopupContent",
                OnSuccess = "hideLoginOverlay"
            },
            new { @class = "a-login", onclick = "showLoginOverlay()" }
           )
    </div>
    <div class="form-group">
        @Ajax.ActionLink("test", "QuickRegister", "AAccount",
            null,
            new AjaxOptions
            {
                HttpMethod = "GET",
                InsertionMode = InsertionMode.Replace,
                UpdateTargetId = "authPopupContent",
                OnSuccess = "hideLoginOverlay();growAuthPopup();"
            },
            new { @class = "a-login", onclick = "$('#authPopupMsg').hide();showLoginOverlay()" }
           )
    </div>
}

@*@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}*@
