﻿@inherits UmbracoViewPage<AuthenticPhoto.Models.LoginViewModel>

<section id="loginForm">
    @using (Ajax.BeginForm("Login", "AAccount",
                                        new { ReturnUrl = ViewBag.ReturnUrl },
                                        new AjaxOptions { UpdateTargetId = "authPopupContent", OnSuccess = "loginFeedback(data)" },
                                        new { @class = "form-horizontal", role = "form", onsubmit = "if ($(this).valid()) {showLoginOverlay(); }" }))
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        if (ViewBag.ConstructResendActivationLink == true)
        {
            <a style="margin-left: 40px; color: red;" href="javascript:resendActivationLink('@ViewBag.UserId')">@Umbraco.GetDictionaryValue("Account.ResendCode")</a>
        }
        @Html.Hidden("incheckoutflow")
        <div class="form-group">
            @Html.Label(Umbraco.GetDictionaryValue("UserData.Email"), new { @class = "login-lbl" })
            
                @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
            
            @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
        </div>
        <div class="form-group">
            @Html.Label(Umbraco.GetDictionaryValue("UserData.Password"), new { @class = "login-lbl" })
            
            @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                
            @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-success btn-block">OK</button>
        </div>
        <hr />
        <div class="form-group">
            <a class="a-login" href="#">@Umbraco.GetDictionaryValue("Account.RegisterNow2")</a>
        </div>
        <div class="form-group">
            @Ajax.ActionLink(Umbraco.GetDictionaryValue("Account.ForgotPassword"), "ForgotPassword", "AAccount",
                 null,
                 new AjaxOptions
                 {
                     HttpMethod = "GET",
                     InsertionMode = InsertionMode.Replace,
                     UpdateTargetId = "login"
                 },
                 new { @class = "a-login" }
                )
        </div>
        @*Enable this once you have account confirmation enabled for password reset functionality
            <p>
                @Html.ActionLink("Forgot your password?", "ForgotPassword")
            </p>*@
    }
</section>