﻿@model AuthenticPhoto.Models.ResetPasswordViewModel

<span class="title">@Model.GetTranslation("Account.ForgotPassword.EnterNewPassword")</span>
<br />

@using (Ajax.BeginForm("DoResetPassword", "AAccount",
                new { ReturnUrl = ViewBag.ReturnUrl },
                new AjaxOptions { UpdateTargetId = "authPopupContent", OnSuccess = "doResetPasswordFeedback(data)" },
                new { @class = "form-horizontal", role = "form", onsubmit = "if ($(this).valid()) {showLoginOverlay(); }" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary("", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.Code)
    @Html.HiddenFor(model => model.UserId)

    <div class="form-group">
        @Html.Label(Model.GetTranslation("UserData.Password"), new { @class = "login-lbl" })
        <br />
        <div>
            @Html.PasswordFor(m => m.Password, new { @class = "form-control", style = "width: 385px;" })
        </div>
    </div>
    <div class="form-group">
        @Html.Label(Model.GetTranslation("UserData.RepeatPassword"), new { @class = "login-lbl" })
        <br />
        <div>
            @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control", style = "width: 385px;" })
        </div>
    </div>

    <div class="form-group">
        <div style="float: right; margin-right: 30px;">
            <input type="submit" class="btn btn-success btn-inline" value="Reset" />
        </div>
    </div>



    <hr />
    <div class="form-group">
        @Ajax.ActionLink(Model.GetTranslation("Account.LoginExisting"), "Login", "AAccount",
            null,
            new AjaxOptions
            {
                HttpMethod = "GET",
                InsertionMode = InsertionMode.Replace,
                UpdateTargetId = "authPopupContent",
                OnSuccess = "hideLoginOverlay"
            },
            new { @class = "a-login", onclick = "showLoginOverlay()" }
           )
    </div>
    <div class="form-group">
        @Ajax.ActionLink(Model.GetTranslation("Account.RegisterNow2"), "QuickRegister", "AAccount",
            null,
            new AjaxOptions
            {
                HttpMethod = "GET",
                InsertionMode = InsertionMode.Replace,
                UpdateTargetId = "authPopupContent",
                OnSuccess = "hideLoginOverlay();growAuthPopup();"
            },
            new { @class = "a-login", onclick = "$('#authPopupMsg').hide();showLoginOverlay()" }
           )
    </div>
}

@*@section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }*@
