﻿@inherits UmbracoViewPage
@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Authentic</title>
    <meta name="keywords" content="Authentic" />
    <meta name="description" content="Authentic" />
    <link rel="SHORTCUT ICON" href="/images/favicon.ico" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.css" />
    <link rel="stylesheet" href="/css/intlTelInput.css" />
    <link rel="stylesheet" href="/css/tooltipster.css" />
    <link rel="stylesheet" href="/css/jquery.msg.css" />
    <link rel="stylesheet" href="/css/introjs.min.css" />
    <link rel="stylesheet" href="/css/custom.css">
    <link rel="stylesheet" href="/css/product-tool.css" />
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.17.0/jquery.validate.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validation-unobtrusive/3.2.6/jquery.validate.unobtrusive.min.js"></script>
    <script type="text/javascript" src="~/scripts/libs/jquery.unobtrusive-ajax.js"></script>
    <script type="text/javascript" src="~/scripts/libs/jquery-ui-for-datepicker.min.js"></script>
    <script type="text/javascript" src="~/scripts/libs/jquery.tooltipster.min.js"></script>
    <script type="text/javascript" src="~/scripts/libs/jquery.center.min.js"></script>
    <script type="text/javascript" src="~/scripts/libs/jquery.msg.min.js"></script>
    <script type="text/javascript" src="~/scripts/libs/intlTelInput.min.js"></script>
    <script type="text/javascript" src="~/scripts/libs/intro.min.js"></script>
    <script type="text/javascript" src="~/scripts/home.js"></script>
    <script>
        (function (i, s, o, g, r, a, m) {
            i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
                (i[r].q = i[r].q || []).push(arguments)
            }, i[r].l = 1 * new Date(); a = s.createElement(o),
                m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
        })(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');

        ga('create', 'UA-88940475-1', 'auto');
        ga('send', 'pageview');
    </script>
</head>
<body>
    <div id="page-dimmer" style="display: none"></div>
    <div id="info-box" class="black-on-white" style="position: absolute; z-index: 1000; top: 0px; right: 0px; left: 0px; height: 9474px; display: none;">
        <div class="jquery-msg-content" style="position: relative; left: 50%; top: 200px; display: block; width: 750px; margin-left: -375px; height: 400px; border-radius: 3px; opacity: 1">
            <div id="info-box-content"></div>
            <div id="info-box-ajax-ph"></div>
        </div>
    </div>
    @Html.Partial("_loginModal")
    @Html.Partial("_header")
    <main>
        @RenderBody()
        
        @Umbraco.RenderMacro("SubscribeNewsletter", new { content = "umb://document/9d16d7e30a4c4aec975e3898333c3cbd" })
        @Umbraco.RenderMacro("AboutUs", new { content = "umb://document/6db3f0aa11af4210b04563638ac6726c" })
    </main>
    @Umbraco.RenderMacro("Footer", new {content="umb://document/1a3bc4f37bbf49e790c0522680f11efe"})
    @RenderSection("scripts", required:false)
    <script>
        $(".text-slide-wrapper").hover(
            function () {
                $(this).find(".text-slide").animate({ bottom: "0px" }, 400, "easeOutQuart");
            },
            function () {
                $(this).find(".text-slide").animate({ bottom: "-95px" }, 400, "easeOutQuart");
            }
        );
    </script>
    <a href="#" class="scrollToTop hovereffectbutton">
        <i class="fa fa-arrow-up" aria-hidden="true"></i>
    </a>
</body>
</html>