﻿@inherits UmbracoViewPage<Homepage>
@{
    Layout = "_Layout.cshtml";
}

@* the fun starts here *@


@if (Model.Children<Slider>().Any())
{
    @Html.Partial("_carousel", Model.FirstChild<Slider>())
}

@Umbraco.RenderMacro("HomepageGaranties", new { content = "umb://document/456ea009335347cab729bb7c3f87851f" })
@Umbraco.RenderMacro("HowToOrder", new { content = "umb://document/fff2ecddaf3f4005b34086a167738041" })

@if (Model.Children<ProductFamily>().Any())
{
    @Html.Partial("_navGrid4Colums")
}
@Umbraco.RenderMacro("ExtraServices", new { content = "umb://document/4f408f305cca49c3a49e86f09281f784" })
@Umbraco.RenderMacro("VideoBox", new { content = "umb://document/c7aeb71ec4f24371a7ed74bac9e3903b" })
@Umbraco.RenderMacro("Showroom", new { content = "umb://document/6c4162e13aa44859a70afb9e707e30fc" })