﻿@using System.IdentityModel.Tokens
@using Our.Umbraco.Vorto.Extensions
@using Our.Umbraco.Vorto.Models
@inherits UmbracoViewPage<ProductFamily>
@{
    var content = (IPublishedContent)Model;
    Layout = "_Layout.cshtml";
    var sliders = (Model.HasValue("slide")) ? Model.Slide.ToList() : null;
    var aantal = (Model.HasValue("nestedAfbeeldingen")) ?  Model.NestedAfbeeldingen.Count().ToString() + "ths" : string.Empty;
}

@if (sliders != null)
{
    @Html.Partial("_productCarousel")
}

@if (Model.HasValue("nestedAfbeeldingen"))
{
    <section class="vijfkolommen">
        <div class="container">
            @if (Model.TitelWeergeven)
            {
                <div class="row">
                    <div class="col-md-12 column">
                        <div>
                            <h1 class="align-center">@Model.Titel</h1>
                        </div>
                    </div> 
                </div>
            }
            <div class="row rijvanx">

                @foreach (ImagePlusRte item in Model.NestedAfbeeldingen)
                {

                    Image afbeelding = (Image)item.Afbeelding;
                    var tekst = item.GetVortoValue("Tekst");

                    <div class="col-lg-@aantal col-md-@aantal col-sm-12 col-xs-12">
                        <div class="row-item">
                            <img class="img-responsive" alt='@afbeelding.Name' src="@afbeelding.Url">
                            <div class="subtext align-center">
                                @Html.Raw(tekst)
                            </div>
                        </div>
                    </div>
                }

            </div>
        </div>
    </section>
}

@*@if (Model.Children<ProductFamily>().Any())
{
    @Html.Partial("_navGrid3Colums")
}*@

@Html.GetGridHtml(content, "grid")

@Umbraco.RenderMacro("ExtraServices", new { content = "umb://document/4f408f305cca49c3a49e86f09281f784" })
@Umbraco.RenderMacro("VideoBox", new { content = "umb://document/c7aeb71ec4f24371a7ed74bac9e3903b" })
@Umbraco.RenderMacro("Showroom", new { content = "umb://document/6c4162e13aa44859a70afb9e707e30fc" })

@section scripts {
<script>
    $(document).ready(function () {
        var video = $("#video");
        var playButton = $("#play-pause");
        var muteButton = $("#mute");

        $("#play-pause").on("click", function (e) {
            if ($("#video").get(0).paused) {
                $("#play-pause").removeClass("fa-play-circle").addClass("fa-pause-circle");
                $("#video").get(0).play();
            } else {
                $("#play-pause").removeClass("fa-pause-circle").addClass("fa-play-circle");
                $("#video").get(0).pause();
            }
        });

        $("#video").on("click", function (e) {
            e.preventDefault();
        });

        $("#mute").on("click", function (e) {
            if ($(video).prop('muted')) {
                $(video).prop('muted', false);
            } else {
                $(video).prop('muted', true);
            }
        });
    });

</script>    
}
