﻿@using AuthenticPhoto.Business.ProductTool.Entities;
@model AuthenticPhoto.Models.OrderStep3Model

<p>
    <h4 id="deliveryTitle">Levering</h4>
    <input id="rbPickup" type="radio" name="delivery" value="pickup" @(Model.AuthenticOrder.Delivery != null && Model.AuthenticOrder.Delivery.Equals("pickup")?"checked":"") />
    <label for="rbPickup" class="subtleLbl lblCheckout">Afhalen</label>
    <input id="rbOwnTransport" type="radio" name="delivery" value="owntransport" @(Model.AuthenticOrder.Delivery != null && Model.AuthenticOrder.Delivery.Equals("owntransport")?"checked":"")/>
    <label for="rbOwnTransport" class="subtleLbl lblCheckout">Afhalen door eigen transport</label>
    <input id="rbTransport" type="radio" name="delivery" value="transport"@(Model.AuthenticOrder.Delivery != null && Model.AuthenticOrder.Delivery.Equals("transport")?"checked":"") />
    <label for="rbTransport" class="subtleLbl lblCheckout">Transport</label>
    <span id="deliveryFeedback" class="brightredlabel" style="display:none">Gelieve een leveringswijze te selecteren</span>
</p>
<div id="divCheckoutDelivery">
    <p>
        <h4>@Model.GetTranslation("Checkout.DeliveryAddress")</h4>

        <select id="selDeliveryAddresses" name="selDeliveryAddresses">
            @foreach (DeliveryAddress deliveryAddress in Model.User.DeliveryAddresses)
            {
                <option value="@deliveryAddress.DeliveryAddressID" data-json="@deliveryAddress.ToJson()">@deliveryAddress.ToString()</option>
            }
            <option value="user">@Model.GetTranslation("Checkout.DeliveryAddressSame")</option>
            <option value="0">@Model.GetTranslation("Checkout.EnterNewAddress")</option>
        </select>
    </p>
</div>



<div id="divCustomDeliveryAddress" class="redBox">

    <p>

        <table style="width:100%" class="wideFormTable">
            <tr>
                <td width="50%" style="vertical-align: top">
                    <table style="width: 95%" cellspacing="10">

                        <tr>
                            <td width="25%">
                                @Model.GetTranslation("UserData.Firstname")
                                <span class="required">&#8226;</span>
                            </td>
                            <td width="75%">
                                <label id="delCustomAddress_firstName_lbl" class="customaddress-lbl"></label>
                                @Html.TextBox("delCustomAddress_firstName_tb", "", new { @class = "form-control", style = "display: none" })
                            </td>
                        </tr>

                        <tr>
                            <td width="25%">
                                @Model.GetTranslation("UserData.Company")
                            </td>
                            <td width="75%">
                                <label id="delCustomAddress_company_lbl" class="customaddress-lbl"></label>
                                @Html.TextBox("delCustomAddress_company_tb", "", new { @class = "form-control", style = "display: none" })
                            </td>
                        </tr>

                        <tr>
                            <td width="25%">
                                @Model.GetTranslation("UserData.Postalcode")
                                <span class="required">&#8226;</span>
                            </td>
                            <td width="75%">
                                <label id="delCustomAddress_postcode_lbl" class="customaddress-lbl"></label>
                                @Html.TextBox("delCustomAddress_postcode_tb", "", new { @class = "form-control", style = "display: none" })
                            </td>
                        </tr>
                        <tr>
                            <td width="25%">
                                @Model.GetTranslation("UserData.Country")
                                <span class="required">&#8226;</span>
                            </td>
                            <td width="75%">
                                <label id="delCustomAddress_country_lbl" class="customaddress-lbl"></label>
                                @Html.TextBox("delCustomAddress_country_tb", "", new { @class = "form-control", style = "display: none" })
                            </td>
                        </tr>

                        <tr>
                            <td width="25%">
                                @Model.GetTranslation("UserData.Email")
                                <span class="required">&#8226;</span>
                            </td>
                            <td width="75%">
                                <label id="delCustomAddress_email_lbl" class="customaddress-lbl"></label>
                                @Html.TextBox("delCustomAddress_email_tb", "", new { @class = "form-control", style = "display: none" })
                            </td>
                        </tr>

                    </table>

                    <span class="required" style="display:block; margin-top: 10px; font-size: 8pt;">&#8226; Verplichte velden</span>

                </td>
                <td width="50%" style="vertical-align: top">
                    <table style="width: 95%">

                        <tr>
                            <td width="25%">
                                @Model.GetTranslation("UserData.Lastname")
                                <span class="required">&#8226;</span>
                            </td>
                            <td width="75%">
                                <label id="delCustomAddress_familyName_lbl" class="customaddress-lbl"></label>
                                @Html.TextBox("delCustomAddress_familyName_tb", "", new { @class = "form-control", style = "display: none" })
                            </td>
                        </tr>

                        <tr>
                            <td width="25%">
                                @Model.GetTranslation("UserData.Address")
                                <span class="required">&#8226;</span>
                            </td>
                            <td width="75%">
                                <label id="delCustomAddress_address_lbl" class="customaddress-lbl"></label>
                                @Html.TextBox("delCustomAddress_address_tb", "", new { @class = "form-control", style = "display: none" })
                            </td>
                        </tr>
                        
                        <tr>
                            <td width="25%">
                                @Model.GetTranslation("UserData.Place")
                                <span class="required">&#8226;</span>
                            </td>
                            <td width="75%">
                                <label id="delCustomAddress_place_lbl" class="customaddress-lbl"></label>
                                @Html.TextBox("delCustomAddress_place_tb", "", new { @class = "form-control", style = "display: none" })
                            </td>
                        </tr>
                        
                        <tr>
                            <td width="25%">
                                @Model.GetTranslation("UserData.Telephone")
                                <span class="required">&#8226;</span>
                            </td>
                            <td width="75%">
                                <label id="delCustomAddress_telephone_lbl" class="customaddress-lbl"></label>
                                @Html.TextBox("delCustomAddress_telephone_tb", "", new { @class = "form-control", style = "display: none" })
                            </td>
                        </tr>
                       

                    </table>
                </td>
            </tr>
        </table>

    </p>
</div>



<p>
    <h4 id="paymentTitle">@Model.GetTranslation("Checkout.Payment")</h4>
    <input id="rbOnline" type="radio" name="payment" value="online" @(Model.AuthenticOrder.Payment != null && Model.AuthenticOrder.Payment.Equals("online")?"checked":"") />
    <label for="rbOnline" class="subtleLbl lblCheckout">@Model.GetTranslation("Checkout.Payment.Online")</label>
    <input id="rbBankTransfer" type="radio" name="payment" value="banktransfer" @(Model.AuthenticOrder.Payment != null && Model.AuthenticOrder.Payment.Equals("banktransfer")?"checked":"")/>
    <label for="rbBankTransfer" class="subtleLbl lblCheckout">@Model.GetTranslation("Checkout.Payment.Transfer")</label>
    <input id="rbCash" type="radio" name="payment" value="cash" @(Model.AuthenticOrder.Payment != null && Model.AuthenticOrder.Payment.Equals("cash")?"checked":"")/>
    <label for="rbCash" class="subtleLbl lblCheckout">@Model.GetTranslation("Checkout.Payment.Cash")</label>
    <span id="paymentFeedback" class="brightredlabel" style="display:none">@Model.GetTranslation("Checkout.ChoosePayment")</span>
</p>


<ul width="100%" class="noListStyle codesUl">
    <li width="50%">
        <p>
            <h4 style="display: inline">@Model.GetTranslation("Checkout.Reference")</h4><img id="info -customerreference" class="info-icon" src="/images/info-circle-outline.png" style="position: relative; bottom: 2px;">
            <input id="tbCustomerReference" type="text" class="form-control" name="tbCustomerReference" />
        </p>
    </li>
    <li width="50%">
        <p>
            <h4 style="display: inline">@Model.GetTranslation("Checkout.DiscountCode")</h4>
            <input id="tbDiscountCode" type="text" class="form-control" name="tbDiscountCode" />
        </p>
    </li>

</ul>




