﻿@using AuthenticPhoto.Business.ProductTool.Entities;
@model AuthenticPhoto.Models.OrderStep3Model

<link href="~/css/checkout.css" rel="stylesheet" />

<h3 style="display: inline-block">@Model.GetTranslation("Checkout.YourOrder")</h3>

<div id="divCheckoutOptions">
    @Html.Action("CheckoutDelivery", "ProductTool", new { model = Model })
</div>



@if (Model.AvailableCheckoutProducts.Count > 0)
{

    <h4 style="display: inline-block">@Model.GetTranslation("Checkout.RecommendedExtras")</h4>

    <div class="coProductsDiv">
        <ul class="noListStyle">
            @foreach (CheckoutProduct product in Model.AvailableCheckoutProducts)
            {
                <li class="coProductsLi">
                    <div class="lblsProduct">
                        <label style="display: block" class="lblProductName">@product.Name[Model.LanguageCode]</label>
                        <label class="lblProductPrice">@AuthenticPhoto.Business.ProductTool.Formatting.PrintAsEuro(product.Price)</label>
                    </div>
                    <img src="@Model.GetCheckoutOptionThumbPath(product.CheckoutProductID)" alt="@product.Name[Model.LanguageCode]" />
                    <div class="nrDiv">
                        
                        <span style="display: block">
                            @Model.GetTranslation("ShowPreferences.Tabs.ImageData.Qty")
                        </span>

                        <table class="tblPlusMinus">
                            <tr>
                                <td rowspan="2">
                                    <input id="cop_@(product.CheckoutProductID)"
                                           name="cop_@(product.CheckoutProductID)"
                                           data-copid="@product.CheckoutProductID"
                                           class="coProductsNrInput"
                                           value="@Model.GetQtyOfCheckoutProduct(product.CheckoutProductID)"
                                           min="0" max="99" />
                                </td>
                                <td>
                                    <button class="btnPlusMinus btnPlus" type="button">
                                        <span class="glyphicon glyphicon-triangle-top"></span>
                                    </button>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <button class="btnPlusMinus btnMinus" type="button">
                                        <span class="glyphicon glyphicon-triangle-bottom"></span>
                                    </button>
                                </td>
                            </tr>
                        </table>
                        
                    </div>
                </li>
            }
        </ul>
    </div>

}

<ul class="noListStyle" id="ulOrderSummary">
    <li style="width: 60%">
        <div id="divOrderSummary">
            <h3>@Model.GetTranslation("Checkout.Recap")</h3>
            <div id="phOrderSummary">
                @Html.Action("OrderSummary", "ProductTool", new { orderID = Model.AuthenticOrder.OrderID, invoiceCountry = Model.User.VatCountryCode, vatValid = Model.User.VatValid})
            </div>
        </div>
    </li>
    <li style="width: 30%; text-align: right; position: relative;" id="orderSummayButtons">
        <div id="btnOrder" class="squareButton checkoutButton" value="Next">
            @Model.GetTranslation("Checkout.PlaceOrder")
            <span class="glyphicon glyphicon-menu-right nextIcon" aria-hidden="true"></span>
            <img src="/media/ajax-loader.gif" alt="loading" class="loader" />
        </div>
        <div id="btnBackBelow" class="checkoutButton squareButton btnBack" value="Previous">
            <span class="glyphicon glyphicon-menu-left backIcon" aria-hidden="true"></span>
            <img src="/media/ajax-loader.gif" alt="loading" class="loader" />
            @Model.GetTranslation("Checkout.BackToPreferences")
        </div>
    </li>
</ul>
