﻿@using AuthenticPhoto.Controllers
@model AuthenticPhoto.Models.FinishingModel

@foreach (AuthenticPhoto.Business.ProductTool.TranslatedString translatedString in Model.GetTranslationsToRender())
{
    @Html.Hidden("str" + translatedString.Key, translatedString.Value)
}

<ul id="prefsTabs">
    <li class="activeTab" id="liPrefsImage">
        @Model.GetTranslation("ShowPreferences.Tabs.ImageData")
    </li>
    <li id="liPrefsFinishing">
        @Model.GetTranslation("ShowPreferences.Tabs.Finishing")
    </li>
    <li id="liPrefsSignature">
        @Model.GetTranslation("ShowPreferences.Tabs.Signature")
    </li>
    <li id="liPrefsPriceDetails">
        @Model.GetTranslation("ShowPreferences.Tabs.Price")
    </li>
</ul>

<div id="signaturePrefsDiv" class="redBox preferencesDiv">
    <div class="paddingdiv">
        <input id="cbSignatureActive" name="signatureActive" type="checkbox" @(Model.Image.Signature.SignatureActive ? "checked" : "") />
        <label for="cbSignatureActive" class="redlabel">@Model.GetTranslation("ShowPreferences.Tabs.Signature.Header")</label>
    </div>

    <div id="signatureOptions" style="color: @(Model.Image.Signature.SignatureActive ? "black" : "lightgray")">

        <div class="optionTypeItem orderStep">
            <label class="optiontype-label">@Model.GetTranslation("ShowPreferences.Tabs.Signature.Location")</label>
            <div class="graybordered dropdownbox sign_dropdownbox" data-signpref="signatureLocation">
                <p class="pref prefblock signaturepref" data-signpref="signatureLocation" data-signprefvalue="@Model.Image.Signature.SignatureLocation">
                    <span class="preflabel">
                        @Model.GetTranslation("ShowPreferences.Tabs.Signature." + Model.Image.Signature.SignatureLocation.ToString())
                    </span>
                    <span class="glyphicon glyphicon-triangle-bottom ddb-icon" aria-hidden="true"></span>
                </p>

                <span class="glyphicon glyphicon-triangle-bottom ddb-icon" aria-hidden="true"></span>
            </div>
            <ul class="menu" data-signpref="signatureLocation">
                @foreach (string signLocation in Enum.GetNames(typeof(AuthenticPhoto.Business.ProductTool.SignLocation)))
                {
                    <li value="@signLocation" class="option" title="@signLocation">@Model.GetTranslation("ShowPreferences.Tabs.Signature." + signLocation)</li>
                }
            </ul>
        </div>

        <div class="optionTypeItem orderStep">
            <label class="optiontype-label">@Model.GetTranslation("ShowPreferences.Tabs.Signature.Position")</label>
            <div class="graybordered dropdownbox sign_dropdownbox" data-signpref="signaturePosition">
                <p class="pref prefblock signaturepref" data-signpref="signaturePosition" data-signprefvalue="@Model.Image.Signature.SignaturePosition">
                    <span class="preflabel">
                        @Model.GetTranslation("ShowPreferences.Tabs.Signature." + Model.Image.Signature.SignaturePosition.ToString())
                    </span>
                    <span class="glyphicon glyphicon-triangle-bottom ddb-icon" aria-hidden="true"></span>
                </p>
                <span class="glyphicon glyphicon-triangle-bottom ddb-icon" aria-hidden="true"></span>
            </div>
            <ul class="menu" data-signpref="signaturePosition">
                @foreach (string signPosition in Enum.GetNames(typeof(AuthenticPhoto.Business.ProductTool.SignPosition)))
                {
                    <li value="@signPosition" class="option" title="@signPosition">@Model.GetTranslation("ShowPreferences.Tabs.Signature." + signPosition)</li>
                }
            </ul>
        </div>

        <div class="optionTypeItem orderStep">
            <label class="optiontype-label">@Model.GetTranslation("ShowPreferences.Tabs.Signature.LabelSize")</label>
            <div class="graybordered dropdownbox sign_dropdownbox" data-signpref="signatureLabelSize">
                <p class="pref prefblock signaturepref" data-signpref="signatureLabelSize" data-signprefvalue="@Model.Image.Signature.SignatureLabelSize">
                    <span class="preflabel">
                        @Model.GetTranslation("ShowPreferences.Tabs.Signature." + Model.Image.Signature.SignatureLabelSize.ToString())
                    </span>
                    <span class="glyphicon glyphicon-triangle-bottom ddb-icon" aria-hidden="true"></span>
                </p>
                <span class="glyphicon glyphicon-triangle-bottom ddb-icon" aria-hidden="true"></span>
            </div>
            <ul class="menu" data-signpref="signatureLabelSize">
                @foreach (string signatureLabelSize in Enum.GetNames(typeof(AuthenticPhoto.Business.ProductTool.SignLabelSize)))
                {
                    <li value="@signatureLabelSize" class="option" title="@signatureLabelSize">@Model.GetTranslation("ShowPreferences.Tabs.Signature." + signatureLabelSize)</li>
                }
            </ul>
        </div>

        <div class="optionTypeItem orderStep">
            <label class="optiontype-label">@Model.GetTranslation("ShowPreferences.Tabs.Signature.Delivery")</label>
            <div class="graybordered dropdownbox sign_dropdownbox" data-signpref="signatureDelivery">
                <p class="pref prefblock signaturepref" data-signpref="signatureDelivery" data-signprefvalue="@Model.Image.Signature.SignatureDelivery">
                    <span class="preflabel">
                        @Model.GetTranslation("ShowPreferences.Tabs.Signature." + Model.Image.Signature.SignatureDelivery.ToString())
                    </span>
                    <span class="glyphicon glyphicon-triangle-bottom ddb-icon" aria-hidden="true"></span>
                </p>
                <span class="glyphicon glyphicon-triangle-bottom ddb-icon" aria-hidden="true"></span>
            </div>
            <ul class="menu" data-signpref="signatureDelivery">
                @foreach (string signatureDelivery in Enum.GetNames(typeof(AuthenticPhoto.Business.ProductTool.SignDelivery)))
                {
                    <li value="@signatureDelivery" class="option" title="@signatureDelivery">@Model.GetTranslation("ShowPreferences.Tabs.Signature." + signatureDelivery)</li>
                }
            </ul>
        </div>

        <div id="progressbarsignature" class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width:0; display: none">
        </div>

        <div class="optionTypeItem orderStep" id="signatureUpload" style="display: @(Model.Image.Signature.SignatureDelivery == AuthenticPhoto.Business.ProductTool.SignDelivery.UploadNow ? "block" : "none")">
            <label class="optiontype-label">@Model.GetTranslation("ShowPreferences.Tabs.Signature.SignatureFile")</label>
            <div class="graybordered">
                <div id="sign-uploader" style="display: none;">
                </div>
            </div>
            <img id="signature-thumb" class="microthumb" src="" />

        </div>


    </div>

    <div class="paddingdiv">
        <input id="cbNoCertificate" name="noCertificate" type="checkbox" @(Model.Image.Signature.SignatureNoWarrantyLabel ? "checked" : "") />
        <label for="cbNoCertificate">@Model.GetTranslation("ShowPreferences.Tabs.Signature.NoCertificate")</label>
    </div>

    <div class="controlArrows">
        <img class="btnNext" src="/images/tabs_next.png" />
        <img class="btnPrevious" src="/images/tabs_previous.png" />
    </div>

</div>

<div id="priceDetailsPrefsDiv" class="redBox preferencesDiv">
    <div class="paddingdiv">
        <h4>@Model.GetTranslation("ShowPreferences.Tabs.Price.Header")</h4>
    </div>
    <div id="phPriceDetails" class="paddingdiv">
        @Html.Action("PriceDetails", "ProductTool", new { img = Model.Image, OrderID = Model.OrderID })
    </div>
    <div id="divOrderRecapsIncompleteInfo" style="display:none">
        @Model.GetTranslation("ShowPreferences.Tabs.Price.CompletePreferencesWarning") <span class='subtleBtn lnkToFinishing'>@Model.GetTranslation("ShowPreferences.Tabs.Finishing")</span>
    </div>
    <a class="a-print" href="javascript:window.print()">
        <span class="glyphicon glyphicon-print" aria-hidden="true"></span>
    </a>
    <p class="vat-info paddingdiv">
        <span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span>
        @Html.Raw(Model.GetTranslation("PriceDetails.ExclVAT.Explanation"))
    </p>
    <div class="controlArrows">
        <img class="btnPrevious" src="/images/tabs_previous.png" />
    </div>
</div>

<div id="imagePrefsDiv" class="redBox preferencesDiv" style="display: block">
    <div class="paddingdiv">
        <table id="tblDimensions">
            <tr>
                <td><b>@Model.GetTranslation("ShowPreferences.Tabs.ImageData.Qty")</b></td>
                <td>
                    <b>@Model.GetTranslation("ShowPreferences.Tabs.ImageData.Dims")</b>
                    <input id="rbDimOriginal" type="radio" name="dimType" value="original" @(Model.Image.UsingCustomDimensions ? "" : "checked") />
                    <label for="rbDimOriginal" class="subtleLbl">@Model.GetTranslation("ShowPreferences.Tabs.ImageData.Dims.AsFile")</label>
                    &nbsp;&nbsp;
                    <input id="rbDimCustom" type="radio" name="dimType" value="custom" @(Model.Image.UsingCustomDimensions ? "checked" : "") />
                    <label class="subtleLbl" for="rbDimCustom">@Model.GetTranslation("ShowPreferences.Tabs.ImageData.Dims.Adapted")</label>
                </td>
            </tr>
            <tr>
                <td>
                    <input id="qty" name="qty" type="text" value="@Model.Image.Quantity" class="extraInput" />
                </td>
                <td>
                    @{
                        string dim1 = Model.Image.Dim1Cm > 0 ? Convert.ToString(Model.Image.Dim1Cm) : "";
                        string dim2 = Model.Image.Dim2Cm > 0 ? Convert.ToString(Model.Image.Dim2Cm) : "";
                        string dpi = Model.Image.XResolution > 0 ? Convert.ToString(Model.Image.XResolution) : "";
                    }
                    <ul class="noListStyle ulDimensions">
                        <li>
                            <b class="dimLabel">@Model.GetTranslation("ShowPreferences.Tabs.ImageData.Width")</b>
                            <input id="dim1" type="text" value="@dim1" class="dimInput extraInput" data-orig="@Model.Image.OrigDim1Cm" data-px="@Model.Image.DimPx1" @(Model.Image.UsingCustomDimensions ? "" : "readonly") />
                            <label class="subtleLbl">cm</label>
                        </li>
                        <li>
                            <b class="dimLabel">@Model.GetTranslation("ShowPreferences.Tabs.ImageData.Height")</b>
                            <input id="dim2" type="text" value="@dim2" class="dimInput extraInput" data-orig="@Model.Image.OrigDim2Cm" data-px="@Model.Image.DimPx2" @(Model.Image.UsingCustomDimensions ? "" : "readonly") />
                            <label class="subtleLbl">cm</label>
                        </li>
                        <li>
                            <b class="dimLabel">@Model.GetTranslation("ShowPreferences.Tabs.ImageData.Resolution")</b>
                            <input id="dpi" type="text" value="@dpi" class="dimInput extraInput" data-orig="@Model.Image.OrigXResolution" data-implicit="true" readonly />
                            <label class="subtleLbl">dpi</label>
                        </li>
                    </ul>
                </td>
            </tr>
            <tr>
                <td class="loweredTd"><img id="info-testprint" class="info-icon" src="/images/info-circle-outline.png" /><b>@Model.GetTranslation("ShowPreferences.Tabs.ImageData.Testprint")</b></td>
                <td class="loweredTd">
                    <input id="rbTestprintA4" type="checkbox" name="testprint" value="a4" @(Model.Image.Testprint == AuthenticPhoto.Business.ProductTool.UploadedImage.TestPrintOption.A4 ? "checked" : "") />
                    <label for="rbTestprintA4" class="subtleLbl">A4</label>
                    &nbsp;&nbsp;
                    <input id="rbTestprintOneOne" type="checkbox" name="testprint" value="oneone" @(Model.Image.Testprint == AuthenticPhoto.Business.ProductTool.UploadedImage.TestPrintOption.OneOne ? "checked" : "") />
                    <label for="rbTestprintOneOne" class="subtleLbl">1:1 (50 X 30 cm)</label>
                </td>
            </tr>
            <tr>
                <td><img id="info-softproof" class="info-icon" src="/images/info-circle-outline.png" /><b>@Model.GetTranslation("ShowPreferences.Tabs.ImageData.Softproof")</b></td>
                <td>
                    <input id="rbSoftproof" type="checkbox" name="softproof" @(Model.Image.Softproof ? "checked" : "") />
                    <label for="rbSoftproof" class="subtleLbl">@Model.GetTranslation("ShowPreferences.Tabs.ImageData.SoftproofDetail")</label>
                </td>
            </tr>
            <tr>
                <td class="loweredTd" colspan="2">
                    <input id="rbInspect" type="checkbox" name="inspect" @(Model.Image.InspectBeforePrint ? "checked" : "") />
                    <label for="rbInspect" class="subtleLbl">@Model.GetTranslation("ShowPreferences.Tabs.ImageData.Inspect")</label>
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <input id="rbDontcut" type="checkbox" name="dontcut" @(Model.Image.DontCut ? "checked" : "") />
                    <label for="rbDontcut" class="subtleLbl">@Model.GetTranslation("ShowPreferences.Tabs.ImageData.DontCut")</label>
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <b style="display: block; margin-top: 10px">@Model.GetTranslation("ShowPreferences.Tabs.ImageData.LabMessage")</b>
                    <textarea id="taLabMessage">@Model.Image.LabMessage</textarea>
                </td>
            </tr>
        </table>
    </div>
    <div class="controlArrows">
        <img class="btnNext" src="/images/tabs_next.png" />
    </div>
</div>

<div id="finishingPrefsDiv" class="redBox preferencesDiv">

    @{
        string selectedProductName;
        string selectedProductSectionName;
        int selectedProductID;
        if (Model.Image.SelectedProduct == null)
        {
            selectedProductName = "Kies een product";
            selectedProductID = 0;
            selectedProductSectionName = "";
        }
        else
        {
            selectedProductName = Model.Image.SelectedProduct.ProductFamily.Name[Model.LanguageCode] + " - " + Model.Image.SelectedProduct.Name[Model.LanguageCode];
            selectedProductID = Model.Image.SelectedProduct.ProductID;
            selectedProductSectionName = Model.Image.SelectedProduct.SectionName[Model.LanguageCode];
        }
    }
    <ul id="productStep" class="orderStep" data-productid="@selectedProductID" data-sectionname="@selectedProductSectionName">

        <li style="width:5%; text-align: center;">
            <div class="stepInfo">
                <span class="stepNumber"></span>
                <img src="@(Model.Image.SelectedProduct == null ? "/images/ok-empty.png" : "/images/ok.png" )" />
            </div>
        </li>

        <li style="width:95%">
            <label class="optiontype-label">@Model.GetTranslation("ShowPreferences.Tabs.ImageData.Product")</label>
            <img class="info-icon" src="/images/info-circle-outline.png" />

            <div id="product-dropdownbox" class="graybordered dropdownbox">
                <p class="prefblock">
                    <span class="preflabel">
                        @selectedProductName
                    </span>
                    <span class="glyphicon glyphicon-triangle-right ddb-icon" aria-hidden="true"></span>
                </p>

            </div>
        </li>
    </ul>

    <div id="optionTypesDiv">
        @Html.Action("OptionTypeSet", "ProductTool", new { model = Model })
    </div>

    <div id="divOptionTypesLoading" style="display: none" >
        <div id="oTypesloadingText"></div>
        <img src="/media/ajax-loader.gif" alt="loading"/>
    </div>

    <div class="controlArrows">
        <img class="btnNext" src="/images/tabs_next.png" />
        <img class="btnPrevious" src="/images/tabs_previous.png" />
    </div>

</div>

<div id="priceDiv" align="right">
    @Html.Action("ShowPrice", "ProductTool", new { orderID = Model.OrderID, img = Model.Image })
</div>



<script type="text/template" id="qq-template-signature">
    <div class="qq-uploader-selector qq-uploader qq-gallery" style="width: inherit" qq-drop-area-text="">

        <div class="qq-total-progress-bar-container-selector qq-total-progress-bar-container" style="float: initial">
            <div role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" class="qq-total-progress-bar-selector qq-progress-bar qq-total-progress-bar" style="background: #c5000f; height: 10px; border-radius: 0;"></div>
        </div>
        <div class="qq-upload-drop-area-selector qq-upload-drop-area" qq-hide-dropzone>
            <span class="qq-upload-drop-area-text-selector"></span>
        </div>
        <div class="qq-upload-button-selector qq-upload-button" style="width: inherit; font-size: 10pt; height: 0px">
            <div>@Model.GetTranslation("ShowPreferences.Tabs.Signature.SelectFile")</div>
        </div>
        <img id="triggerUploadLoading" src="/media/ajax-loader.gif" alt="loading" style="display:none" />

        <span class="qq-drop-processing-selector qq-drop-processing">
            <span>@Model.GetTranslation("ShowOrderForm.ProcessingDropped")</span>
            <span class="qq-drop-processing-spinner-selector qq-drop-processing-spinner"></span>
        </span>
        <ul class="qq-upload-list-selector qq-upload-list" role="region" aria-live="polite" aria-relevant="additions removals" style="display: none">
            <li>
                <span role="status" class="qq-upload-status-text-selector qq-upload-status-text"></span>
                <div class="qq-progress-bar-container-selector qq-progress-bar-container">
                    <div role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" class="qq-progress-bar-selector qq-progress-bar"></div>
                </div>
                <span class="qq-upload-spinner-selector qq-upload-spinner"></span>

                <button type="button" class="qq-upload-cancel-selector qq-upload-cancel">X</button>
                <button type="button" class="qq-upload-retry-selector qq-upload-retry">
                    <span class="qq-btn qq-retry-icon" aria-label="Retry"></span>
                    @Model.GetTranslation("ShowOrderForm.Retry")
                </button>

                <div class="qq-file-info">
                    <div class="qq-file-name">
                        <span class="qq-upload-file-selector qq-upload-file"></span>
                        @*<span class="qq-edit-filename-icon-selector qq-btn qq-edit-filename-icon" aria-label="Edit filename"></span>*@
                    </div>
                    @*<input class="qq-edit-filename-selector qq-edit-filename" tabindex="0" type="text">*@
                    <span class="qq-upload-size-selector qq-upload-size"></span>
                    <button type="button" class="qq-btn qq-upload-delete-selector qq-upload-delete">
                        <span class="qq-btn qq-delete-icon" aria-label="Delete"></span>
                    </button>
                    <button type="button" class="qq-btn qq-upload-pause-selector qq-upload-pause">
                        <span class="qq-btn qq-pause-icon" aria-label="Pause"></span>
                    </button>
                    <button type="button" class="qq-btn qq-upload-continue-selector qq-upload-continue">
                        <span class="qq-btn qq-continue-icon" aria-label="Continue"></span>
                    </button>
                </div>
            </li>
        </ul>

        <dialog class="qq-alert-dialog-selector">
            <div class="qq-dialog-message-selector"></div>
            <div class="qq-dialog-buttons">
                <button type="button" class="qq-cancel-button-selector">@Model.GetTranslation("General.Close")</button>
            </div>
        </dialog>

        <dialog class="qq-confirm-dialog-selector">
            <div class="qq-dialog-message-selector"></div>
            <div class="qq-dialog-buttons">
                <button type="button" class="qq-cancel-button-selector">@Model.GetTranslation("General.No")</button>
                <button type="button" class="qq-ok-button-selector">@Model.GetTranslation("General.Yes")</button>
            </div>
        </dialog>

        <dialog class="qq-prompt-dialog-selector">
            <div class="qq-dialog-message-selector"></div>
            <input type="text">
            <div class="qq-dialog-buttons">
                <button type="button" class="qq-cancel-button-selector">@Model.GetTranslation("General.Cancel")</button>
                <button type="button" class="qq-ok-button-selector">Ok</button>
            </div>
        </dialog>
    </div>

</script>
