﻿@using AuthenticPhoto.Business.ProductTool.Entities;
@model AuthenticPhoto.Models.FinishingModel

@foreach (OptionType optionType in @Model.GetNonEmptyOptionTypes())
{
    if (optionType.OptionTypeType == "borders")
    {
        string optionName;
        string selectable = "true";

        if (Model.Image.BorderWidth > 0)
        {
            optionName =  Model.Image.BorderWidth +  " cm.";
        }
        else
        {
            optionName = "Stel een boordbreedte in";
        }
        <ul class="optionTypeItem optionTypeStep orderStep borderStep" data-selectable="@selectable" data-optiontypeid="@optionType.OptionTypeID" data-sectionname="@optionType.SectionName[Model.LanguageCode]" data-required="@optionType.Required" data-borderwidth="@Model.Image.BorderWidth">
            <li style="width: 5%; text-align: center;" class="stepInfoLi">
                <div class="stepInfo">
                    <span class="stepNumber"></span>
                    <img src="/images/ok.png" />
                </div>
            </li>
            <li style="width: 95%">

                <label class="optiontype-label">@optionType.Name[Model.LanguageCode]</label>
                <img class="info-icon" src="/images/info-circle-outline.png" />

                <div class="graybordered dropdownbox" data-optiontype="@optionType.OptionTypeID" data-optiontypename="@optionType.Name[Model.LanguageCode]">
                    <p class="prefblock">
                        <span class="preflabel">
                            @optionName
                        </span>
                        @if (selectable.Equals("true"))
                        {
                            <span class="glyphicon glyphicon-triangle-right ddb-icon" aria-hidden="true"></span>
                        }
                    </p>
                </div>
            </li>
        </ul>

    }
    else
    {

        int optionId;
        string optionName;
        string selectable = "true";

        if (Model.Image.Preferences.ContainsKey(@optionType.OptionTypeID))
        {
            if (Model.Image.Preferences[@optionType.OptionTypeID] == null)
            {
                optionId = 0;
                optionName = Model.GetTranslation("ShowPreferences.NoOptionPrefix") + " " + optionType.Name[Model.LanguageCode];
            }
            else
            {
                Option option = Model.Image.Preferences[@optionType.OptionTypeID];
                optionId = option.OptionID;
                optionName = option.Name[Model.LanguageCode];
                if (option.OptionCategory.Options.Count == 1 && option.OptionCategory.OptionType.Required)
                {
                    selectable = "false";
                }
            }
        }
        else
        {
            optionId = -1;
            optionName = Model.GetTranslation("ShowPreferences.ChooseOptionPrefix") + " " + optionType.Name[Model.LanguageCode];
        }

        <ul class="optionTypeItem optionTypeStep orderStep" data-selectable="@selectable" data-optiontypeid="@optionType.OptionTypeID" data-optionid="@optionId" data-sectionname="@optionType.SectionName[Model.LanguageCode]" data-required="@optionType.Required">
            <li style="width: 5%; text-align: center;" class="stepInfoLi">
                <div class="stepInfo">
                    <span class="stepNumber"></span>
                    <img src="@(optionId == -1 ? "/images/ok-empty.png" : "/images/ok.png" )" />
                </div>
            </li>
            <li style="width: 95%">

                <label class="optiontype-label">@optionType.Name[Model.LanguageCode]</label>
                <img class="info-icon" src="/images/info-circle-outline.png" />

                <div class="graybordered dropdownbox" data-optiontype="@optionType.OptionTypeID" data-optiontypename="@optionType.Name[Model.LanguageCode]">
                    <p class="prefblock">
                        <span class="preflabel">
                            @optionName
                        </span>
                        @if (selectable.Equals("true"))
                        {
                            <span class="glyphicon glyphicon-triangle-right ddb-icon" aria-hidden="true"></span>
                        }
                    </p>

                </div>

            </li>

        </ul>

    }


    <div id="optionPicker_@optionType.OptionTypeID" class="sliderPicker optionPicker" data-optiontypeid="@optionType.OptionTypeID" data-optiontypetype="@optionType.OptionTypeType">

        @if (optionType.OptionTypeType == "borders")
        {
            int[] widths = !string.IsNullOrWhiteSpace(optionType.Data1) ?
                optionType.Data1.Split(new char[] { ',' }, StringSplitOptions.RemoveEmptyEntries).Select(i => int.Parse(i)).OrderBy(i => i).ToArray() :
                new int[0];

            <div id="divPickBorders">
                <span class="title">Boordbreedte instellen</span>
                <ul id="ulPickBorders">            
                    @foreach (int width in widths)
                    {
                        <li class="borderOption @(Model.Image.BorderWidth.Equals(width) ? "selected":"")" data-borderwidth="@width">
                            <div class="bordersimulate-outer" style="padding: @(width)px">
                                <div class="bordersimulate-inner">
                                </div>
                            </div>
                            @width cm
                        </li>
                    }
                </ul>
            </div>
        }
        else
        {
            <ul data-optiontype="@optionType.OptionTypeID">

                @foreach (OptionCategory optionCategory in @optionType.OptionCategories)
                {
                    <li>
                        <span class="title">
                            @optionCategory.Name[Model.LanguageCode]
                        </span>

                        <ul class="horizontal-ul sliderPickerMenu">
                            @{
                                foreach (Option option in @optionCategory.Options)
                                {
                                    <li data-optionid="@option.OptionID"
                                        @(string.IsNullOrEmpty(option.IllegalCombinations) ? "" : "data-uncombinablewith=" + option.IllegalCombinations)
                                        @(string.IsNullOrEmpty(option.IllegalEmptyOptionTypesCombinations) ? "" : "data-uncombinablewithempty=" + option.IllegalEmptyOptionTypesCombinations)
                                        @(option.SupportsMaxActive ? "data-supportsmax=" + option.SupportsMaxKg : "")
                                        @((option.MaxSizeDim1 > 0 && option.MaxSizeDim2 > 0) ? "data-m1-mm=" + option.MaxSizeDim1 + " data-m2-mm=" + option.MaxSizeDim2 + " data-mdesc=" + Uri.EscapeDataString(option.MaxSizeDesc[Model.LanguageCode]) : "")
                                        data-weight="@option.Kg" data-weighttype="@option.WeightType"
                                        class="option@(Model.Image.Preferences.ContainsValue(option) ? " selectedOption" : "")"
                                        data-showonillcombo="@(option.ShowOnIllegalCombo?"1":"0")" data-showonmsizeexc="@(option.ShowOnMaxSizeExceeded?"1":"0")" data-showonmweightexc="@(option.ShowOnMaxSupportExceeded?"1":"0")">
                                        <div class="optionimage" style="background-image: url(@(Model.GetOptionImagePath(optionCategory.OptionCategoryID, option.OptionID) ?? ""))">
                                            <div class="optionimageblanket" style="display: none">
                                                <span class="notallowedfeedback">

                                                </span>
                                                <img src="/media/ajax-loader.gif" alt="loading" class="loader" style="display: none" />
                                            </div>
                                        </div>
                                        <p>@option.GetShortName("nl")</p>
                                    </li>
                                }
                            }
                        </ul>


                    </li>


                                }
                @if (!optionType.Required)
                {

                    <li>
                        <ul class="horizontal-ul sliderPickerMenu">
                            <li data-optionid="-1" class="option nooption">
                                <span class="glyphicon glyphicon-ban-circle"></span>
                                <p>@Model.GetTranslation("ShowPreferences.NoOptionPrefix") @optionType.Name[Model.LanguageCode]</p>
                            </li>
                        </ul>
                    </li>
                }
            </ul>

        }


        
    </div>
}



<div id="productPicker" class="sliderPicker">

    @{ 
        int activeFamilyId = 
            Model.Image.SelectedProduct == null ?
                Model.ProductFamilies[0].ProductFamilyID :
                Model.Image.SelectedProduct.ProductFamilyID;
    }

    <ul class="noListStyle sliderFamilyPickerMenu">
        @foreach (ProductFamily family in @Model.ProductFamilies)
        {
            <li class="@(activeFamilyId.Equals(family.ProductFamilyID)? "selectedFamily" : "")" data-productfamily="@family.ProductFamilyID">
                <span>
                    @family.Name[Model.LanguageCode]
                </span>
            </li>
        }
    </ul>
    <hr class="menuhr" />
    @foreach (ProductFamily family in @Model.ProductFamilies)
    {
        <ul class="noListStyle sliderPickerMenu productPickerMenu" data-productfamily="@family.ProductFamilyID" data-productfamilynm="@family.Name[Model.LanguageCode]" style="@(activeFamilyId.Equals(family.ProductFamilyID) ? "":"display:none")">
            @foreach (Product product in @family.Products)
            {
                <li data-productid="@product.ProductID" data-sectionname="@product.SectionName[Model.LanguageCode]" class="option @(Model.Image.SelectedProduct != null && Model.Image.SelectedProduct.ProductID.Equals(product.ProductID)?"selectedOption":"") product"
                    data-m1-mm="@product.MaxSizeDim1" data-m2-mm="@product.MaxSizeDim2">

                    <div class="optionimage" style="background-image: url(@(Model.GetProductImagePath(product.ProductID) ?? ""))">
                        <div class="optionimageblanket" style="display: none">
                            <span class="notallowedfeedback">

                            </span>
                        </div>
                    </div>
                    <p class="prodnm">@product.GetShortName("nl")</p>



                </li>
            }
        </ul>
    }
</div>
