﻿@model AuthenticPhoto.Models.OrderStep3Model

@if (Model.AuthenticOrder.Images.Count > 0)
{
    @Html.Hidden("OrderID", Model.AuthenticOrder.OrderID)

    <div id="product-tool-wrapper">
        <div id="product-tool">
            @using (Ajax.BeginForm("PlaceOrder", "ProductTool",
                            new { },
                            new AjaxOptions { UpdateTargetId = "divThankyou" },
                            new { @id = "frmCheckout", role = "form" }))
            {

                @Html.AntiForgeryToken()
                @Html.Hidden("copinfo");
                @Html.Hidden("tblorderhtml");
                @Html.Hidden("OrderID", Model.AuthenticOrder.OrderID);

                foreach (AuthenticPhoto.Business.ProductTool.TranslatedString translatedString in Model.GetTranslationsToRender())
                {
                    @Html.Hidden("str" + translatedString.Key, translatedString.Value)
                }

                <div class="squareButton squareButtonYellow checkoutButton btnBack" value="Previous" style="float: right">
                    <span class="glyphicon glyphicon-menu-left backIcon" aria-hidden="true"></span>
                    <img src="/media/ajax-loader.gif" alt="loading" class="loader" />
                    @Model.GetTranslation("Checkout.BackToPreferences")
                </div>

                bool requiredFieldsProvided = Model.User.HasRequiredFieldsFilledIn();

                <br />

                <div class="checkoutColumn redBox" id="divManageUserAccount" data-useraddress-json="@Model.User.GetAddressJson()">
                    <h3 style="display: inline-block">@Model.GetTranslation("Checkout.MyBillingInfo")</h3>

                    @if (requiredFieldsProvided)
                    {
                        <label id="lblEditAccount" class="subtleLbl2" style="display: block; margin-left: 3px;">@Model.GetTranslation("Checkout.ModifyInfo")</label>
                    }
                    else
                    {
                        <label id="lblEditAccount" class="subtleLbl2" style="display: block; margin-left: 3px;">@Model.GetTranslation("Checkout.CompleteInfo")</label>
                    }

                    @Html.Action("Edit", "AAccount", new { user = Model.User, checkoutContext = true })

                    @if (!requiredFieldsProvided)
                    {
                        <div style="float:right; position: relative; bottom: 32px; left: 13px;">
                            <span id="btnCompletedAccount" class="btn btn-success squareButton squareButtonRed checkoutButton" value="Next">
                                @Model.GetTranslation("General.Next")
                                <span class="glyphicon glyphicon-menu-right nextIcon" aria-hidden="true"></span>
                            </span>
                        </div>
                    }

                </div>

                <div class="checkoutColumn" id="divOrderPreferences">
                    @if (requiredFieldsProvided)
                    {
                        @Html.Action("CheckoutOrderPreferences", "ProductTool", new { model = Model })
                    }
                </div>
            }

            <div class="checkoutColumn" id="divCheckoutOverview">

                <h3 style="display: inline-block">@Model.GetTranslation("Checkout.Overview")</h3>
                <span class="glyphicon glyphicon-print print-icon"></span>
                <div id="phTotalPriceDetails">
                    @Html.Action("TotalPriceDetails", "ProductTool", new { orderID = Model.AuthenticOrder.OrderID, checkoutPageView = true })
                </div>


            </div>
        </div>
    </div>
}
else
{
    <script type="text/javascript">
        redirectToOrderStep(1);
    </script>
}



