﻿<h3>Nous vous remercions pour votre commande!<br />Cette commande est désormais définitive.</h3>
<p class="">
    Authentic est un Labo Photo Professionnel qui entretient avec ses clients un contact personnalisé. Durant la durée de production nous aurons avec vous une série de contacts destinés à finaliser votre commande aussi parfaitement que possible.
</p>
<p>
    Ainsi vous recevrez les emails suivants:
</p>
<ul>
    <li>1 e-mail automatique de confirmation de votre commande,</li>
    <li>1 e-mail avec le planning de production,</li>
    <li>1 e-mail avec les éventuels frais d´emballage et de livraison et les instructions de paiement,</li>
    <li>1 e-mail dès que votre commande est prête à la livraison ainsi qu’un SMS si nous disposons de votre n° de GSM.</li>
</ul>
