﻿@model AuthenticPhoto.Models.OrderStep1Model

@Html.Hidden("OrderID", Model.AuthenticOrder.OrderID)

<div id="product-tool-wrapper">
    <div id="product-tool">
        <div id="product-tool-blanket" style="display: none">
            <img id="product-tool-blanket-loader" src="~/media/ajax-loader.gif" />
            <span id="product-tool-blanket-caption">                
                De producten worden opgehaald
            </span>            
        </div>
        <div id="uploader"></div>
    </div>
    <div id="info">
        @Html.Action("ProductInfo", "ProductTool", new { id = 0 })
    </div>
</div>

