﻿@using AuthenticPhoto.Business.ProductTool
@model AuthenticPhoto.Models.OrderSummaryViewModel

@{
    bool transport = Model.Order.Delivery != null && Model.Order.Delivery.Equals("transport");
    decimal totalPriceExclVatHandling = Model.Order.GetTotalPriceExclVatHandling();
    decimal vat = Model.CalculateVAT(totalPriceExclVatHandling, transport);
}

@Html.Hidden("VatValid", Model.VatValid)

<table>
    <tr>
        <td>@Model.GetTranslation("OrderSummary.TotalOrder")</td>
        <td class="alignright">@Formatting.PrintAsEuro(totalPriceExclVatHandling)</td>
    </tr>
    @if (transport)
    {
        <tr>
            <td>@Model.GetTranslation("OrderSummary.HandlingCharges")</td>
            <td class="alignright">@Model.GetTranslation("OrderSummary.ToConfirm")</td>
        </tr>
    }
    <tr>
        <td>@Model.GetTranslation("OrderSummary.VAT")</td>
        <td class="alignright">
            @if (transport)
            {
                @Model.GetTranslation("OrderSummary.ToConfirm")
            }
            else
            {
                @Formatting.PrintAsEuro(vat)
            }
        </td>
    </tr>
    <tr>
        <td>Totaal te betalen</td>
        <td class="alignright">
            @if (transport)
            {
                @Model.GetTranslation("OrderSummary.ToConfirm")
            }
            else
            {
                <strong class="yellow-highlight">
                @Formatting.PrintAsEuro(totalPriceExclVatHandling + vat)
                </strong>
            }
        </td>
    </tr>

</table>