﻿@model AuthenticPhoto.Models.OrderStep2Model

@if (Model.AuthenticOrder.Images.Count > 0)
{
    @Html.Hidden("OrderID", Model.AuthenticOrder.OrderID)

    
    <div id="product-tool-wrapper">

        <div id="optionTypePickers">
        </div>

        <div id="product-tool">
            <div class="overlay" id="overlay_prefs">
                <span class="helper"></span>
                <div id="expl">
                    <div id="loadingText"></div>
                    <img src="/media/ajax-loader.gif" alt="loading" />
                </div>
            </div>
            
            <div id="btnMoreImages" type="button" class="squareButton squareButtonRed">
                <i class="fa fa-file-image-o" aria-hidden="true"></i>
                @Model.GetTranslation("ShowOrderForm.AddImages")&nbsp;&nbsp;
                <img src="/media/ajax-loader.gif" alt="loading" class="loader" />
            </div>

            <span class="timestamp-on-print">@DateTime.Now.ToString("dd/MM/yyyy HH:mm")</span>

            <div id="prefs-table">
                <div id="col_img" style="text-align: center">                    
                    @for (int i = 0; i < Model.AuthenticOrder.Images.Count; i++)
                    {
                        var uploadedImage = Model.AuthenticOrder.Images[i];
                        bool active = (uploadedImage.ID == Model.ActiveImageID);

                        <div id="prev_@uploadedImage.ID" data-imgid="@uploadedImage.ID" @(active ? "data-active" : "") style="display:@(active ? " " : " none")" class="prevParent">
                            <div class="prevWrapper">
                                <img src="@uploadedImage.GetThumbSource()" class="prev" data-imgid="@uploadedImage.ID" />
                            </div>
                            <h6 id="lbl_@uploadedImage.ID">@uploadedImage.GetFullName()</h6>
                        </div>
                    }

                    <div id="btnCheckout" type="button" value="Checkout" class="squareButton squareButtonRed">
                        @Model.GetTranslation("Preferences.FinishOrder")&nbsp;&nbsp;
                        <i class="fa fa-chevron-right" aria-hidden="true"></i>
                        <img src="/media/ajax-loader.gif" alt="loading" class="loader" />
                    </div>
                    
                </div>

                <div id="col_prefs">

                    <div id="col_prefs_thumbs">
                        @Html.Action("ThumbsList", "ProductTool", new { images = Model.AuthenticOrder.Images, activeImageID = Model.ActiveImageID })
                    </div>

                    <div id="col_prefs_finishing">
                        @Html.Action("Finishing", "ProductTool", new { orderID = Model.AuthenticOrder.OrderID, image = Model.GetActiveImage(), productFamilies = Model.ProductFamilies })
                    </div>

                </div>
            </div>

            <div id="totalPriceRecap" style="height: 0">
                @Html.Action("TotalPriceDetails", "ProductTool", new { orderID = Model.AuthenticOrder.OrderID })
            </div>



        </div>
        <div id="info">
            @Html.Action("ProductInfo", "ProductTool", new { id = Model.GetActiveProductID() })
        </div>
    </div>
}
else
{
    <script type="text/javascript">
        redirectToOrderStep(1);
    </script>
}



