﻿@using AuthenticPhoto.Business.ProductTool.Entities;
@model AuthenticPhoto.Models.PriceDetailsViewModel

<div id="divOrderRecaps">
    <table class="tblOrder">
        <thead>
            <tr>
                <th colspan="3">
                    @(Model.Image.OriginalFilename ?? Model.GetTranslation("Detailprijs"))
                </th>
            </tr>
        </thead>
        <tbody>
            @{
                decimal totalPriceImage = Model.Image.GetTotalPrice();
                List<int> prefKeys = new List<int>(Model.Image.Preferences.Keys);
                string dimsString = Model.Image.BorderWidth > 0 ?
                    (Model.Image.Dim1Cm + (Model.Image.BorderWidth * 2)) + " cm x " + (Model.Image.Dim2Cm + (Model.Image.BorderWidth * 2)) + " cm (" + Model.GetTranslation("ShowPreferences.Tabs.ImageData.Dims.PrintDims") + ": " + Model.Image.Dim1Cm + " cm x " + Model.Image.Dim2Cm + " cm" + ")" :
                    Model.Image.Dim1Cm + " cm x " + Model.Image.Dim2Cm + " cm";
            }

            <tr>
                <td>
                    @Model.GetTranslation("ShowPreferences.Tabs.ImageData.Dims")
                </td>
                <td>
                    <span>@dimsString</span>
                </td>
                <td></td>
            </tr>

            @{
                bool productSelected = Model.Image.SelectedProduct != null;
                var prodString = productSelected ? Model.Image.SelectedProduct.ProductFamily.Name[Model.LanguageCode] + " - " + Model.Image.SelectedProduct.Name[Model.LanguageCode] : "-";
                var prodPrice = "";
                if (productSelected && Model.Image.SelectedProduct.PreselectOptions)
                {
                    prodPrice = AuthenticPhoto.Business.ProductTool.Formatting.PrintAsEuro(Model.Image.GetPriceOfRequiredOptions());
                }
            }

            <tr>
                <td>
                    @Model.GetTranslation("ShowPreferences.Tabs.ImageData.Product")
                </td>
                <td>
                    @prodString
                </td>
                <td width="12%">
                    <span class="price-label">
                        @prodPrice
                    </span>
                </td>
            </tr>

            @if (productSelected)
            {
                for (int i = 0; i < prefKeys.Count; i++)
                {
                    Option option = Model.Image.Preferences[prefKeys[i]];
                    if (option != null)
                    {
                        <tr>
                            <td>
                                @option.OptionCategory.OptionType.Name[Model.LanguageCode]
                            </td>
                            <td>
                                @option.Name[Model.LanguageCode]
                            </td>
                            <td>
                                <span class="price-label">
                                    @if (!Model.Image.SelectedProduct.PreselectOptions || (Model.Image.SelectedProduct.PreselectOptions && !option.OptionCategory.OptionType.Required)) // = in case of diasec classic style: don't show price details of required options (only "upgrade" options)
                                        {
                                            AuthenticPhoto.Business.ProductTool.Price price = Model.Image.Prices.ContainsKey(option.OptionID) ? Model.Image.Prices[option.OptionID] : new AuthenticPhoto.Business.ProductTool.Price { StandardPrice = 0 };
                                            if (price.HasDiscount)
                                            {
                                                @Html.Raw("<span style='text-decoration: line-through; float:right'>" + AuthenticPhoto.Business.ProductTool.Formatting.PrintAsEuro(price.StandardPrice) +
                                        "</span>" + "<br/><span style='float:right'>" + AuthenticPhoto.Business.ProductTool.Formatting.PrintAsEuro(price.DiscountPrice) + "</span>");
                                            }
                                            else
                                            {
                                                @AuthenticPhoto.Business.ProductTool.Formatting.PrintAsEuro(price.StandardPrice);
                                            }
                                        }
                                </span>
                            </td>
                        </tr>
                    }
                }
            }

            @if (Model.Image.Testprint != AuthenticPhoto.Business.ProductTool.UploadedImage.TestPrintOption.None)
            {
                <tr>
                    <td>
                        Testprint
                    </td>
                    <td>
                        @{
                            switch (Model.Image.Testprint)
                            {
                                case AuthenticPhoto.Business.ProductTool.UploadedImage.TestPrintOption.A4:
                                    @Model.GetTranslation("ShowPreferences.Tabs.ImageData.TestprintA4")
                                    break;
                                case AuthenticPhoto.Business.ProductTool.UploadedImage.TestPrintOption.OneOne:
                                    @Model.GetTranslation("ShowPreferences.Tabs.ImageData.Testprint11")
                                    break;
                            }
                        }
                    </td>
                    <td>
                        <span class="price-label">
                            @AuthenticPhoto.Business.ProductTool.Formatting.PrintAsEuro(Model.Image.GetTestPrintPrice())
                        </span>
                    </td>
                </tr>
                            }

            @if (Model.Image.Softproof)
            {
                <tr>
                    <td>
                        @Model.GetTranslation("ShowPreferences.Tabs.ImageData.Softproof")
                    </td>
                    <td></td>
                    <td>
                        <span class="price-label">
                            @AuthenticPhoto.Business.ProductTool.Formatting.PrintAsEuro(Model.Image.GetSoftProofPrice())
                        </span>
                    </td>
                </tr>
            }
            @if (Model.Image.InspectBeforePrint || Model.Image.DontCut)
            {
                var extras = "";
                extras += Model.Image.InspectBeforePrint ? Model.GetTranslation("ShowPreferences.Tabs.ImageData.Inspect") : "";
                extras += Model.Image.DontCut ? (extras.Length > 0 ? ", " + Model.GetTranslation("ShowPreferences.Tabs.ImageData.DontCut") : Model.GetTranslation("ShowPreferences.Tabs.ImageData.DontCut")) : "";
                <tr>
                    <td>
                        @Model.GetTranslation("PriceDetails.Extras")
                    </td>
                    <td>
                        @extras
                    </td>
                    <td>
                        <span class="price-label">
                            @AuthenticPhoto.Business.ProductTool.Formatting.PrintAsEuro(0)
                        </span>
                    </td>
                </tr>
            }
            @if (Model.Image.Signature != null && Model.Image.Signature.SignatureActive)
            {
                <tr>
                    <td>
                        @Model.GetTranslation("PriceDetails.Signature")
                    </td>
                    <td>
                        @Model.GetSignatureDetailsString()
                        @if (Model.Image.Signature.SignatureDelivery.Equals(AuthenticPhoto.Business.ProductTool.SignDelivery.UploadNow))
                        {
                            <br />
                            <img class="microthumb" src="@Model.Image.Signature.GetSignatureThumb(Model.OrderID, Model.Image.ID)" />
                        }
                    </td>
                    <td>
                        <span class="price-label">
                            @AuthenticPhoto.Business.ProductTool.Formatting.PrintAsEuro(0)
                        </span>
                    </td>
                </tr>
            }

            @if (Model.Image.Signature.SignatureNoWarrantyLabel)
            {
                <tr>
                    <td>
                        @Model.GetTranslation("PriceDetails.Identification")
                    </td>
                    <td>
                        @Model.GetTranslation("ShowPreferences.Tabs.Signature.NoCertificate")
                    </td>
                    <td>
                        <span class="price-label">
                            @AuthenticPhoto.Business.ProductTool.Formatting.PrintAsEuro(0)
                        </span>
                    </td>
                </tr>
            }

            <tr>
                <td></td>
                <td>
                    <strong style="float: right;">@Model.GetTranslation("PriceDetails.Total"):</strong>
                </td>
                <td>
                    <strong class="price-label">
                        @AuthenticPhoto.Business.ProductTool.Formatting.PrintAsEuro(totalPriceImage)
                    </strong>
                </td>
            </tr>


            @if (!string.IsNullOrWhiteSpace(Model.Image.LabMessage))
            {
                <tr class="topBottomBorderedRow">
                    <td colspan="3">
                        <b>@Model.GetTranslation("ShowPreferences.Tabs.ImageData.LabMessage"): </b>
                        <span>@Model.Image.LabMessage</span>
                    </td>
                </tr>
            }


        </tbody>
    </table>
</div>
