﻿@model IPublishedContent
@{
    Layout = null;
}
<div class="row">
    @Html.GetGridHtml(Model, "grid", "ProductGrid")
</div>

<script type="text/javascript">
    $(document).ready(function () {
        initHoverImages();
        $("#versies").hide();
    });
</script>