﻿@using AuthenticPhoto.Controllers
@model AuthenticPhoto.Models.FinishingModel

<script type="text/javascript" src="@Url.Content("~/scripts/Calculator.js")"></script>

@foreach (AuthenticPhoto.Business.ProductTool.TranslatedString translatedString in Model.GetTranslationsToRender())
{
    @Html.Hidden("str" + translatedString.Key, translatedString.Value)
}

<div id="optionTypePickers">
</div>

<ul id="prefsTabs">
    <li class="activeTab" id="liPrefsCalculator">
        @Model.GetTranslation("Calculator.Title")
    </li>
</ul>

<div id="col_prefs">
    <div id="finishingPrefsDiv" class="redBox calcFinishingPrefsDiv">

        @{
            string selectedProductName;
            int selectedProductID;
            if (Model.Image.SelectedProduct == null)
            {
                selectedProductName = Model.GetTranslation("ShowPreferences.ChooseProduct");
                selectedProductID = 0;
            }
            else
            {
                selectedProductName = Model.Image.SelectedProduct.ProductFamily.Name[Model.LanguageCode] + " - " + Model.Image.SelectedProduct.Name[Model.LanguageCode];
                selectedProductID = Model.Image.SelectedProduct.ProductID;
            }
            string dim1 = Model.Image.Dim1 > 0 ? Convert.ToString(Model.Image.Dim1Cm) : "";
            string dim2 = Model.Image.Dim2 > 0 ? Convert.ToString(Model.Image.Dim2Cm) : "";
        }

        <label class="optiontype-label">@Model.GetTranslation("ShowPreferences.Tabs.ImageData.Dims")</label>
        <div class="paddingdiv" style="display:block">
            @Model.GetTranslation("ShowPreferences.Tabs.ImageData.Width")
            <input id="dim1" type="text" class="dimInput extraInput" data-valid="@(dim1.Equals("")?"0":"1")" value="@dim1" />
            cm&nbsp;&nbsp;x&nbsp;
            @Model.GetTranslation("ShowPreferences.Tabs.ImageData.Height")
            <input id="dim2" type="text" class="dimInput extraInput" data-valid="@(dim1.Equals("")?"0":"1")" value="@dim2" />
            &nbsp;&nbsp;cm
        </div>

        <ul id="productStep" class="orderStep" data-productid="@selectedProductID">

            <li style="width:95%">
                <label class="optiontype-label">@Model.GetTranslation("ShowPreferences.Tabs.ImageData.Product")</label>

                <div id="product-dropdownbox" class="graybordered dropdownbox">
                    <p class="prefblock">
                        <span class="preflabel">
                            @selectedProductName
                        </span>
                        <span class="glyphicon glyphicon-triangle-right ddb-icon" aria-hidden="true"></span>
                    </p>
                </div>
            </li>
        </ul>

        <div id="optionTypesDiv">
            @Html.Action("OptionTypeSet", "ProductTool", new { model = Model })
        </div>

        <ul id="extrasDiv" class="orderStep">
            <li style="width:95%">
                <label class="optiontype-label">Extra</label>

                <ul class="horizontal-ul graybordered extraslist">
                    <li><label for="extra-cb-tpa4">Testprint A4</label></li>
                    <li><input type="checkbox" id="extra-cb-tpa4" class="extra-checkbox" data-extra="tpa4" /></li>
                    <li><label for="extra-cb-tp11">Testprint 1:1</label></li>
                    <li><input type="checkbox" id="extra-cb-tp11" class="extra-checkbox" data-extra="tp11" /></li>
                    <li><label for="extra-cb-sp">@Model.GetTranslation("ShowPreferences.Tabs.ImageData.SoftproofPerEmail")</label></li>
                    <li><input type="checkbox" id="extra-cb-sp" class="extra-checkbox" data-extra="sp" /></li>
                </ul>

            </li>
        </ul>


        <div id="divOptionTypesLoading" style="display: none">
            <div id="oTypesloadingText"></div>
            <img src="/media/ajax-loader.gif" alt="loading" />
        </div>

    </div>
</div>
<div id="col_img" style="text-align: center; border: 0">
    <span class="timestamp-on-print">@DateTime.Now.ToString("dd/MM/yyyy HH:mm")</span>
    <div id="calcPriceDetailsPrefsDiv">
        <div id="phPriceDetails" class="paddingdiv" style="display: none">
            @Html.Action("PriceDetails", "ProductTool", new { img = Model.Image, orderID = Model.OrderID })
        </div>
        <span id="spanImageWeight" class="subtleLbl2" style="display: none">
            @Model.GetTranslation("ShowPrice.Weight"): <span id="lblImageWeight">@AuthenticPhoto.Business.ProductTool.Formatting.PrintAsKg(Model.Image.GetWeight())</span>
        </span>
        <a class="a-print" href="javascript:window.print()">
            <span class="glyphicon glyphicon-print" aria-hidden="true"></span>
        </a>
    </div>
    <p class="vat-info">
        <span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span>
        @Html.Raw(Model.GetTranslation("PriceDetails.ExclVAT.Explanation"))
    </p>
    <div class="extras-info">
        <span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span>
        <p>
            Info Testprint<br/>
            Softproof per email
        </p>
    </div>
</div>

<div id="info">
    @Html.Action("ProductInfo", "ProductTool", new { id = Model.GetActiveProductID() })
</div>

<script type="text/javascript">
    $(document).ready(function () {
        initCalculator();        
    });
</script>
