﻿@using AuthenticPhoto.Business.ProductTool
@model AuthenticPhoto.Models.PriceWeightViewModel
<table width="100%">
    <tr>
        <td width="65%">
            <div class="grayBlock priceBlockDiv">
                <label>@Model.GetTranslation("ShowPrice.PriceImage") <span class="smallprint">(@Model.GetTranslation("PriceDetails.ExclVAT"))</span></label>
                <img src="~/media/dots-loader.gif" alt="loading" width="15" id="imgLoadingTotalPrice" style="display:none" />
                <span class="glyphicon glyphicon-hourglass"></span>
                <div id="divImagePrice" class="priceBlockValue" data-price="@Model.ImagePrice">
                    <span>
                         @Formatting.PrintAsEuro(Model.ImagePrice)
                    </span>
                    <span id="lnkImagePriceDetails" class="subtleBtn">
                        @Model.GetTranslation("PriceDetails.Detail")
                    </span>
                </div>                
            </div>
        </td>
        <td width="35%">
            <div class="grayBlock priceBlockDiv">
                <label>@Model.GetTranslation("ShowPrice.Weight")</label>
                <span class="glyphicon glyphicon-hourglass"></span>
                <span id="lblImageWeight" class="priceBlockValue">
                    @Formatting.PrintAsKg(Model.ImageWeight)
                </span>
            </div>
        </td>
    </tr>
    <tr>
        <td>
            <div class="grayBlock priceBlockDiv">
                <label>@Model.GetTranslation("ShowPrice.TotalPrice") <span class="smallprint">(@Model.GetTranslation("PriceDetails.ExclVAT"))</span></label>
                <span class="glyphicon glyphicon-hourglass"></span>
                <div id="divTotalPrice" class="priceBlockValue">
                    <span id="lblTotalPrice">
                        @Formatting.PrintAsEuro(Model.TotalPrice)
                    </span>
                    <span id="lnkTotalPriceDetails" class="subtleBtn">
                        @Model.GetTranslation("PriceDetails.Detail")
                    </span>
                </div>
            </div>
        </td>
        <td>
            <div class="grayBlock priceBlockDiv">
                <label>@Model.GetTranslation("ShowPrice.TotalWeight")</label>
                <span class="glyphicon glyphicon-hourglass"></span>
                <span id="lblTotalWeight" class="priceBlockValue">
                    @Formatting.PrintAsKg(Model.TotalWeight)
                </span>
            </div>
        </td>
    </tr>
</table>