﻿@model AuthenticPhoto.Models.ThumbsListModel

<ul id="thumbs">
    @for (int i = 0; i < Model.UploadedImages.Count; i++)
            {
                var uploadedImage = Model.UploadedImages[i];
                bool active = uploadedImage.ID == Model.ActiveImageID;
                var thumbWidth = uploadedImage.ThumbWidth / 5;
                var thumbHeight = uploadedImage.ThumbHeight / 5;
                int readyForCheckout = uploadedImage.IsReadyForCheckout() ? 1 : 0;
                int productID = uploadedImage.SelectedProduct != null ? uploadedImage.SelectedProduct.ProductID : 0;

        <li data-imgid="@uploadedImage.ID" data-ready="@readyForCheckout">
            <img class="thumbStatusIcon thumbStatusWarning" src="/images/warning.png" style="display: none" title="@Model.GetTranslation("ShowPreferences.CompletePreferencesForImage")" />
            <img class="thumbStatusIcon thumbStatusComplete" src="/images/ok.png" style="display: @(readyForCheckout==0? "none":"block")" title="@Model.GetTranslation("ShowPreferences.PreferencesComplete")" />
            <div style="background-image: url(@uploadedImage.GetThumbSource()); background-size: @{@thumbWidth}px @{@thumbHeight}px; width: @{@thumbWidth}px; height: @{@thumbHeight}px;" data-imgid="@uploadedImage.ID" class="thumb @( active ? " thumbSelected": "" )" data-selectedproductid="@productID" data-isprocessed="@(uploadedImage.IsProcessed ? "1" : "0")">
                <a class="deleteImg">
                    <img src="~/media/close.png" alt="delete" />
                </a>
            </div>
        </li>
    }
</ul>