﻿@using AuthenticPhoto.Business.ProductTool.Entities;
@model AuthenticPhoto.Models.CheckoutProductViewModel

<tr class="bottomBorderedRow">
    <td class="bottomBorderedCell" style="text-align:center">
        <label class="title-label">
            @Model.CheckoutProduct.Name[Model.LanguageCode]
        </label>       
    </td>
    <td>
        @Model.GetTranslation("ShowPreferences.Tabs.ImageData.Qty")
    </td>
    <td>
        <strong>@Model.CheckoutProduct.Qty</strong>
    </td>
    <td>
        <span class="price-label">
            @AuthenticPhoto.Business.ProductTool.Formatting.PrintAsEuro(Model.CheckoutProduct.Qty * Model.CheckoutProduct.Price)
        </span>
    </td>
</tr>
