﻿@using AuthenticPhoto.Business.ProductTool.Entities;
@using AuthenticPhoto.Business.ProductTool;
@model AuthenticPhoto.Models.TotalPriceDetailsViewModel

<div id="tblOrderWrapper">
    <table id="tblOrder" class="tblOrder">
        @if (!Model.CheckoutPageView)
        {
            <thead>
                <tr>
                    <th colspan="2"><span class="glyphicon glyphicon-triangle-top btnTblOrderCollapse"></span></th>
                    <th colspan="2"><span style="float:right;" class="glyphicon glyphicon-triangle-top btnTblOrderCollapse"></span></th>
                </tr>
            </thead>
        }
        <tbody>
            @{
                if (Model.Order.Images.Count == 0)
                {
                    System.Diagnostics.StackTrace t = new System.Diagnostics.StackTrace();
                    <tr><td colspan="4">NO IMAGES IN MODEL, stacktrace:<br /><span>@t.ToString()</span></td></tr>
                }
                foreach (UploadedImage image in Model.Order.Images)
                {
                    @Html.Action("TotalPriceDetailsRow", "ProductTool", new { img = image, orderID = Model.Order.OrderID });
                }
                foreach (CheckoutProduct checkoutProduct in Model.Order.SelectedCheckoutProducts)
                {
                    @Html.Action("TotalPriceDetailsCheckoutProductRow", "ProductTool", new { checkoutProduct = checkoutProduct });
                }
                decimal totalExclHandlingAndVat = Model.Order.GetTotalPriceExclVatHandling();
            }
            <tr>
                <td style="background-color: #eee" colspan="3">
                    @if (totalExclHandlingAndVat > 0)
                    {
                        <strong style="float:right">@Model.GetTranslation("PriceDetails.TotalOrder"):</strong>
                    }
                </td>
                <td style="background-color: #eee">
                    @if (totalExclHandlingAndVat > 0)
                    {
                        <strong class="price-label">
                            @Formatting.PrintAsEuro(totalExclHandlingAndVat)
                        </strong>
                    }
                </td>
            </tr>

        </tbody>
    </table>

    <a class="a-print" href="javascript:window.print()">
        <span class="glyphicon glyphicon-print" aria-hidden="true"></span>
    </a>

</div>
@*@if (Model.ShowVat)
    {
        <table id="tblPriceRecap" class="tblOrder" cellpadding="5" cellspacing="5">
            @{
                decimal vat = totalExclHandingAndVat * (decimal)0.21;
                decimal grandTotal = totalExclHandingAndVat + vat;
            }
            <tr>
                <td>Total Price Ex. VAT &amp; Handling:</td>
                <td width="125px">
                    @Formatting.PrintAsEuro(totalExclHandingAndVat)
                </td>
            </tr>

            <tr id="recapHandlingRow" style="display:none">
                <td>
                    Handling:
                </td>
                <td></td>
            </tr>

            <tr id="recapVatRow" style="display:none">
                <td>
                    VAT:
                </td>
                <td>
                    @Formatting.PrintAsEuro(vat)
                </td>
            </tr>
            <tr id="recapPayableRow" style="display:none">
                <td>Payable:</td>
                <td>
                    <span id="lblGrandTotal">
                        @Formatting.PrintAsEuro(grandTotal)
                    </span>
                </td>
            </tr>
        </table>
                }*@











